.card-wrapper
form(name="card.form", novalidate, data-ng-submit="card.send()")
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="cardName",data-ng-bind="card.labels.form.name")
      input(name="cardName", data-ng-model="card.info.name", required)
      div(ng-messages="card.form.cardName.$error")
        div(ng-message="required")
          |Es requerido
    md-input-container.md-block
      label(for="cardNumber",data-ng-bind="card.labels.form.number")
      input(name="cardNumber", data-ng-model="card.info.number", validate-card)
      div(ng-messages="card.form.cardNumber.$error")
        div(ng-message="validateCard")
          |Número de tarjeta invalido.
    md-input-container.md-block
      label(for="cvc",data-ng-bind="card.labels.form.cvc")
      input(name="cvc", data-ng-model="card.info.cvc", validate-cvc)
      div(ng-messages="card.form.cvc.$error")
        div(ng-message="validateCvc")
          |Código de seguridad invalido.
    div
      .row
        .col-xs-12.col-sm-5
          md-input-container.md-block
            label(data-ng-bind="card.labels.form.expirationMonth")
            md-select(name="month", data-ng-model="card.info.exp_month")
              md-option(data-ng-repeat="item in card.months", value="{{item}}")
                |{{item}}
        .col-xs-2
        .col-xs-12.col-sm-5
          md-input-container.md-block
            label(data-ng-bind="card.labels.form.expirationYear")
            md-select(name="month", data-ng-model="card.info.exp_year")
              md-option(data-ng-repeat="item in card.years", value="{{item}}")
                |{{item}}
    .align-center
      md-button.md-raised.md-primary(type="submit", data-ng-bind="card.labels.form.save", aria-label="card.labels.form.save")