.menu-container
  .menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
.privacy-container
  .logo-color
  h1.align-center
    |ARTICULOS Y MATERIALES PROHIBIDOS EN ENVÍOS.
  p
    |Los siguientes artículos están prohibidos para su envío a todos los países donde todos nuestros aliados brindan servicio:
  ul
    li
      |Armas de fuego y blancas
    li
      |Artículos de joyería y piedras preciosas
    li
      |Artículos perecederos ó de fácil descomposición
    li
      |Bebidas alcohólicas
    li
      |Documentos negociables (dinero, cheques, títulos, valores etc.)
    li
      |Estupefacientes y substancias psicotrópicas
    li
      |Mercancías de contrabando
    li
      |Material pornográfico
    li
      |Muestras de laboratorio
    li
      |Plantas y animales vivos o muertos
    li
      |Piel y cuero de animal
    li
      |Vidrio y cristal en cualquier presentación
    li
      |Explosivos, gases comprimidos y líquidos ó sólidos inflamables
    li
      |Medicamento controlado y de circulación
    li
      |Objetos magnéticos, materiales oxidantes y radioactivos
    li
      |Artículos tóxicos, materiales irritantes, substancias infecciosas
    li
      |Refacciones con residuos líquidos
    li
      |Líquidos
    li
      |Cadáveres, restos cremados o exhumados
    li
      |Materiales o líquidos que despiden malos olores o sean corrosivos, inflamables o peligrosos en su manejo
    li
      |Muebles, motores y productos electromecánicos que excedan los límites       establecidos en peso y volumen
    li
      |Materiales de deshecho y/o con defectos
    li
      |Muestrario de cualquier clase de bienes
    li
      |Antigüedades ó piezas de arte
    li
      |Harina de pescado
    li
      |Huevo para consumo e incubación
    li
      |Algodón en ramo y/o hueso
    li
      |Menajes de casa habitación
    li
      |Y en general todos aquellos artículos restringidos por la Ley Federal y/o IATA
    li
      |Aletas de tiburón
    li
      |Timbres postales
    li
      |Marfil
  p
    |También están prohibidos: mercancías trasladadas mediante el Carnet de ATA y todas las exportaciones e importaciones temporales; mercancías trasladadas bajo FCR, FCT y CAD (Efectivo por Documentos); envíos con defectos visibles, que por su naturaleza podrían perjudicar, afectar o dañar a personas, mercancía o equipo; mercancías cuyo transporte esté prohibido por ley en el país de origen, de tránsito o de destino (por ej., marfil y productos en marfil), mercancías que exigen impuestos de consumo o que requieren instalaciones, precauciones de seguridad o permisos especiales. Bajo la ley aplicable, ciertas mercancías pueden ser transportadas solo bajo condiciones prescritas y ciertas mercancías están prohibidas para su transporte por aire (p. ej., líquidos en recipientes de vidrio).
  p
    |Es responsabilidad del remitente cumplir con las regulaciones gubernamentales de hoy día o las leyes aplicables en cada país. Los envíos están sujetos a inspección y posibles demoras por parte de aduanas o de representantes de otras agencias del gobierno.
  p
    |Nos reservamos el derecho de rechazar o suspender el transporte de cualquier paquete que no indique detalles del contacto del remitente y del destinatario y de mercancías que, según nuestra opinión, no sean viables para el transporte o no estén adecuadamente descritas, clasificadas o empacadas y etiquetadas de manera correcta para el transporte y acompañadas por la documentación necesaria.
  p
    |No transportaremos mercancías que estén prohibidas por ley o regulaciones de cualquier gobierno federal, estatal o local en los países de origen o de destino o que puedan violar cualquier ley aplicable de exportación, importación u otra o que ponga en peligro la seguridad de nuestros empleados, agentes y subcontratistas o el medio de transporte o lo que, para nosotros, pueda afectar, pintar o dañar de alguna otra manera otras mercancías o equipos o cuyo transporte sea impráctico desde lo económico u operativo.
div(data-ng-include="'app/templates/footer.template.html'")