/* line 2, src/client/common/styles/main.sass */
body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7 !important;
  font-size: 16px; }

/* line 8, src/client/common/styles/main.sass */
* {
  -webkit-overflow-scrolling: touch;
  outline: none; }

/* line 12, src/client/common/styles/main.sass */
a, a:active, a:hover, a:visited {
  color: inherit;
  text-decoration: none; }

/* line 16, src/client/common/styles/main.sass */
.pt-5 {
  padding-top: 30px; }

/* line 18, src/client/common/styles/main.sass */
.mt-5 {
  margin-top: 30px; }

/* line 21, src/client/common/styles/main.sass */
.maintenance {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white; }
  /* line 30, src/client/common/styles/main.sass */
  .maintenance img {
    position: absolute;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

/* line 39, src/client/common/styles/main.sass */
.no-margin {
  margin: 0; }

/* line 42, src/client/common/styles/main.sass */
.align-center {
  text-align: center; }

/* line 45, src/client/common/styles/main.sass */
.align-right {
  text-align: right; }

/* line 48, src/client/common/styles/main.sass */
.height-100 {
  height: 100%;
  overflow: auto; }

/* line 52, src/client/common/styles/main.sass */
.anchor-section {
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.5); }
  /* line 57, src/client/common/styles/main.sass */
  .anchor-section:hover {
    color: #FA4F0C; }

/* line 60, src/client/common/styles/main.sass */
.margin-auto {
  margin: 0 auto; }

/* line 62, src/client/common/styles/main.sass */
.margin-top-1 {
  margin-top: 1rem; }

/* line 64, src/client/common/styles/main.sass */
.margin-right-1 {
  margin-right: 1rem; }

/* line 66, src/client/common/styles/main.sass */
.margin-left-1 {
  margin-left: 1rem; }

/* line 68, src/client/common/styles/main.sass */
.margin-top-2 {
  margin-top: 2rem; }

/* line 70, src/client/common/styles/main.sass */
.margin-bottom-2 {
  margin-bottom: 2rem; }

/* line 72, src/client/common/styles/main.sass */
.margin-top-3 {
  margin-top: 3rem; }

/* line 74, src/client/common/styles/main.sass */
.padding-top-1 {
  padding-top: 1.8rem; }

/* line 76, src/client/common/styles/main.sass */
.margin-top-4 {
  margin-top: 4rem; }

/* line 78, src/client/common/styles/main.sass */
.padding-left-2 {
  padding-left: 2rem; }

/* line 81, src/client/common/styles/main.sass */
.margin-bottom-1 {
  margin-bottom: 1rem; }

/* line 84, src/client/common/styles/main.sass */
.margin-bottom-2 {
  margin-bottom: 2rem; }

/* line 87, src/client/common/styles/main.sass */
.margin-bottom-3 {
  margin-bottom: 3rem; }

/* line 90, src/client/common/styles/main.sass */
.center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 96, src/client/common/styles/main.sass */
[class*="col-"] {
  padding: 0; }

/* line 99, src/client/common/styles/main.sass */
.padding-top-bottom {
  padding: 20px 0; }

/* line 101, src/client/common/styles/main.sass */
.padding-side {
  padding: 0px 20px; }

/* line 103, src/client/common/styles/main.sass */
.padding-left {
  padding: 20px 10px 20px 20px; }

/* line 105, src/client/common/styles/main.sass */
.padding-right {
  padding: 20px 20px 10px 20px; }

/* line 107, src/client/common/styles/main.sass */
.container-fluid {
  padding: 0;
  margin: 0; }

/* line 111, src/client/common/styles/main.sass */
.row {
  margin: 0 !important; }

/* line 114, src/client/common/styles/main.sass */
.message {
  color: #dd2c00;
  font-size: 14px; }

/* line 118, src/client/common/styles/main.sass */
md-datepicker {
  width: 200px; }

/* line 121, src/client/common/styles/main.sass */
md-input-container.md-input-small .md-errors-spacer {
  min-height: 10px;
  height: 10px; }

/* line 127, src/client/common/styles/main.sass */
.blend.black {
  color: rgba(0, 0, 0, 0.7); }

/* line 132, src/client/common/styles/main.sass */
a.accent {
  color: #f38b00; }
  /* line 134, src/client/common/styles/main.sass */
  a.accent:hover {
    text-decoration: underline; }

/* line 137, src/client/common/styles/main.sass */
.accent {
  color: #f38b00; }

/* line 139, src/client/common/styles/main.sass */
.secondary-accent {
  color: #FA4F0C; }

/* line 141, src/client/common/styles/main.sass */
.disabled-color {
  color: rgba(0, 0, 0, 0.5); }

/* line 143, src/client/common/styles/main.sass */
.light {
  font-weight: 300; }

/* line 145, src/client/common/styles/main.sass */
.bold {
  font-weight: 700; }

/* line 147, src/client/common/styles/main.sass */
.relative {
  position: relative; }

/* line 149, src/client/common/styles/main.sass */
.medium-font {
  font-size: 2rem; }

/*select*/
/* line 152, src/client/common/styles/main.sass */
.select-box {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  width: 300%;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 50px;
  display: inline-block;
  z-index: 10;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  /* line 165, src/client/common/styles/main.sass */
  .select-box.left {
    width: 150%;
    left: -50%; }
  /* line 169, src/client/common/styles/main.sass */
  .select-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 700; }
    /* line 175, src/client/common/styles/main.sass */
    .select-box ul li.select-item {
      padding: 10px;
      border-bottom: 2px solid #FFF;
      cursor: pointer;
      position: relative; }
      /* line 180, src/client/common/styles/main.sass */
      .select-box ul li.select-item .absolute-item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      /* line 186, src/client/common/styles/main.sass */
      .select-box ul li.select-item:last-child {
        border-bottom: 0; }
      /* line 188, src/client/common/styles/main.sass */
      .select-box ul li.select-item:hover {
        background-color: #f38b00; }
        /* line 190, src/client/common/styles/main.sass */
        .select-box ul li.select-item:hover span.main {
          color: #FFF; }
      /* line 193, src/client/common/styles/main.sass */
      .select-box ul li.select-item span.main {
        display: block;
        font-size: 1.7rem;
        color: #FA4F0C; }

/*select*/
/* line 199, src/client/common/styles/main.sass */
.country-container {
  position: relative; }

/* line 201, src/client/common/styles/main.sass */
.country-data {
  font-family: 'Roboto';
  font-size: 1.8rem;
  font-weight: 700;
  padding: 13px 10px 5px 10px;
  cursor: pointer;
  height: 50px; }
  /* line 208, src/client/common/styles/main.sass */
  .country-data i {
    color: #f38b00; }
  /* line 210, src/client/common/styles/main.sass */
  .country-data:hover {
    background-color: #f38b00;
    border-radius: 5px;
    color: #FFF; }
    /* line 214, src/client/common/styles/main.sass */
    .country-data:hover i {
      color: #FFF; }

/* line 216, src/client/common/styles/main.sass */
.flag-icon {
  margin-right: 5px; }

/* line 218, src/client/common/styles/main.sass */
span.country-code {
  text-transform: uppercase; }

/* line 220, src/client/common/styles/main.sass */
span.country-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  overflow: hidden; }

/* line 228, src/client/common/styles/main.sass */
.capitalize {
  text-transform: capitalize; }

/* line 231, src/client/common/styles/main.sass */
.pointer {
  cursor: pointer; }

/* line 234, src/client/common/styles/main.sass */
.logo-link {
  display: block;
  width: 167px;
  height: 50px;
  background: url("images/logo-text.png") no-repeat;
  background-size: cover; }
  /* line 240, src/client/common/styles/main.sass */
  .logo-link.white {
    background-position: 100% 0; }
  /* line 242, src/client/common/styles/main.sass */
  .logo-link.center {
    margin: 0 auto; }

/* line 244, src/client/common/styles/main.sass */
.logo-complete-link {
  display: block;
  width: 131px;
  height: 114px;
  background: url("images/logo-white.png") no-repeat;
  background-size: cover; }
  /* line 250, src/client/common/styles/main.sass */
  .logo-complete-link.white {
    background-position: 100% 0; }
  /* line 252, src/client/common/styles/main.sass */
  .logo-complete-link.center {
    margin: 0 auto; }

/* line 255, src/client/common/styles/main.sass */
.underline {
  text-decoration: underline;
  font-weight: bold; }

/* line 258, src/client/common/styles/main.sass */
.uppercase {
  text-transform: uppercase; }

/* line 261, src/client/common/styles/main.sass */
.section-space-right {
  padding-right: 15px; }

/* line 264, src/client/common/styles/main.sass */
.section-space-left {
  padding-left: 15px; }

/* line 267, src/client/common/styles/main.sass */
.error {
  color: red !important; }

/* line 270, src/client/common/styles/main.sass */
.success {
  color: green; }

/* line 272, src/client/common/styles/main.sass */
.success-checkout {
  text-align: center; }
  /* line 274, src/client/common/styles/main.sass */
  .success-checkout i {
    color: green;
    font-size: 14rem; }

/* line 279, src/client/common/styles/main.sass */
iframe {
  position: absolute;
  top: -100px; }

/* line 282, src/client/common/styles/main.sass */
div.zopim iframe {
  top: 0; }

/* line 285, src/client/common/styles/main.sass */
.md-primary {
  font-size: 1.5rem;
  color: #FFF !important;
  font-family: 'Roboto';
  font-weight: 700; }

/* line 293, src/client/common/styles/main.sass */
table.info-table td, table.info-table th {
  padding: 20px 20px 0 0; }

/* line 296, src/client/common/styles/main.sass */
.col-centered {
  float: none;
  margin: 0 auto; }

/* line 300, src/client/common/styles/main.sass */
.navs.mobile {
  top: 18px;
  right: 10px;
  position: absolute;
  padding-right: 10px; }

/* line 306, src/client/common/styles/main.sass */
.menu-mobile {
  position: fixed;
  right: -300px;
  top: 0;
  background-color: #f38b00;
  color: #FFF;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.8rem;
  width: 300px;
  height: 105vh;
  z-index: 5;
  -webkit-transition: right 0.4s;
  transition: right 0.4s; }
  /* line 320, src/client/common/styles/main.sass */
  .menu-mobile.active {
    right: 0; }
  /* line 323, src/client/common/styles/main.sass */
  .menu-mobile nav {
    cursor: pointer;
    padding: 5px 20px; }
    /* line 326, src/client/common/styles/main.sass */
    .menu-mobile nav:hover {
      background-color: #FFF;
      color: #f38b00; }

/*media query defaults*/
/* line 332, src/client/common/styles/main.sass */
.navs.mobile {
  display: none; }

/*media query defaults*/
/* line 337, src/client/common/styles/main.sass */
.opacity-privacy {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  z-index: 10000000000;
  overflow: scroll; }

/* line 346, src/client/common/styles/main.sass */
.privacy-container {
  width: 70%;
  margin: 0 auto;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 50px; }

/* line 352, src/client/common/styles/main.sass */
.close-privacy {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 5rem;
  cursor: pointer;
  color: #CCC; }
  /* line 359, src/client/common/styles/main.sass */
  .close-privacy:hover {
    color: #f38b00; }

/* line 362, src/client/common/styles/main.sass */
.container-padding {
  padding: 100px 0; }

/* line 365, src/client/common/styles/main.sass */
.tooltipText {
  font-size: 2rem;
  height: 50px;
  overflow: auto;
  max-width: 300px; }

/* line 371, src/client/common/styles/main.sass */
table.confirm-order {
  text-align: center;
  width: 100%; }
  /* line 374, src/client/common/styles/main.sass */
  table.confirm-order h1, table.confirm-order h2, table.confirm-order h3, table.confirm-order h4 {
    margin: 0; }
  /* line 376, src/client/common/styles/main.sass */
  table.confirm-order td {
    padding: 5px; }

/* line 379, src/client/common/styles/main.sass */
.border-top {
  border-top: solid 2px rgba(0, 0, 0, 0.5); }

/* line 382, src/client/common/styles/main.sass */
.md-body-1 {
  font-size: 16px !important; }

/* line 385, src/client/common/styles/main.sass */
textarea.checkout-area {
  width: 100%;
  height: 200px;
  margin: 0 auto; }

/* line 391, src/client/common/styles/main.sass */
.specs-list ul {
  list-style: none;
  background-color: white; }

/* line 396, src/client/common/styles/main.sass */
.specs-list .specs-list-item span {
  padding-left: 10px; }
