@import "colors";
  
@media screen and (max-width: 768px)
  .padding-footer
    text-align: center
  .cotizador-document,.cotizador-box
    position: initial
  .cotizador-element-box.complex
    height: auto
  .section-space-right
    padding-right: 0
  .section-space-left
    padding-left: 0
  .form-container
    h1
      font-size: 3rem
    .payment-name
      font-size: 2rem
    .confirm-title
      font-size: 2.3rem
      font-weight: bold
    .board-list
      font-size: 1.8rem
  .card-select, .card-item
    i
      &.fa-circle
        font-size: 0.8rem
      &.big
        font-size: 2.5rem
    span.last4
      font-size: 2.5rem
  .table-container
    width: 100%
    max-width: 300px
  .table-box
    width: 100%
    height: auto
    float: none
    &.big-table-box
      width: 100%
    &.service-logo
      display: block;
  .login-home
    display: none
  .tracking-home
    display: none
  .logo-color
    &.logo-home
      margin-top: 50px
  .home-menu
    top: 0
    right: 10px
    &.active
      right: 3%
  .section-description
    width: 90%
    padding: 50px 0
    h1
      text-align: center
      font-size: 4rem
    h2
      text-align: center  
      font-size: 3rem
    .section-image
      width: 100%
      &.image-left
        left: 0
        &.active
          // left: 0
          opacity: 1
      &.image-right
        right: 0
        &.active
          // right: 0
          opacity: 1
    .more-info, .more-info-right
      margin: 20px 0
  .big-text
    font-size: 5rem
    h1
      font-size: 3rem
  .more-info-section
    .description
    h1
      text-align: center
      font-size: 4rem
    h2
      text-align: center
      font-size: 2rem
  .ups-box
    width: 50%
    img
      height: 50px
  .fedex-box
    width: 50%
  .redpack-box
    width: 50%
  .dhl-box
    width: 50%
  .aeroflash-box
    width: 50%
  .estafeta-box
    width: 50%
  .ivoy-box
    width: 50%
  .ampm-box
    width: 50%

// @media screen and (max-width: 320px)
@media screen and (max-width: 400px)
  .page-attribute
    h1
      text-align: center
      font-size: 3rem
    h2
      font-size: 2rem
      line-height: 1.3em
  .ups-box
    width: 100%
    img
      height: 80px
  .fedex-box
    width: 100%
  .redpack-box
    width: 100%
  .dhl-box
    width: 100%
  .aeroflash-box
    width: 100%
  .estafeta-box
    width: 100%
  .ivoy-box
    width: 100%
  .ampm-box
    width: 100%

  .rate-params
    .title-params
      span.primary-color
        font-size: 4rem 
      
@media screen and (max-width: 950px)
  .menu-tabs
    .navs.desktop
      display: none
    .navs.mobile
      display: block
    .menu-logo
      float: none
      padding: 0
      margin-top: 13px
      .logo-link
        margin: 0 auto
@media screen and (min-width: 1000px) and (max-width: 1100px)
  .cotizador-type
    font-size: 1.5rem
  .cotizador-element
    h3
      font-size: 2rem !important
  .box-attr
    font-size: 1.3rem


@media screen and (min-width: 1015px) and (max-width: 1181px)
  .table-box.attr-img
    display: none
  .table-container
    width: 850px

@media screen and (min-width: 755px) and (max-width: 1014px)
  // .table-box.attr-img
    // display: none
  .table-container
    width: 500px

.rated-text:not(:root:root)
  font-weight: 400
  // display: none