h1.align-center
  |AVISO DE PRIVACIDAD
p
  |En cumplimiento con lo establecido por la Ley en su artículo 16, fracción II de la Constitución Política de los Estados Unidos Mexicanos y buenas prácticas en materia de privacidad y protección de datos personales a nivel internacional, La Ley Federal de Protección de Datos Personales en Posesión de Particulares (LFPDPPP), su reglamento, los Lineamientos del Aviso de Privacidad, y demás normativa aplicable a la materia la sociedad denominada CVG TRADING S.A. DE C.V.  (Paquete.MX) domicilio que para los efectos del presente Aviso es el ubicado en Norte 176 No. 681 PB-1, Colonia Pensador Mexicano, Delegación Venustiano Carranza, C.P. 15510 en la Ciudad de México tiene como fin informarle el tipo de datos personales que recabamos de Usted, cómo los usamos, manejamos y aprovechamos, y con quien los compartimos, con el objetivo de garantizar su derecho a la autodeterminación informativa, pone a su disposición el siguiente Aviso de Privacidad:
h2
  |1.- Generales
p
  |Usted (“Titular”) al ingresar y utilizar el Sitio, declara que está entendiendo y aceptando los términos y las condiciones contenidos en este Aviso y otorga expresamente su aceptación y consentimiento utilizando para tal efecto medios electrónicos, en términos de lo dispuesto por el artículo 1803 del Código Civil Federal.
p
  |Si Usted (“Titular”) no acepta en forma absoluta y completa los términos y condiciones de este Aviso, deberá abstenerse de proporcionar cualquier tipo de dato personal a 
  span.bold
    |&nbsp;Paquete.MX 
  |&nbsp;por cualquier medio, incluyendo el Sitio.
p
  |Para el caso en que Usted (“Titular”) acepte los presentes términos y/o proporcione a 
  span.bold
    |&nbsp;Paquete.MX
  |&nbsp;sus datos personales, dicha acción se considerará como su absoluta y expresa aceptación al Aviso. 
p
  |Las partes declaran que al no existir error, dolo, mala fe o cualquier otro vicio de la voluntad que pudiera nulificar la validez del presente instrumento, ambas acuerdan en sujetarse al tenor de lo estipulado en las siguientes:
h2
  |2.- Definiciones 
p
  |2.1. Titular- La persona física (TITULAR) a quien identifican o corresponden los datos personales. 
p
  |2.2. Responsable- Persona física o moral (CVG Trading S.A. de C.V.) de carácter privado que decide sobre el tratamiento de los datos personales.
p
  | 2.3. Encargado- La persona física o moral que sola o conjuntamente con otras trate datos personales por cuenta del responsable.
p
  |2.4. Tratamiento- La obtención, uso (que incluye el acceso, manejo, aprovechamiento, transferencia o disposición de datos personales), divulgación o almacenamiento de datos personales por cualquier medio. 
p
  |2.4.1. Transferencia- Toda comunicación de datos realizada a persona distinta del responsable o encargado del tratamiento. 
p
  |2.4.2. Remisión- La comunicación de datos personales entre el responsable y el encargado, dentro o fuera del territorio mexicano. 
p
  |2.5. Derechos ARCO- Derechos de acceso, rectificación, cancelación y oposición. 
p
  |2.6. Consentimiento Tácito- Se entenderá que el TITULAR ha consentido en el tratamiento de los datos, cuando habiéndose puesto a su disposición el Aviso, no manifieste su oposición.  
p
  |2.7. Finalidades Primarias- Aquellas finalidades para las cuales se solicitan principalmente los datos personales y por lo que se da origen a la relación entre Paquete y EL TITULAR. 
P
  |2.8. Finalidades Secundarias- Aquellas finalidades que no son imprescindibles para la relación entre Paquete y EL TITULAR, pero que con su tratamiento contribuye al cumplimiento del objeto social de Paquete.
h2
  |3. Medios de obtención de Datos Personales
p
  |Los datos personales que
  span.bold
    |&nbsp;Paquete.MX
  |&nbsp;recabe de usted, serán destinados únicamente para los fines descritos en el presente aviso de privacidad y podrán ser recabados:
ul
  li
    |De manera directa, ingresando sus datos o utilizando los servicios en línea a través de la página www.paquete.mx
  li
    |De manera personal, a través de nuestros representantes de servicio.
p
  |3.1 Datos recabados
p
  |Los datos que
  span.bold
    |&nbsp;Paquete.MX
  |&nbsp;recabe de usted, serán los siguientes: 
ul
  li
    |a) Nombre y apellidos del Remitente y Destinatario.
  li
    |b) Dirección completa del Remitente y Destinatario.
  li
    |c) Correo Electrónico del Remitente y Destinatario.
  li
    |d) Número Telefónico del Remitente y Destinatario.
  li
    |e) Datos fiscales del Contratante.
  li
    |f) Datos de tarjetas o cuentas bancarias.
p
  |Y aquellos datos que resulten necesarios para completar y administrar los envíos solicitadas por usted.
p
  span.bold
    |&nbsp;Paquete.MX
  |&nbsp;no recaba ni trata datos personales sensibles.
p
  |3.2 Finalidad de los Datos Personales recabados
p
  |Sus datos personales serán recabados para las siguientes finalidades principales que son necesarias para el servicio que solicita:
ul
  li
    p
      |Procesamiento, seguimiento, actualización, modificación, cancelación y confirmación de los servicios por usted solicitados con Paquete,MX a través de sus medios, con fines financieros y crediticios, para dar cumplimiento a las obligaciones contraídas con usted y con nuestros proveedores.
    p
      |Y de manera accesoria, utilizaremos su información personal para las siguientes finalidades que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan una mejor atención:
  li
    |Evaluar la calidad del servicio, realizar sondeos sobre hábitos y preferencias de envío, para participar en programas de lealtad, implementación y desarrollo de campañas publicitarias, así como para el envío de promociones, ofertas, servicios y fines publicitarios (Única y exclusivamente para 
    span.bold
      |&nbsp;Paquete.MX
    |).
h3
  |Finalidades Primarias:
p
  |Su información personal será utilizada únicamente para dar cumplimiento a las obligaciones que hemos contraído con usted, siendo estos fines:
ul
  li
    |1) Proveer los servicios solicitados;
  li
    |2) Comunicarle sobre cambios en los mismos;
  li
    |3) Atender quejas, sugerencias y solicitudes derivadas de los servicios contratados;
  li
    |4) Verificar la existencia de cobertura en su domicilio;
  li
    |5) Facturación y cobranza de los servicios contratados;
  li
    |6) Evaluar la calidad del servicio que brindamos, para dar cumplimiento a las obligaciones que hemos contraído con usted;
  li
    |7) Contactarle a usted y a sus contactos y/o referencias para dar seguimiento a cualquier tema relacionado con los Servicios o con las presentes finalidades.
h3
  |Finalidades Secundarias.
ul
  li
    |1) Notificarle sobre nuevos servicios o productos que tengan relación con lo ya contratados o adquiridos;
  li
    |2) Realizar estudios sobre hábitos de consumo y de mercado
h2
  |4. Redes sociales
p
  |En nuestro sitio web, agregamos vínculos a varios servicios de redes sociales (Facebook, Twitter, Instagram, Spotify). Al hacer clic en el símbolo que corresponde o el nombre completo, será direccionado al sitio web del servicio pertinente.
p
  |Si selecciona el símbolo “Compartir” y elige un servicio de redes sociales, puede publicar un evento (como un resultado de búsqueda específico) en el sitio web de este servicio.
p
  |Si visita el vínculo de uno de los servicios que aparecen debajo de la línea de texto “Síguenos”, podrá seguir nuestras actividades en la plataforma del servicio elegida.
p
  |En los sitios web de servicios de redes sociales, aplican las políticas de privacidad de datos y los términos de uso de cada servicio.
  span.bold
    |&nbsp;Paquete.MX 
  |&nbsp;no participa en la recopilación, el procesamiento y el uso de datos en estos sitios web.
h2
  |5. Conexión con Facebook
p
  |Puede registrarse e iniciar sesión con su cuenta de Facebook. Si se registra con Facebook, Facebook le pedirá permiso para compartir con
  span.bold
    |&nbsp;Paquete.MX
  |&nbsp;determinada información de su cuenta de Facebook. Esto puede incluir su nombre, apellido, dirección de correo electrónico para que podamos verificar su identidad y sexo, ubicación general, un vínculo a su perfil de Facebook, su uso horario, fecha de cumpleaños, fotografía de perfil, sus “me gusta” y su lista de amigos.
p
  |Facebook recopila esta información y nos la proporciona bajo los términos de su Política de privacidad de Facebook. Puede controlar la información que recibimos de Facebook mediante la configuración de privacidad de su cuenta de Facebook.
p
  |Si se registra en
  span.bold
    |&nbsp;Paquete.MX
  |&nbsp;mediante Facebook, su cuenta de
  span.bold
    |&nbsp;Paquete.MX
  |&nbsp;estará conectada automáticamente a su cuenta de Facebook y la información sobre sus actividades en Paquete podría ser compartida con Facebook y publicada en su biografía y en el feed de noticias de sus amigos de Facebook.
h2
  |6. Transferencias de datos.
p
  |Transferencia de datos, nacional e internacional en virtud de lo expuesto en los artículos 36 y 37 de la LFPDPPP sus datos personales podrán ser transferidos con la finalidad de dar cumplimiento a las obligaciones derivadas de la relación jurídica con usted, así como aquellas finalidades previstas en este Aviso de Privacidad,
  span.bold
    |&nbsp;Paquete.MX
  |&nbsp;podrá transferir, sin requerir de su consentimiento, los datos personales necesarios al o los proveedores de servicios de paquetería, mensajería o carga que usted haya seleccionado y a través de cual usted realizará su envío.
p
  |En los siguientes casos, sus datos podrían ser transferidos a las autoridades o los tribunales competentes:
ul
  li
    |En algunos casos, bajo orden administrativa o judicial, la ley exige revelar los datos a las autoridades o los tribunales nacionales e internacionales. En estos casos, los datos se transferirán para cumplir con los requerimientos legales.
  li
    |En la medida en que esto sea necesario para evitar actos ilegales o sospechosos de ser ilegales o para proteger los derechos, la propiedad o la seguridad de
    span.bold
      |&nbsp;Paquete.MX
    |, el sitio web o los usuarios del sitio web y para brindar protección de modo jurídicamente admisible.
  li
    |En lo que respecta a una transacción corporativa, como la venta de una filial o un departamento, una fusión, la consolidación o venta de los activos o, en el improbable caso de insolvencia, transferiremos sus datos a las autoridades competentes, al administrador de insolvencia asignado o al socio potencial de la transacción.
  li
    |En caso de que no desee que sus datos personales sean tratados para estos fines adicionales, usted puede presentar desde este momento un escrito vía correo electrónico a la dirección privacidad@paquete.mx
h2
  |7 .Sus Derechos ARCO
p
  |En caso de que el usuario necesitaré ejercer cualquier de sus derechos ARCO (Acceso, Rectificación, Cancelación y Oposición) será necesario enviar una solicitud en los términos que marca la Ley Federal de Protección de Datos Personales en Posesión de los Particulares en su artículo 29 veintinueve y cumplir con el procedimiento que más adelante se detalla, al siguiente correo electrónico privacidad@paquete.mx en el cual serán atendidas dichas solicitudes.
h3
  |Procedimiento:
p
  |Enviar una solicitud o mensaje de datos al correo electrónico antes precisado, en el que señale lo siguiente:
ul
  li
    |a) El nombre completo del usuario, domicilio y correo electrónico para recibir la respuesta que se genere con motivo de su solicitud;
  li
    |b) El motivo de su solicitud;
  li
    |c) Los argumentos que sustenten su solicitud o petición;
  li
    |d) Documento oficial que acredite su identidad y que demuestre que es quien dice ser;
  li
    |e) Descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos ARCO, y cualquier otro elemento o documento que facilite la localización de los datos personales; y
  li
    |f) En tratándose de solicitudes de rectificación de datos personales, el titular-usuario deberá indicar, además de lo señalado, las modificaciones a realizarse y aportar la documentación que sustente su petición;
p
  |Paquete. MX, notificará al titular, en un plazo máximo de 15 (quince) días hábiles, contados desde la fecha en que se recibió la solicitud de acceso, rectificación, cancelación u oposición, la resolución adoptada, a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los 10 (diez) días siguientes a la fecha en que se comunica la respuesta. Tratándose de solicitudes de acceso a datos personales, procederá la entrega previa acreditación de la identidad del solicitante o representante legal.
p
  |No obstante,
  span.bold
    |&nbsp;Paquete.MX
  |&nbsp;le informa que el mantener sus datos personales en su base de datos, le permitirá entender mejor sus necesidades con base a su historial y con ello ofrecerle un mejor servicio en sus futuros envíos.
p
  |Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos y prácticas del mercado.
p
  |Estas modificaciones estarán disponibles al público a través de nuestra página web
  span.bold
    |&nbsp;Paquete.mx
  |, en la sección aviso de privacidad.
h3
  |Atención a la Privacidad de Clientes:
p.bold
  |Teléfono: (55) 7258-1176 y (55) 7258-3615
p.bold
  |e-mail: 
  a(href="mailto:privacidad@paquete.mx")
    |privacidad@paquete.mx
p.bold
  |Horario: De lunes a viernes 9:00-18:00 horas México City.
p
  |
  span.bold
    |Paquete.MX 
  |podrá efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad. Las modificaciones o actualizaciones que se efectúen, entrarán en vigor en el momento en que son publicados en el sitio de internet www.paquete.mx, en sus sitios afiliados o en cualquier medio de comunicación que utilice para publicarlo, por lo que se recomienda su revisión continua.
h3
  |Autorizo por medio de la presente:
p
  |Reconozco que he leído y entiendo los alcances del presente Aviso de Privacidad en términos del artículo 8 de la LFPDPPP; autorizo de forma expresa la divulgación de mis Datos Personales a través de sistemas de cómputo de acceso restringido exclusivamente a
  span.bold
    |&nbsp;Paquete.mx
  |, a través de sus Administradores, así como en su caso, a sus empresas subsidiarias y/o filiales y/o socios comerciales; autorizo de forma expresa a Paquete.mx, a través de sus Administradores, a recabar y tratar mis Datos Personales para los fines establecidos de conformidad con lo previsto en el presente Aviso de Privacidad, según el mismo pueda ser modificado de tiempo en tiempo, conforme a las disposiciones legales aplicables; y autorizo de forma expresa a 
  span.bold
    |&nbsp;Paquete.MX
  |, a través de sus Administradores, a transmitir mis Datos Personales a las personas previstas en el presente Aviso de Privacidad, según el mismo pueda ser modificado de tiempo en tiempo, y las disposiciones legales aplicables;
p.bold
  |03 de Noviembre del 2017.