#side-menu
  .dashboard-logo
    a(ui-sref="home")
      img(data-ng-src="common/images/logo-blanco.png")
  .item-side(data-ng-repeat="item in shell.dashMenu",ui-sref="{{item.uiref}}")
    i.fa(class="{{item.icon}}")
    div
      |{{item.label}}
#side-content
  .resume-content
    //- div
    //- img(data-ng-src="common/images/logo-blanco.png")
    div
      a(ui-sref="home")
        |¡Cotizar de nuevo!
  ui-view