#side-menu(data-ng-click="shell.toggleMenu()", data-ng-class="{'closed': !shell.dashboard.menu}")
  .menu-toggle.show-on-mobile
    span
      img(data-ng-src="common/images/ToggleMenu.png")
  .dashboard-logo
    a(ui-sref="home")
      img(data-ng-src="common/images/logo-blanco.png")
  .item-side(data-ng-repeat="item in shell.dashMenu",ui-sref="{{item.uiref}}")
    i.fa(class="{{item.icon}}")
    div
      |{{item.label}}
#side-content
  .resume-content.hide-on-mobile
    div
      a(ui-sref="home")
        |¡Cotizar de nuevo!
  ui-view