.row
  .col-sm-6
    h3.align-center
      |Datos de tu cuenta:
    .padding-left
      md-content(layout-padding)
        form.registerFormAlt(name="registerFormAlt", novalidate, data-ng-submit="register()")

          h3.custom-title-register-20
            |¿Quieres abrir una cuenta de tipo?
          md-radio-group(ng-model="accountType")
            md-radio-button(value="personal",class="md-primary")
              |Personal o Persona Física
            md-radio-button(value="enterprise",class="md-primary")
              |Empresarial
          h3.custom-title-register-30
            |Información Personal
          md-input-container.md-block
            label(for="name", data-ng-bind="shell.labels.register.form.name")
            input(name="name", data-ng-model="user.name", required="")
            div(ng-messages="registerFormAlt.name.$error")
              div(ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block
            label(for="lastname", data-ng-bind="shell.labels.register.form.lastname")
            input(name="lastname", data-ng-model="user.lastname", required="")
            div(ng-messages="registerFormAlt.lastname.$error")
              div(ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block
            label(for="username", data-ng-bind="shell.labels.register.form.email")
            input(name="username", type="email", data-ng-model="user.username", required="")
            div(ng-messages="registerFormAlt.username.$error")
              div(ng-message="required", data-ng-bind="shell.labels.form.errors.required")
              div(ng-message="email", data-ng-bind="shell.labels.register.form.errors.email")
          md-input-container.md-block
            label(for="phone", data-ng-bind="shell.labels.register.form.mobile")
            input(name="phone", data-ng-model="user.phone", data-ng-pattern="shell.regex.mobile",required)
            div(data-ng-messages="registerFormAlt.phone.$error")
              div(data-ng-message="required", data-ng-bind="shell.labels.form.errors.required")
              div(data-ng-message="pattern", data-ng-bind="shell.labels.register.form.errors.mobile")
          md-input-container.md-block
            label(for="password", data-ng-bind="shell.labels.register.form.password")
            input(name="password",type="password", data-ng-model="user.password", required="",password-match="passwordMatch")
            div(ng-messages="registerFormAlt.password.$error")
              div(ng-message="match", data-ng-bind="shell.labels.register.form.errors.mismatch")
              div(ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block
            label(for="password", data-ng-bind="shell.labels.register.form.confirm")
            input(name="confirmPassword",type="password", required="",data-ng-model="passwordMatch")
            div(ng-messages="registerFormAlt.confirmPassword.$error")
              div(ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block.no-margin(data-ng-show="false")
            label
              |Requiero Factura Fiscal
            md-switch.md-primary.margin-top-2(ng-model="account.invoice",aria-label="Requiero Factura")
              span(data-ng-if="account.invoice")
                |Sí
              span(data-ng-if="!account.invoice")
                |No

            .align-center.margin-bottom
          md-button.md-raised.md-primary(type="submit",data-ng-bind="shell.labels.register.form.register",aria-label="shell.labels.register.form.register")
          
  .col-sm-6(data-ng-if="accountType == 'personal'")
      h3.align-center
        |Como miembro de Paquete.MX puedes:
      .specs-list.padding-left
        md-content.layout-padding._md(layout-padding="layout-padding")
          ul.padding-left
            li
              .specs-list-item
                i.fa.fa-star
                span
                  |Ahorrar dinero utilizando crédito prepago.
            li
              .specs-list-item
                i.fa.fa-star
                span
                  |Ahorrar dinero utilizando crédito prepago.
            li
              .specs-list-item
                i.fa.fa-star
                span
                  |Ahorrar dinero utilizando crédito prepago.
            li
              .specs-list-item
                i.fa.fa-star
                span
                  |Ahorrar dinero utilizando crédito prepago.
            li
              .specs-list-item
                i.fa.fa-star
                span
                  |Ahorrar dinero utilizando crédito prepago.
  .col-sm-6(data-ng-if="accountType == 'enterprise'")
    h3.align-center
      |Información de la empresa
    .padding-left
      md-content.layout-padding._md(layout-padding)
        div()
          md-input-container.md-block
            label(for="companyName", data-ng-bind="shell.labels.register.form.companyName")
            input(name="companyName", data-ng-model="account.companyName",ng-required="account.invoice")
            div(data-ng-messages="registerFormAlt.companyName.$error")
              div(data-ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block
            label(for="taxId", data-ng-bind="shell.labels.register.form.taxId")
            input(name="taxId", data-ng-model="account.taxId",ng-required="account.invoice")
            div(data-ng-messages="registerFormAlt.taxId.$error")
              div(data-ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block
            label(for="taxName", data-ng-bind="shell.labels.register.form.taxName")
            input(name="taxName", data-ng-model="account.taxName",ng-required="account.invoice")
            div(data-ng-messages="registerFormAlt.taxName.$error")
              div(data-ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block.margin-bottom-2
            label(for="taxUse")
              |Uso de CFDI:
            md-select(data-ng-model="account.taxUse")
              md-option(data-ng-repeat="item in taxUses track by item.code", value="{{item.code}}")
                |{{item.name}}
        h3.custom-title-register-30
          |Información para complementos de CFDI
        div()
          md-input-container.md-block
            label(for="CtaOrdenante", data-ng-bind="shell.labels.register.form.CtaOrdenante")
            input(name="CtaOrdenante", required="" data-ng-model="account.CtaOrdenante",ng-required="account.invoice")
            div(data-ng-messages="registerFormAlt.CtaOrdenante.$error")
              div(data-ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block
            label(for="RfcEmisorCtaOrd", data-ng-bind="shell.labels.register.form.RfcEmisorCtaOrd")
            input(name="RfcEmisorCtaOrd", required="" data-ng-model="account.RfcEmisorCtaOrd",ng-required="account.invoice")
            div(data-ng-messages="registerFormAlt.RfcEmisorCtaOrd.$error")
              div(data-ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block
            label(for="NomBancoOrdExt", data-ng-bind="shell.labels.register.form.NomBancoOrdExt")
            input(name="NomBancoOrdExt", required="" data-ng-model="account.NomBancoOrdExt",ng-required="account.invoice")
            div(data-ng-messages="registerFormAlt.NomBancoOrdExt.$error")
              div(data-ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block
            label(for="CtaBeneficiario", data-ng-bind="shell.labels.register.form.CtaBeneficiario")
            input(name="CtaBeneficiario", required="" data-ng-model="account.CtaBeneficiario",ng-required="account.invoice")
            div(data-ng-messages="registerFormAlt.CtaBeneficiario.$error")
              div(data-ng-message="required", data-ng-bind="shell.labels.form.errors.required")
          md-input-container.md-block
            label(for="RfcEmisorCtaBen", data-ng-bind="shell.labels.register.form.RfcEmisorCtaBen")
            input(name="RfcEmisorCtaBen", required="" data-ng-model="account.RfcEmisorCtaBen",ng-required="account.invoice")
            div(data-ng-messages="registerFormAlt.RfcEmisorCtaBen.$error")
              div(data-ng-message="required", data-ng-bind="shell.labels.form.errors.required")
        