.menu-container
  .menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
.container-fluid
  .row
    .pages
      .col-xs-10.col-sm-11.center-block
        .pages-image
          .pages-main
            .logo-color
            .main-title
              h1
                |¿Tienes un eCommerce?
              h2
                |Estamos desarrollando plugins para las plataformas de comercio electronico más usadas o diseñadas a la medida.
              .margin-top-3
                img(data-ng-src="common/images/ecommerce.png")
          .page-attribute
            .container-fluid
              .row
                .col-xs-12.col-sm-6
                  h1
                    |Paquet
                    span.accent.bold
                      |API
                  h2
                    |Con nuestra 
                    span.accent.bold
                      |API
                    |&nbsp;podrás obtener las cotizaciones de enviós para tu tienda en línea desde tu plataforma.
                  h2.accent
                    |¡Muy pronto tendras noticias!
                .col-xs-12.col-sm-6
                  .page-image-section-small
                    img(data-ng-src="common/images/api-ecommerce.png")
          .page-attribute
            .container-fluid
              .row
                .col-xs-12.col-sm-6.pull-right
                  h1
                    |Envios para Magento
                  h2
                    |Si tienes una tienda en plataforma magento. Es tan fácil como instalar el 
                    span.accent.bold
                      |PLUGIN 
                    |&nbsp;y ¡Listo!
                .col-xs-12.col-sm-6.pull-right
                  .page-image-section
                    img(data-ng-src="common/images/cards.png")
          .page-attribute
            .container-fluid
              .row
                .col-xs-12.col-sm-6
                  h1
                    |Envios para 
                  h2
                    |Operamos con centros de datos de primer nivel que cuentan con los mejores estándares de seguridad y redundancia de la industria.
                .col-xs-12.col-sm-6
                  .page-image-section
                    img(data-ng-src="common/images/oxxo.png")
          .page-attribute
            .container-fluid
              .row
                .col-xs-12.col-sm-6.pull-right
                  h1
                    |¡No tienes que salir a sitios externos!
                  h2
                    span.accent.bold
                      |TODAS
                    |&nbsp;las transacciones se realizán desde nuestro sitio web de 
                    span.accent.bold
                      |Paquete.mx 
                    |&nbsp;No seras redirigido a ningun portal externo.
                .col-xs-12.col-sm-6.pull-right
                  .page-image-section
                    img(data-ng-src="common/images/cards.png")
          .page-final-text
            .logo-text
            h2
              |La manera más 
              span.accent
                |SEGURA
              |&nbsp;de hacer tus envios.
div(data-ng-include="'app/templates/footer.template.html'")