.resume-content
  div
    a(data-ng-click="shell.moveToTop(true)")
      |¡Cotizar Ahora!
.home-menu-container
  .home-menu(data-ng-class="{'active':shell.menuOpen}")
    nav.container-bars.secondary(data-ng-click="shell.menuOpen = !shell.menuOpen", data-ng-class="{'active':shell.menuOpen}")
      .menu-bar.bar1
      .menu-bar.bar2
      .menu-bar.bar3
  .tracking-home(ui-sref="dashboard.shippings", data-ng-hide="shell.menuOpen")
    i.fa.fa-location-arrow
    |Rastrear Envío
  .login-home(data-ng-hide="shell.menuOpen")
    span(data-ng-if="!shell.currentUser", data-ui-sref="login")
      i.fa.fa-home
      |Iniciar Sesión
    span(data-ng-if="shell.currentUser", data-ui-sref="dashboard.shippings")
      i.fa.fa-home
      |¡Hola {{shell.setName}}!
.image-space
  .menu-mobile(data-ng-class="{'active':shell.menuOpen}")
    .padding-top-bottom
      .logo-complete-link.margin-auto
    nav(ui-sref="home")
      |INICIO
    nav(ui-sref="home")
      |COTIZAR
    nav(ui-sref="dashboard.shippings")
      |RASTREAR
    nav(data-ng-click="home.openSection(4,2000)")
      |eCOMMERCE
    nav(data-ng-click="home.openSection(2,2000)")
      |MÉTODOS DE PAGO
    nav(data-ng-click="home.openSection(1,2000)")
      |PARTNERS
    //- nav
      a(href="#")
        |PREGUNTAS FRECUENTES
    //- nav
      a(href="#")
        |SEGURIDAD
    //- nav
      a(href="#")
        |¿COMÓ FUNCIONA?
    nav(ui-sref="login")
      |MI CUENTA
  .container-center
    .container-fluid
      .row
        .col-xs-12.center-block
            .logo-color.logo-home(data-ng-click="home.reload()")
            form(name="home.shippingForm",data-ng-submit="home.send()", novalidate)
              .container-fluid.opacity-box
                .row
                  .col-xs-12.col-sm-6.col-md-3(data-balloon="Ingresa el código postal o el nombre de la colonia de ORIGEN. Por favor NO ingreses una dirección completa.Para seleccionar como ORIGEN otro país da un click sobre la bandera y selecciona el país que buscas." data-balloon-pos="up", data-balloon-length="fit")

                    .cotizador-element
                      .padding-sides
                        h3
                          span.light
                            |LUGAR DE
                          span.bold
                            |&nbsp;ORIGEN
                        .cotizador-element-box
                          .row
                            .col-xs-4
                              select-country(data-countries="shell.countries", data-country="home.shipping.from.country")
                            .col-xs-8
                              .input-cotizador
                                .input-container
                                  input(
                                    placeholder="C.P."
                                    name="fromZip", data-ng-model="home.fromSearch", data-ng-focus="home.cleanSearch('from')",required)
                                  select-cities(data-cities="home.fromCities",data-selected="home.shipping.from.data", data-search="home.fromSearch",data-country="home.shipping.from.country")
                            

                  .col-xs-12.col-sm-6.col-md-3(data-balloon="Ingresa el código postal o el nombre de la colonia DESTINO, Por favor NO ingreses una dirección completa.Para seleccionar como destino otro país da un click sobre la bandera y selecciona el país que buscas" data-balloon-pos="up", data-balloon-length="fit")
                    .cotizador-element
                      .padding-sides
                        h3
                          span.light
                            |LUGAR DE
                          span.bold
                            |&nbsp;DESTINO
                        .cotizador-element-box
                          .col-xs-4
                            select-country(data-countries="shell.countries", data-country="home.shipping.to.country")
                          .col-xs-8
                            .input-cotizador
                              .input-container
                                input(id="toSearch", placeholder="C.P.",name="toZip", data-ng-model="home.toSearch", data-ng-focus="home.cleanSearch('to')", required)
                                select-cities(data-cities="home.toCities", data-selected="home.shipping.to.data",data-clean = "home.toClean",data-search="home.toSearch", data-country="home.shipping.to.country")
                  .col-xs-12.col-sm-6.col-md-4(data-balloon="Selecciona la opción que se ajusta a lo que envías. Es importante que ingreses los pesos y medidas correctas con ello evitamos molestarte con sobrecargos." data-balloon-pos="up", data-balloon-length="fit")
                    .cotizador-element
                      .padding-sides
                        h3
                          span.bold
                            |¿QUÉ ENVIAS?
                        .cotizador-element-box.complex
                          .row
                            .col-xs-6
                              .cotizador-type(data-ng-class="{'active': home.shipping.type == 'document'}", data-ng-click="home.selectType('document')")
                                //- i.fa.fa-angle-down(data-ng-hide="home.documentOpen")
                                //- i.fa.fa-angle-up(data-ng-show="home.documentOpen")
                                .row
                                  .col-xs-2
                                    .padding-sides
                                      md-radio-group(ng-model="home.shipping.type")
                                        md-radio-button.md-primary(value='document')
                                  .col-xs-10
                                    span
                                      |DOCUMENTO
                            .col-xs-6
                              .cotizador-type(data-ng-class="{'active': home.shipping.type == 'package'}", data-ng-click="home.selectType('package')")
                                //- i.fa.fa-angle-down(data-ng-hide="home.packageOpen")
                                //- i.fa.fa-angle-up(data-ng-show="home.packageOpen")
                                .row
                                  .col-xs-2
                                    .padding-sides
                                      md-radio-group(ng-model="home.shipping.type")
                                        md-radio-button.md-primary(value='package')
                                  .col-xs-10
                                    span
                                      |PAQUETE

                          .cotizador-document(data-ng-if="home.documentOpen")
                            //- .row
                              .col-xs-12
                                .select-weight
                                  //- md-switch(ng-model="home.shipping.insurance" aria-label="Asegurar Carga")
                                    |ASEGURAR
                            .row(data-ng-repeat="package in home.documents")
                              .col-xs-12
                                .select-weight
                                  span
                                    |Tu sobre debe ser tamaño estandar y no pesar más de 0.5 Kg.
                              .select-weiht(data-ng-show="home.shipping.insurance")
                                .row
                                  .col-xs-4
                                    .box-attr-secondary
                                      input(data-ng-model="package.valueDeclared",placeholder="Pesos (MXN)", data-ng-pattern="shell.regex.decimal",ng-required='home.shipping.insurance')
                                  .col-xs-8
                                    span.bold
                                      |VALOR ($)

                          .cotizador-box(data-ng-if="home.packageOpen")
                            .row
                              //- md-switch(ng-model="home.shipping.insurance" aria-label="Asegurar Carga")
                                  |ASEGURAR
                              .col-xs-12(data-ng-repeat="package in home.shipping.packages")
                                .select-weight(data-ng-class="{'space-top':$index > 0}")
                                  .row
                                    .select-weight
                                    .col-xs-11
                                      .col-xs-3
                                        .box-attr
                                          div
                                            |PESO
                                          div
                                            input(name="weight", placeholder="Kg", data-ng-model="package.weight", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'package'",ng-model-options="{debounce: 500}", data-ng-change="home.updateWeight(package)")
                                      .col-xs-9
                                        .box-attr
                                          div
                                            |PESO VOLUMÉTRICO
                                            span.small-text.tooltip-home(data-ng-click="home.describeWeight()")
                                              |¿Qué es?
                                          div
                                            span.regular-text(data-ng-hide="package.volumetric")
                                              |Ingresa las dimensiones para calcular el peso volumétrico.
                                            span.regular-text(data-ng-show="package.volumetric && !package.real")
                                              |El peso volumetrico es de
                                              span.accent
                                                |&nbsp;{{package.volumetric}} Kg.
                                            span.regular-text(data-ng-show="package.volumetric && package.real")
                                              span(data-ng-show="package.volumetric > package.real")
                                                |Se utilizara el peso VOLUMÉTRICO
                                                span.accent
                                                  |&nbsp;({{package.volumetric}} Kg.)
                                                |&nbsp;ya que es mayor al peso REAL
                                                span.accent
                                                  |&nbsp;({{package.weight}} Kg.)
                                              span(data-ng-show="package.real > package.volumetric")
                                                |Se utilizara el peso REAL
                                                span.accent
                                                  |&nbsp;({{package.weight}} Kg.)
                                                |&nbsp;ya que es mayor al peso VOLUMÉTRICO
                                                span.accent
                                                  |&nbsp;({{package.volumetric}} Kg.)
                                              span(data-ng-show="package.real == package.volumetric")
                                                |El peso REAL y el peso VOLUMÉTRICO es el mismo
                                                span.accent
                                                  |&nbsp;({{package.volumetric}} Kg.)
                                    .col-xs-11
                                      .col-xs-4
                                        .box-attr
                                          div
                                            |LARGO
                                          div
                                            input(name="length",placeholder="cms", data-ng-model="package.length", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'package'",ng-model-options="{debounce: 500}", data-ng-change="home.calculateVW(package)")
                                      .col-xs-4
                                        .box-attr
                                          div
                                            |ANCHO
                                          div
                                            input(name="width",placeholder="cms", data-ng-model="package.width", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'package'",ng-model-options="{debounce: 500}", data-ng-change="home.calculateVW(package)")
                                      .col-xs-4
                                        .box-attr
                                          div
                                            |ALTO
                                          div
                                            input(name="height",placeholder="cms", data-ng-model="package.height", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'package'",ng-model-options="{debounce: 500}", data-ng-change="home.calculateVW(package)")
                                    .col-xs-1
                                      .box-attr
                                        i.fa.fa-plus(data-ng-show="$index+1 == home.shipping.packages.length", data-ng-click="home.addPackage()")
                                        i.fa.fa-trash(data-ng-show="$index > 0", data-ng-click="home.removePackage($index)")
                  .col-xs-12.col-sm-6.col-md-2
                    .padding-sides
                      h3
                        span.bold
                          |COMPARA
                      .cotizador-element-box
                        .cotizador-button(data-ng-click="home.send()")
                          |COTIZAR
#float-section.background-container
  //- .background-container
  //- #menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
  #content.section-container
    .rated-text(data-ng-class="{'active':home.active}", data-ng-show="home.rated")
      .logo-color(data-ng-class="{'active':!home.active}")
      div(data-ng-show="!home.searching")
        div(data-ng-if="home.services.length > 0")
          .line.margin-top-1
            |Tenemos las siguientes
          .line
            |opciones para ti:
        div(data-ng-if="home.services.length < 1")
          .line.margin-top-1
            |¡Ups! No encontramos opciones
          .line
            | para tu origen / destino
      div(data-ng-show="home.searching") 
        .line.margin-top-1
          |Estamos buscando 
        .line
          |las mejores opciones
        .line
          |para tu envío:
      div(data-ng-show="home.searching")
        div(data-ng-include="'app/templates/spinner.white.template.html'")
      .table-response.rate-params
        .row.title-params.red
          .col-xs-6
            |ORIGEN
          .col-xs-6
            |DESTINO
        .row.title-params.gray
          .col-xs-6
            div
              span.flag-icon(class="flag-icon-{{home.rate.from.country}}")
              span.primary-color
                |&nbsp;&nbsp;{{home.rate.from.zip}}
            div(data-ng-if="home.rate.from.data.county")
              |{{home.rate.from.data.county}}, {{home.rate.from.data.city}}
            div(data-ng-if="home.rate.from.data.state")
              |{{home.rate.from.data.state}}
          .col-xs-6
            div
              span.flag-icon(class="flag-icon-{{home.rate.to.country}}")
              span.primary-color
                |&nbsp;&nbsp;{{home.rate.to.zip}}
            div(data-ng-if="home.rate.to.data.county")
              |{{home.rate.to.data.county}}, {{home.rate.to.data.city}}
            div(data-ng-if="home.rate.to.data.state")
              |{{home.rate.to.data.state}}
        .row.title-params.red
          .col-xs-2
            |#
          .col-xs-2
            |Peso Real
          .col-xs-2
            |Largo
          .col-xs-2
            |Ancho
          .col-xs-2
            |Alto
          .col-xs-2
            |Peso Vol.
        .row.title-params.gray(data-ng-repeat="item in home.rate.packages")
          .col-xs-2
            |{{$index+1}}
          .col-xs-2(data-ng-class="{'accent':item.weight >= item.volumetric}")
            |{{item.weight}} Kg.
          .col-xs-2
            |{{item.length}} cm.
          .col-xs-2
            |{{item.width}} cm.
          .col-xs-2
            |{{item.height}} cm.
          .col-xs-2(data-ng-class="{'accent':item.weight < item.volumetric}")
            |{{item.volumetric}} Kg.
      div(data-ng-show="!home.searching")
        div(data-ng-if="home.services.length < 1")
          .line.margin-top-1
            i.fa.fa-globe.big-globe
          .line.margin-top-1
            |Estamos trabajando para
          .line
            |&nbsp;para brindarte más opciones
          .line
            |&nbsp;y conectarte con el mundo.
      .table-response
        .container-fluid
          .table-container.clearfix.animated.bounceIn(data-ng-repeat="item in home.services")
            .table-box.red
              div
                |ENTREGA ESTIMADA
              div.margin-top-1
                span.important-text
                  |{{item.qty}}
                span.secondary-text
                  |&nbsp;{{item.units}}
              div(data-ng-if="item.service == 'fedex' || item.service == 'ups'")
                |{{item.delivery | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}
              div(data-ng-if="item.service == 'redpack'")
                |{{item.delivery | amDateFormat:'DD-MMM-YY'}}
            .table-box.service-logo
              div
                div
                  img(data-ng-src="common/images/{{item.service}}.png", data-ng-class="{'ups':item.service == 'ups', 'fedex':item.service == 'fedex'}")
                div.service-name
                  |{{item.name}}
            .table-box.big-table-box
              div
                |PRECIO AL PÚBLICO
              div.regular-price
                |{{item.total | currency}} MXN
              div.semi-important-red
                |AHORRA
              div.important-red
                |{{item.total-item.discountTotal | currency}} MXN
            .table-box.attr-img
              img(data-ng-src="common/images/cheapest.png", data-ng-if="home.cheapest.code == item.code")
              img(data-ng-src="common/images/fastest.png", data-ng-if="home.fastest.code == item.code")
            .table-box.big-table-box
              span.light-font
                |PRECIO
              span.bold-font
                |&nbsp;PAQUETE.MX
              div
                span.big-price(ng-class="{'small-font': item.discountTotal > 1000}")
                  |{{item.discountTotal| currency}}
                span.red-color
                  |MXN
            .table-box.service-logo
              .button-send(data-ng-click="home.setService(item)")
                |ENVIAR

          //- .table-td(data-ng-repeat="item in home.services")
          //-   .row
          //-     .col-xs-3.align-center
          //-       .item-logo(data-ng-class="{'vertical':item.service == 'ups'}")
          //-         img(data-ng-src="common/images/{{item.service}}.png")
          //-       .item-name
          //-         |{{item.name}}
          //-     .col-xs-3.align-center
          //-       .item-text-regular.blue
          //-         |Tarifa Regular
          //-       .item-title.lined
          //-         |{{item.total | currency}} MXN
          //-       .item-text-regular.blue
          //-         |Nuestra tarifa
          //-       .item-amount
          //-         |{{item.discountTotal | currency}} MXN
          //-     .col-xs-3.align-center
          //-       .item-text-regular
          //-         |Días
          //-       .item-title
          //-         |{{item.delivery}}
          //-       .item-text-regular
          //-         |Entrega estimada
          //-       .item-amount
          //-         |{{item.deliveryHours}}
          //-     .col-xs-3.align-center
          //-       md-button.md-raised.md-primary(data-ng-click="home.setService(item)")
          //-         |Seleccionar
    div(data-ng-if="!home.rated")
      .big-text(data-ng-class="{'active':home.active}")
        .logo-color(data-ng-class="{'active':!home.active}")
        div
          |Las mejores
        div
          |opciones
        div
          |para tus envios.
        div
          h1
            |Conoce todos los beneficios que tenemos para ti:
  .section-container.section-1.left
    .section-description
      .container-fluid
        .row
          .col-xs-12.col-md-6
            h1
              |Las mejores tarifas
            h2
              |Desde tu primer envío, obtienes las mejores tarifas y entre más envías adquieres mayores beneficios.
            .more-info(data-ng-click="home.openSection(0)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-12.col-md-6
            .section-image.image-1.image-right
              img(data-ng-src="common/images/section-1.png")
  .more-info-section.benefits-0
    .close-button(data-ng-click="home.closeSection(0)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Diversas opciones al mejor precio.
      h2
        |Nuestros convenios con las principales paqueterías nos permiten brindarte las mejores opciones y al mejor precio.
        //- span.accent.bold
          |primer envío
      .benefits 
        .container-fluid
          .row
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-1-1.png")
              .benefits-text
                |Descuentos desde tu primer envió.
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-1-2.png")
              .benefits-text
                |Te mostramos diversas opciones de envío.
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-1-3.png")
              .benefits-text
                |Entre más envíos realices mejores tarifas obtienes.
      h2.accent.bold.align-center
        |¡LAS MEJORES OPCIONES!
  .section-container.section-2.right
    .section-description
      .container-fluid
        .row
          .col-xs-12.col-md-6.pull-right
            h1
              |Todas las opciones a tu alcance
            h2
              |Las mejores empresas de mensajería y paquetería, con los mejores servicios y costos en un click.
            h2
              |¡Tú eliges!
            .more-info-right(data-ng-click="home.openSection(1)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-12.col-md-6.pull-right
            .section-image.image-2.image-left
              img(data-ng-src="common/images/section-2.png")
  .more-info-section.benefits-1
    .close-button(data-ng-click="home.closeSection(1)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Distribuidor Autorizado
      h2
        |Para brindarte un mejor servicio, contamos de aliados estratégicos a:
      .benefits 
        .row
          .ups-box
            img(data-ng-src="common/images/ups-logo.png")
          .fedex-box
            img(data-ng-src="common/images/fedex-logo.png")
          .redpack-box
            img(data-ng-src="common/images/redpack-logo.png")
          .dhl-box
            img(data-ng-src="common/images/dhl-logo-bn.png")
            md-tooltip(md-direction="bottom")
              |Próximamente
        .row
          .aeroflash-box
            img(data-ng-src="common/images/aeroflash-logo-bn.png")
            md-tooltip(md-direction="bottom")
              |Próximamente
          .estafeta-box
            img(data-ng-src="common/images/estafeta-logo-bn.png")
            md-tooltip(md-direction="bottom")
              |Próximamente
          .ivoy-box
            img(data-ng-src="common/images/ivoy-logo-bn.png")
            md-tooltip(md-direction="bottom")
              |Próximamente
          .ampm-box
            img(data-ng-src="common/images/ampm-logo-bn.png")
            md-tooltip(md-direction="bottom")
              |Próximamente
        //- img(data-ng-src="common/images/aeroflash-logo-bn.png")
        //- img(data-ng-src="common/images/estafeta-logo-bn.png")
        //- img(data-ng-src="common/images/ivoy-logo-bn.png")
        //- img(data-ng-src="common/images/ampm-logo-bn.png")
        //- .container-fluid
        //-   .row
        //-     .col-xs-12.col-md-4
        //-       .benefits-image
        //-         img(data-ng-src="common/images/section-2-1.png")
        //-       .benefits-text
        //-         |Más de 20 opciones de servicios que se ajusten a tus necesidades.
        //-     .col-xs-12.col-md-4
        //-       .benefits-image
        //-         img(data-ng-src="common/images/section-2-2.png")
        //-       .benefits-text
        //-         |Programamos tu recolección o lo puedes dejar en mostrador ¡Tu decides!
        //-     .col-xs-12.col-md-4
        //-       .benefits-image
        //-         img(data-ng-src="common/images/section-2-3.png")
        //-       .benefits-text
        //-         |Las mejores paqueterías a nivel nacional e internacional.
      h2.accent.bold.align-center
        |¡Envía con Paquete.MX tu mejor opción!
      //- h2.accent.bold.align-center
        |Y conce la variedad de opciones que PAQUETE.MX te ofrece.
  .section-container.section-3.left
    .section-description
      .container-fluid
        .row
          .col-xs-12.col-md-6
            h1
              |Realiza tus pagos sin salir de casa
            h2
              |Tarjeta Bancarias de Crédito y Débito.<br/>¡Tú eliges!
            .more-info(data-ng-click="home.openSection(2)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-12.col-md-6
            .section-image.image-3.image-right
              img(data-ng-src="common/images/section-3.png")
  .more-info-section.benefits-2
    .close-button(data-ng-click="home.closeSection(2)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Paga desde la comodidad de tu hogar o negocio
      h2
        |Genera tu cuenta corporativa y asciende a mejores beneficios, como descuentos, crédito y nuestra política de lealtad.
      h2
        |Contamos con un sistema de pagos seguro. ¡No te preocupes!.
      .benefits 
        .container-fluid
          .row
            .col-xs-12.col-sm-4
              .benefits-image
                img(data-ng-src="common/images/visa.png")
              //- .benefits-text
                //- |Aceptamos tarjetas de crédito Nacionales e Internacionales expedidas por VISA, MASTERCARD, AMERICAN EXPRESS.
            .col-xs-12.col-sm-4
              .benefits-image
                img(data-ng-src="common/images/mastercard.png")
              //- .benefits-text
                |Paga con tu cuenta de PAYPAL.
            .col-xs-12.col-sm-4
              .benefits-image
                img(data-ng-src="common/images/amex.png")
              //- .benefits-text
                |Depósitos en efectivo en OXXO.
      h2.accent.bold.align-center
        |¡Tu eliges la opción que más te convenga!
  .section-container.section-4.right
    .section-description
      .container-fluid
        .row
          .col-xs-12.col-md-6.pull-right
            h1
              |Conoce en tiempo real el estatus de tus envíos
            h2
              |Recibe notificaciones constantes sobre la entrega de tus envíos.
            .more-info-right(data-ng-click="home.openSection(3)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-12.col-md-6.pull-right
            .section-image.image-4.image-left
              img(data-ng-src="common/images/section-4.png")
  .more-info-section.benefits-3
    .close-button(data-ng-click="home.closeSection(3)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |¿Tuviste una incidencia?, te mantendremos informado y estaremos ayudandote a manejarlo.
      h2
        |Olvídate de llamadas, con un solo click realiza tus envíos.
      .benefits 
        .container-fluid
          .row
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-4-1.png")
              .benefits-text
                |Veri car el status de tu envío en todo momento desde nuestro Panel de Control.
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-4-2.png")
              .benefits-text
                |Te enviamos noti caciones de recolección, entrega e incidencias. 
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-4-3.png")
              .benefits-text
                |Puedes compartir los estatus de envío con tus clientes.
      h2.accent.bold.align-center
        |¡Nadie te mantiene mejor informado que Paquete.MX!
  .section-container.section-5.left
    .section-description
      .container-fluid
        .row
          .col-xs-12.col-md-6
            h1
              |¿Tienes un eCommerce?
            h2
              |Tú encárgate de tu negocio, nosotros nos encargamos de los envíos.
            .more-info(data-ng-click="home.openSection(4)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-12.col-md-6
            .section-image.image-5.image-right
              img(data-ng-src="common/images/section-5.png")
  .more-info-section.benefits-4
    .close-button(data-ng-click="home.closeSection(4)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Hemos logrado hacer todo más sencillo
      h2
        |Con nuestra API conectamos tu sistema con el nuestro. 
      .benefits 
        .container-fluid
          .row
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-5-1.png")
              .benefits-text
                |Tenemos plugins para las plataformas más usadas de venta en línea.
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-5-2.png")
              .benefits-text
                |Con un solo click instalas y empieza a disfrutar de los beneficios que Paquete.MX tiene para ti.
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-5-3.png")
              .benefits-text
                |Y recuerda entre más envíes un mejor precio obtienes.
        .container-fluid
          .row
            .col-xs-12.col-md-3
              .e-commerce-image
                img(data-ng-src="common/images/woocomerce.png")
            .col-xs-12.col-md-3
              .e-commerce-image
                img(data-ng-src="common/images/shopify.png")
            .col-xs-12.col-md-3
              .e-commerce-image
                img(data-ng-src="common/images/magento.png")
            .col-xs-12.col-md-3
              .e-commerce-image
                img(data-ng-src="common/images/prestashop.png")
              
      h2.accent.bold.align-center
        |¡Que la logística no frene tu negocio!
  .section-container.section-6.right
    .section-description
      .container-fluid
        .row
          .col-xs-12.col-md-6.pull-right
            h1
              |Pide tu recolección con un clic.
            h2
              |Solicita la recolección de tus paquetes desde nuestra plataforma. Sin Llamadas con un solo clic.
            .more-info-right(data-ng-click="home.openSection(5)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-12.col-md-6.pull-right
            .section-image.image-6.image-left
              img(data-ng-src="common/images/section-6.png")
  .more-info-section.benefits-5
    .close-button(data-ng-click="home.closeSection(5)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Pide tu recolección con un solo clic.
      h2
        |¿No puedes entregar en mostrador? ¿Son demasiados paquetes? No te preocupes puedes solicitar la recolección de tus paquetes desde nuestra plataforma.
      h2
        |Basta con hacer clic en el botón de "Solicitar recolección".
      .benefits 
        .container-fluid
          .row
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-6-1.png")
              .benefits-text
                |Solicita la recolección de tus paquetes con un clic.
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-6-2.png")
              .benefits-text
                |No tienes por que transportar tus paquetes a mostrador.
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-6-3.png")
              .benefits-text
                |No hay cargo adicional por recolección
      h2.accent.bold.align-center
        |¡LAS MEJORES OPCIONES GARANTIZADO!
  .section-container.section-7.left
    .section-description
      .container-fluid
        .row
          .col-xs-12.col-md-6
            h1
              |¿Eres desarrollador?
            h2
              |Con nuestra API es muy fácil integrar PAQUETE.MX a tu sistema.
            //- .more-info(data-ng-click="home.openSection(6)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-12.col-md-6
            .section-image.image-7.image-right
              img(data-ng-src="common/images/section-7.png")
  //- .more-info-section.benefits-6
    .close-button(data-ng-click="home.closeSection(6)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Diversas opciones al mejor precio.
      h2
        |Obtén descuentos desde tu 
        span.accent.bold
          |primer envío
        |, entre más envíes mejores tarifas obtendrás. Tenemos los mejores convenios con las paqueterías para darte las mejores opciones y al mejor precio. 
      .benefits 
        .container-fluid
          .row
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-1-1.png")
              .benefits-text
                |Descuentos desde tu primer envío.
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-1-2.png")
              .benefits-text
                |Las mejores tarifas con más de 20 servicios.
            .col-xs-12.col-md-4
              .benefits-image
                img(data-ng-src="common/images/section-1-3.png")
              .benefits-text
                |Entre más envíos realices mejores tarifas obtienes.
      h2.accent.bold.align-center
        |¡LAS MEJORES OPCIONES GARANTIZADO!
  
  div(data-ng-include="'app/templates/footer.template.html'")