.image-space
  .fullscreen-bg
    video.fullscreen-bg__video(loop muted autoplay)
      source(src="common/videos/9922925.mp4" type="video/mp4")
    .opacity
  .container-center
    .container-fluid
      .row
        .col-xs-12.col-md-7
          .main-info
            .align-center
              .logo-color
              .main-text
                h1.blend.black
                  |¡Las mejores opciones de envio!
            .main-list
              ul
                li
                  h4.blend.black
                    i.fa.fa-globe.fa-2x
                    |Cotiza tus envios a México y a todo el mundo.
                li
                  h4.blend.black
                    i.fa.fa-handshake-o.fa-2x
                    |Entre mas envias mas descuentos obtienes.
                li
                  h4.blend.black
                    i.fa.fa-truck.fa-2x
                    |Nosotros programamos tu recolección.
                li
                  h4.blend.black
                    i.fa.fa-percent.fa-2x
                    |Descuentos de hasta el 50%.
        .col-xs-12.col-md-5
          .main-info
            form(name="home.shippingForm",data-ng-submit="home.send()", novalidate)
              div(layout-xs-sm="row")
                .col-xs-12.col-md-10.center-block
                  .container-forms
                    h2.no-margin.align-center.margin-bottom-2
                      |¡Cotiza ahora mismo!
                    .container-fluid
                      .row
                        .col-xs-6
                          h3.no-margin
                            |Origen
                          md-input-container.md-block.margin-top-3
                            label(for="fromZip")
                              |Código Postal
                            input(name="fromZip", data-ng-model="home.shipping.from.zip", required,data-ng-pattern="shell.regex.zip")
                            div(ng-messages="home.shippingForm.fromZip.$error")
                              .message(ng-message="required")
                                |Es requerido.
                              .message(ng-message="pattern")
                                |Código Postal a 5 digitos.
                        .col-xs-6
                          h3.no-margin
                            |Destino
                          md-input-container.md-block.margin-top-3
                            label(for="toZip")
                              |Código Postal
                            input(name="toZip", data-ng-model="home.shipping.to.zip", required,data-ng-pattern="shell.regex.zip")
                            div(ng-messages="home.shippingForm.toZip.$error")
                              .message(ng-message="required")
                                |Es requerido.
                              .message(ng-message="pattern")
                                |Código Postal a 5 digitos.
                      h3.no-margin.margin-bottom-2
                        |¿Qué es lo que envias?
                      .container-fluid
                        .row
                          .col-xs-6
                            .align-center
                              .button-box(data-ng-class="{'active': home.shipping.type == 'box'}", data-ng-click="home.shipping.type= 'box'")
                                .icon-spot
                                  i.fa.fa-archive
                                h4.align-center
                                  |Paquete
                          .col-xs-6
                            .align-center
                              .button-box(data-ng-class="{'active': home.shipping.type == 'envelope'}", data-ng-click="home.shipping.type= 'envelope'")
                                .icon-spot
                                  i.fa.fa-envelope
                                h4.align-center
                                  |Documentos
                      .dimensions(data-ng-show="home.shipping.type == 'box'")
                        h3
                          |Dimensiones y Peso
                        .container-fluid
                          .row
                            .col-xs-3
                              md-input-container.md-block.md-input-small
                                label(for="weight")
                                  |Peso
                                input(name="weight", placeholder="en cms", data-ng-model="home.shipping.package.weight", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'box'")
                            .col-xs-3
                              md-input-container.md-block.md-input-small
                                label(for="length")
                                  |Largo
                                input(name="length",placeholder="en cms", data-ng-model="home.shipping.package.length", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'box'")
                            .col-xs-3
                              md-input-container.md-block.md-input-small
                                label(for="width")
                                  |Ancho
                                input(name="width",placeholder="en cms", data-ng-model="home.shipping.package.width", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'box'")
                            .col-xs-3
                              md-input-container.md-block.md-input-small
                                label(for="height")
                                  |Alto
                                input(name="height",placeholder="en cms", data-ng-model="home.shipping.package.height", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'box'")
                          div(data-ng-show="home.shippingForm.$submitted && (home.shippingForm.weight.$invalid || home.shippingForm.length.$invalid ||home.shippingForm.height.$invalid || home.shippingForm.width.$invalid)")
                            .message
                              |Peso, alto, ancho y largo requeridos en formato decimal. Ej 1.5, 2, 0.5
                    .align-center.margin-top-2
                      md-button.md-raised.md-primary(type="submit")
                        |Cotizar
#float-section.background-container
  #menu.clearfix
    .menu-logo
      img(data-ng-src="common/images/paquete-text.png")
    .navs
      nav
        a(href="#")
          |MI CUENTA
      nav
        a(href="#")
          |¿COMÓ FUNCIONA?
      nav
        a(href="#")
          |RASTREAR
      nav
        a(href="#")
          |COTIZAR
      nav.active
        a(href="#")
          |INICIO
  .section-container
    .section-container
      .big-text(data-ng-class="{'active':home.active}")
        .logo-color(data-ng-class="{'active':!home.active}")
        div
          |Las mejores
        div
          |opciones
        div
          |para tus envios.
        div
          h1
            |Conoce todos los beneficios que tenemos para ti:
  .section-container.section-1.left
    .section-description
      .container-fluid
        .row
          .col-xs-6
            h1
              |Obtén las mejores tarifas.
            h2
              |Obtén descuentos desde tu primer envío y cada vez tendrás mejores tarifas.
            .more-info
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6
            .section-image.image-1.image-right
              img(data-ng-src="common/images/section-1.png")
  .section-container.section-2.right
    .section-description
      .container-fluid
        .row
          .col-xs-6.pull-right
            h1
              |Más de 20 servicios a elegir.
            h2
              |Una opción a la medida de tus necesidades con las mejores paqueterías locales, nacionales e internacionales.
            .more-info
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6.pull-right
            .section-image.image-2.image-left
              img(data-ng-src="common/images/section-2.png")
  .section-container.section-3.left
    .section-description
      .container-fluid
        .row
          .col-xs-6
            h1
              |Diversas opciónes de pago para ti.
            h2
              |Tarjeta de Crédito, Débito, Depósitos en OXXO, Paypal. <br/>¡Tu eliges!
            .more-info
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6
            .section-image.image-3.image-right
              img(data-ng-src="common/images/section-3.png")
  .section-container.section-4.right
    .section-description
      .container-fluid
        .row
          .col-xs-6.pull-right
            h1
              |Te notificamos en tiempo real.
            h2
              |Conoceras en todo momento del status de tus envíos.
            .more-info
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6.pull-right
            .section-image.image-4.image-left
              img(data-ng-src="common/images/section-4.png")
  .section-container.section-5.left
    .section-description
      .container-fluid
        .row
          .col-xs-6
            h1
              |Pide tu recolección con un clic.
            h2
              |Solicita la recolección de tus paquetes desde nuestra plataforma. Sin Llamadas con un solo clic.
            .more-info
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6
            .section-image.image-5.image-right
              img(data-ng-src="common/images/section-1.png")
  .section-container.section-6.right
    .section-description
      .container-fluid
        .row
          .col-xs-6.pull-right
            h1
              |¿Eres desarrolador?
            h2
              |Con nuestra API es muy fácil integrar PAQUETE.MX a tu sistema.
            .more-info
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6.pull-right
            .section-image.image-6.image-left
              img(data-ng-src="common/images/section-1.png")
  .section-container.section-7.left
    .section-description
      .container-fluid
        .row
          .col-xs-6
            h1
              |¿Tienes un eCommerce?
            h2
              |Tú encárgate de tu negocio, nosotros nos encargamos de los envíos.
            .more-info
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6
            .section-image.image-7.image-right
              img(data-ng-src="common/images/section-7.png")
  .footer


