.image-space
  //- .fullscreen-bg
    //- video.fullscreen-bg__video(loop muted autoplay)
      source(src="common/videos/9922925.mp4" type="video/mp4")
    //- .opacity
  .container-center
    .container-fluid
      .row
        .col-xs-12.center-block
            .logo-color
            form(name="home.shippingForm",data-ng-submit="home.send()", novalidate)
              .container-fluid.opacity-box
                .row
                  .col-xs-12.col-sm-6.col-md-3
                    .cotizador-element
                      .padding-sides
                        h3
                          span.light
                            |LUGAR DE
                          span.bold
                            |&nbsp;ORIGEN
                        .cotizador-element-box
                          .col-xs-4
                            select-country(data-countries="shell.countries", data-country="home.shipping.from.country")
                          .col-xs-8
                            .input-cotizador
                              .input-container
                                //- .city-selected(data-ng-show="home.shipping.from.data.zip", data-ng-click="home.cleanSearch('from')")
                                  |{{home.shipping.from.data.zip}} - {{home.shipping.from.data.county}} - {{home.shipping.from.data.city}}
                                input(
                                  placeholder="C.P."
                                  name="fromZip", data-ng-model="home.shipping.from.zip",required)
                                select-cities(data-cities="home.fromCities",data-selected="home.shipping.from.data", data-search="home.shipping.from.zip",data-country="home.shipping.from.country")
                            

                  .col-xs-12.col-sm-6.col-md-3
                    .cotizador-element
                      .padding-sides
                        h3
                          span.light
                            |LUGAR DE
                          span.bold
                            |&nbsp;DESTINO
                        .cotizador-element-box
                          .col-xs-4
                            select-country(data-countries="shell.countries", data-country="home.shipping.to.country")
                          .col-xs-8
                            .input-cotizador
                              //- .city-selected(data-ng-show="home.shipping.to.data.zip", data-ng-click="home.cleanSearch('to')")
                                |{{home.shipping.to.data.zip}} {{home.shipping.to.data.county}} {{home.shipping.to.data.city}}
                              //- div(data-ng-hide="home.shipping.to.data.zip")
                              input(placeholder="C.P.",name="toZip", data-ng-model="home.shipping.to.zip",required)
                              //- div(ng-messages="home.shippingForm.toZip.$error")
                                .message(ng-message="required")
                                  |Es requerido.
                              select-cities(data-cities="home.toCities", data-selected="home.shipping.to.data",data-clean = "home.toClean",data-search="home.shipping.to.zip", data-country="home.shipping.to.country")
                  .col-xs-12.col-sm-6.col-md-4
                    .cotizador-element
                      .padding-sides
                        h3
                          span.bold
                            |¿QUÉ ENVIAS?
                        .cotizador-element-box.complex
                          .row
                            .col-xs-6
                              .cotizador-type(data-ng-class="{'active': home.shipping.type == 'document'}", data-ng-click="home.selectType('document')")
                                i.fa.fa-angle-down(data-ng-hide="home.documentOpen")
                                i.fa.fa-angle-up(data-ng-show="home.documentOpen")
                                |DOCUMENTO
                            .col-xs-6
                              .cotizador-type(data-ng-class="{'active': home.shipping.type == 'package'}", data-ng-click="home.selectType('package')")
                                i.fa.fa-angle-down(data-ng-hide="home.packageOpen")
                                i.fa.fa-angle-up(data-ng-show="home.packageOpen")
                                |PAQUETE

                          .cotizador-document(data-ng-if="home.documentOpen")
                            .row
                              .col-xs-12
                                .select-weight
                                  md-switch(ng-model="home.shipping.insurance" aria-label="Asegurar Carga")
                                    |ASEGURAR
                            .row(data-ng-repeat="package in home.documents")
                              .col-xs-11
                                .select-weight
                                  span
                                    |Peso de tu sobre.
                                  select(ng-model="package.weight" ng-options="n for n in home.weightList")
                                  span.bold
                                    |KG
                              .col-xs-1
                                i.fa.fa-plus(data-ng-show="$index+1 == home.documents.length", data-ng-click="home.addDocuments()")
                                i.fa.fa-trash(data-ng-show="$index > 0", data-ng-click="home.removeDocument($index)")
                              .select-weiht(data-ng-show="home.shipping.insurance")
                                .row
                                  .col-xs-4
                                    .box-attr-secondary
                                      input(data-ng-model="package.valueDeclared",placeholder="Pesos (MXN)", data-ng-pattern="shell.regex.decimal",ng-required='home.shipping.insurance')
                                  .col-xs-8
                                    span.bold
                                      |VALOR ($)

                          .cotizador-box(data-ng-if="home.packageOpen")
                            .row
                              md-switch(ng-model="home.shipping.insurance" aria-label="Asegurar Carga")
                                  |ASEGURAR
                              .col-xs-12(data-ng-repeat="package in home.shipping.packages")
                                .select-weight
                                  .row
                                    .select-weight
                                    .col-xs-11
                                      .col-xs-3
                                        .box-attr
                                          div
                                            |PESO
                                          div
                                            input(name="weight", placeholder="Kg", data-ng-model="package.weight", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'package'")
                                      .col-xs-3
                                        .box-attr
                                          div
                                            |ANCHO
                                          div
                                            input(name="width",placeholder="cms", data-ng-model="package.width", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'package'")
                                      .col-xs-3
                                        .box-attr
                                          div
                                            |LARGO
                                          div
                                            input(name="length",placeholder="cms", data-ng-model="package.length", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'package'")
                                      .col-xs-3
                                        .box-attr
                                          div
                                            |ALTO
                                          div
                                            input(name="height",placeholder="cms", data-ng-model="package.height", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'package'")
                                    .col-xs-1
                                      .box-attr
                                        i.fa.fa-plus(data-ng-show="$index+1 == home.shipping.packages.length", data-ng-click="home.addPackage()")
                                        i.fa.fa-trash(data-ng-show="$index > 0", data-ng-click="home.removePackage($index)")
                                  .col-xs-12
                                    .select-weight(data-ng-show="home.shipping.insurance")
                                      .row
                                        .col-xs-4
                                          .box-attr-secondary
                                            input(name="valueDeclared",data-ng-model="package.valueDeclared", placeholder="Pesos (MXN)",data-ng-pattern="shell.regex.decimal",ng-required='home.shipping.insurance')
                                        .col-xs-8
                                          span.bold
                                            |VALOR ($)

                  .col-xs-12.col-sm-6.col-md-2
                    .padding-sides
                      h3
                        span.bold
                          |COMPARA
                      .cotizador-element-box
                        .cotizador-button(data-ng-click="home.send()")
                          |COTIZAR
#float-section.background-container
  //- .background-container
  //- #menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
  #content.section-container
    .rated-text(data-ng-class="{'active':home.active}", data-ng-show="home.rated")
      .logo-color(data-ng-class="{'active':!home.active}")
      .line.margin-top-1
        |Estamos buscando 
      .line
        |las mejores opciones
      .line
        |para tus envios:
      div(data-ng-show="home.searching")
        div(data-ng-include="'app/templates/spinner.template.html'")
      .table-response
        .container-fluid
          .table-container.clearfix.animated.bounceIn(data-ng-repeat="item in home.services")
            .table-box.red
              div
                |ENTREGA ESTIMADA
              div
                span.important-text
                  |{{item.deliveryHours}}
                span.secondary-text
                  |&nbsp;DIAS
              div.service-name
                |{{item.name}}
            .table-box.service-logo
              //- .item-logo(data-ng-class="{'vertical':item.service == 'ups'}")
              img(data-ng-src="common/images/{{item.service}}.png")
            .table-box.big-table-box
              div
                |PRECIO AL PÚBLICO
              div.regular-price
                |{{item.total}} | currency}} MXN
              div.semi-important-red
                |AHORRA
              div.important-red
                |{{item.total-item.discountTotal | currency}} MXN
            .table-box
            .table-box.big-table-box
              span.light-font
                |PRECIO
              span.bold-font
                |&nbsp;PAQUETE.MX
              div
                span.big-price
                  |{{item.discountTotal| currency}}
                span.red-color
                  |MXN
            .table-box.service-logo
              .button-send(data-ng-click="home.setService(item)")
                |ENVIAR

          //- .table-td(data-ng-repeat="item in home.services")
          //-   .row
          //-     .col-xs-3.align-center
          //-       .item-logo(data-ng-class="{'vertical':item.service == 'ups'}")
          //-         img(data-ng-src="common/images/{{item.service}}.png")
          //-       .item-name
          //-         |{{item.name}}
          //-     .col-xs-3.align-center
          //-       .item-text-regular.blue
          //-         |Tarifa Regular
          //-       .item-title.lined
          //-         |{{item.total | currency}} MXN
          //-       .item-text-regular.blue
          //-         |Nuestra tarifa
          //-       .item-amount
          //-         |{{item.discountTotal | currency}} MXN
          //-     .col-xs-3.align-center
          //-       .item-text-regular
          //-         |Días
          //-       .item-title
          //-         |{{item.delivery}}
          //-       .item-text-regular
          //-         |Entrega estimada
          //-       .item-amount
          //-         |{{item.deliveryHours}}
          //-     .col-xs-3.align-center
          //-       md-button.md-raised.md-primary(data-ng-click="home.setService(item)")
          //-         |Seleccionar
    div(data-ng-if="!home.rated")
      .big-text(data-ng-class="{'active':home.active}")
        .logo-color(data-ng-class="{'active':!home.active}")
        div
          |Las mejores
        div
          |opciones
        div
          |para tus envios.
        div
          h1
            |Conoce todos los beneficios que tenemos para ti:
  .section-container.section-1.left
    .section-description
      .container-fluid
        .row
          .col-xs-6
            h1
              |Obtén las mejores tarifas.
            h2
              |Obtén descuentos desde tu primer envío y cada vez obtendrás mejores tarifas.
            .more-info(data-ng-click="home.openSection(0)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6
            .section-image.image-1.image-right
              img(data-ng-src="common/images/section-1.png")
  .more-info-section.benefits-0
    .close-button(data-ng-click="home.closeSection(0)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Diversas opciones al mejor precio.
      h2
        |Obtén descuentos desde tu 
        span.accent.bold
          |primer envío
        |, pero entre mas envíes mejores tarifas obtendrás. Tenemos los mejores convenios con las paqueterías para darte las mejores opciones y al mejor precio. 
      .benefits 
        .container-fluid
          .row
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-1-1.png")
              .benefits-text
                |Descuentos desde tu primer envió.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-1-2.png")
              .benefits-text
                |Las mejores tarifas con más de X servicios.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-1-3.png")
              .benefits-text
                |Entre mas envíos realices mejores tarifas obtienes.
      h2.accent.bold.align-center
        |¡LAS MEJORES OPCIONES GARANTIZADO!
  .section-container.section-2.right
    .section-description
      .container-fluid
        .row
          .col-xs-6.pull-right
            h1
              |Más de 20 servicios a elegir.
            h2
              |Una opción a la medida de tus necesidades con las mejores paqueterías locales, nacionales e internacionales.
            .more-info-right(data-ng-click="home.openSection(1)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6.pull-right
            .section-image.image-2.image-left
              img(data-ng-src="common/images/section-2.png")
  .more-info-section.benefits-1
    .close-button(data-ng-click="home.closeSection(1)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Más de X servicios a elegir.
      h2
        |Tenemos alianzas con las mejores paqueterías nacionales e internacionales. Tenemos una opción que se ajuste a las necesidades de tu envío, origen, destino, urgencia. 
      .benefits 
        .container-fluid
          .row
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-2-1.png")
              .benefits-text
                |Más de X  opciones de servicios que se ajusten a tus necesidades.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-2-2.png")
              .benefits-text
                |Programamos tu recolección o lo puedes dejar en mostrador ¡Tu decides!
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-2-3.png")
              .benefits-text
                |Las mejores paqueterías a nivel nacional e internacional.
      h2.accent.bold.align-center
        |¡Cotiza ahora mismo! 
      h2.accent.bold.align-center
        |Y conce la variedad de opciones que PAQUETE.MX te ofrece.
  .section-container.section-3.left
    .section-description
      .container-fluid
        .row
          .col-xs-6
            h1
              |Diversas opciónes de pago para ti.
            h2
              |Tarjeta de Crédito, Débito, Depósitos en OXXO, Paypal. <br/>¡Tu eliges!
            .more-info(data-ng-click="home.openSection(2)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6
            .section-image.image-3.image-right
              img(data-ng-src="common/images/section-3.png")
  .more-info-section.benefits-2
    .close-button(data-ng-click="home.closeSection(2)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |La opción de pago que más te convenga
      h2
        |Puedes pagar con tarjetas de crédito, debito desde nuestro portal o si lo prefieres a través de cuenta PAYPAL. 
      h2
        |¿Pagar en efectivo? ¡Claro! Genera tu orden de pago desde nuestro portal para pagar en OXXO.
      .benefits 
        .container-fluid
          .row
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-3-1.png")
              .benefits-text
                |Aceptamos tarjetas de crédito Nacionales e Internacionales expedidas por VISA, MASTERCARD, AMERICAN EXPRESS.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-3-2.png")
              .benefits-text
                |Paga con tu cuenta de PAYPAL.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-3-3.png")
              .benefits-text
                |Depósitos en efectivo en OXXO.
      h2.accent.bold.align-center
        |¡Tu eleges la opción que más te convenga!
  .section-container.section-4.right
    .section-description
      .container-fluid
        .row
          .col-xs-6.pull-right
            h1
              |Te notificamos en tiempo real.
            h2
              |Conoceras en todo momento del status de tus envíos.
            .more-info-right(data-ng-click="home.openSection(3)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6.pull-right
            .section-image.image-4.image-left
              img(data-ng-src="common/images/section-4.png")
  .more-info-section.benefits-3
    .close-button(data-ng-click="home.closeSection(3)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Mantenten informado en todo momento.
      h2
        |Con nuestro sistema de notificaciones y seguimiento conocerás el estado de tu envío en todo momento desde que es recolectado hasta que es entregado. 
      h2
        |¿Hubo incidencias? No te preocupes también te notificamos cuando alguna incidencia ocurra.
      .benefits 
        .container-fluid
          .row
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-4-1.png")
              .benefits-text
                |Puedes verificar el status de tu envío en todo momento desde nuestro Panel de Control.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-4-2.png")
              .benefits-text
                |Te enviamos notificaciones de recolección, entrega e incidencias. 
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-4-3.png")
              .benefits-text
                |Puedes compartir estos datos con tus clientes.
      h2.accent.bold.align-center
        |¡LAS MEJORES OPCIONES GARANTIZADO!
  .section-container.section-5.left
    .section-description
      .container-fluid
        .row
          .col-xs-6
            h1
              |¿Tienes un eCommerce?
            h2
              |Tú encárgate de tu negocio, nosotros nos encargamos de los envíos.
            .more-info(data-ng-click="home.openSection(4)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6
            .section-image.image-5.image-right
              img(data-ng-src="common/images/section-5.png")
  .more-info-section.benefits-4
    .close-button(data-ng-click="home.closeSection(4)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |¿Eres desarrollador?
      h2
        |Con nuestra API puedes conectar cualquier sistema de ventas y proporcionar las mejores opciones de envíos a tus clientes. 
      .benefits 
        .container-fluid
          .row
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-5-1.png")
              .benefits-text
                |Tenemos plugins para las plataformas más comunes de ventas en línea.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-5-2.png")
              .benefits-text
                |Instálalas con un solo clic y empieza a disfrutar de los beneficios que paquete.mx tiene para ti.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-5-3.png")
              .benefits-text
                |Línea de Crédito para empresas.
      h2.accent.bold.align-center
        |¡Que la logística de envíos no frene tu negocio en línea!
  .section-container.section-6.right
    .section-description
      .container-fluid
        .row
          .col-xs-6.pull-right
            h1
              |Pide tu recolección con un clic.
            h2
              |Solicita la recolección de tus paquetes desde nuestra plataforma. Sin Llamadas con un solo clic.
            .more-info-right(data-ng-click="home.openSection(5)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6.pull-right
            .section-image.image-6.image-left
              img(data-ng-src="common/images/section-6.png")
  .more-info-section.benefits-5
    .close-button(data-ng-click="home.closeSection(5)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Pide tu recolección con un solo clic.
      h2
        |¿No puedes entregar en mostrador? ¿Son demasiados paquetes? No te preocupes puedes solicitar la recolección de tus paquetes desde nuestra plataforma.
      h2
        |Basta con hacer clic en el botón de "Solicitar recolección".
      .benefits 
        .container-fluid
          .row
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-6-1.png")
              .benefits-text
                |Solicita la recolección de tus paquetes con un clic.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-6-2.png")
              .benefits-text
                |No tienes por que transportar tus paquetes a mostrador.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-6-3.png")
              .benefits-text
                |No hay cargo adicional por recolección
      h2.accent.bold.align-center
        |¡LAS MEJORES OPCIONES GARANTIZADO!
  .section-container.section-7.left
    .section-description
      .container-fluid
        .row
          .col-xs-6
            h1
              |¿Eres desarrolador?
            h2
              |Con nuestra API es muy fácil integrar PAQUETE.MX a tu sistema.
            .more-info(data-ng-click="home.openSection(6)")
              i.fa.fa-plus-circle
              |Más información
          .col-xs-6
            .section-image.image-7.image-right
              img(data-ng-src="common/images/section-7.png")
  .more-info-section.benefits-6
    .close-button(data-ng-click="home.closeSection(6)")
      i.fa.fa-times-circle
    .top-line
    .bottom-line
    .description
      h1
        |Diversas opciones al mejor precio.
      h2
        |Obtén descuentos desde tu 
        span.accent.bold
          |primer envío
        |, pero entre mas envíes mejores tarifas obtendrás. Tenemos los mejores convenios con las paqueterías para darte las mejores opciones y al mejor precio. 
      .benefits 
        .container-fluid
          .row
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-1-1.png")
              .benefits-text
                |Descuentos desde tu primer envió.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-1-2.png")
              .benefits-text
                |Las mejores tarifas con más de X servicios.
            .col-xs-4
              .benefits-image
                img(data-ng-src="common/images/section-1-3.png")
              .benefits-text
                |Entre mas envíos realices mejores tarifas obtienes.
      h2.accent.bold.align-center
        |¡LAS MEJORES OPCIONES GARANTIZADO!
  
  div(data-ng-include="'app/templates/footer.template.html'")