//- .background-image
.image-space
  .container-center
    .container-fluid
      .row
        .col-xs-12.col-md-7
          .main-info
            .align-center
              .main-logo
                img(data-ng-src="common/images/paquete-mx.png")
              .main-text
                h1
                  |¡Obten los mejores precios en tus envios, de una manera rápida y fácil!
            div
              ul
                li
                  h2
                    |Cotiza tus envios en México y a todo el mundo.
                li
                  h2
                    |Entre mas envias mas descuentos obtienes.
        .col-xs-12.col-md-5
          .main-info
            form(name="home.shippingForm",data-ng-submit="home.send()", novalidate)
              div(layout-xs-sm="row")
                .col-xs-12.col-md-10.center-block
                  .container-forms
                    h2.no-margin.align-center.margin-bottom-2
                      |¡Cotiza ahora mismo!
                    .container-fluid
                      .row
                        .col-xs-6
                          h3.no-margin
                            |Origen
                          md-input-container.md-block.margin-top-3
                            label(for="fromZip")
                              |Código Postal
                            input(name="fromZip", data-ng-model="home.shipping.from.zip", required,data-ng-pattern="shell.regex.zip")
                            div(ng-messages="home.shippingForm.fromZip.$error")
                              .message(ng-message="required")
                                |Es requerido.
                              .message(ng-message="pattern")
                                |Código Postal a 5 digitos.
                        .col-xs-6
                          h3.no-margin
                            |Destino
                          md-input-container.md-block.margin-top-3
                            label(for="toZip")
                              |Código Postal
                            input(name="toZip", data-ng-model="home.shipping.to.zip", required,data-ng-pattern="shell.regex.zip")
                            div(ng-messages="home.shippingForm.toZip.$error")
                              .message(ng-message="required")
                                |Es requerido.
                              .message(ng-message="pattern")
                                |Código Postal a 5 digitos.
                      h3.no-margin.margin-bottom-2
                        |¿Qué es lo que envias?
                      .container-fluid
                        .row
                          .col-xs-6
                            .align-center
                              .button-box(data-ng-class="{'active': home.shipping.type == 'box'}", data-ng-click="home.shipping.type= 'box'")
                                .icon-spot
                                  i.fa.fa-dropbox.fa-2x
                                h4.align-center
                                  |Paquete
                          .col-xs-6
                            .align-center
                              .button-box(data-ng-class="{'active': home.shipping.type == 'envelope'}", data-ng-click="home.shipping.type= 'envelope'")
                                .icon-spot
                                  i.fa.fa-envelope
                                h4.align-center
                                  |Documentos
                      .dimensions(data-ng-show="home.shipping.type == 'box'")
                        h3
                          |Dimensiones y Peso
                        .container-fluid
                          .row
                            .col-xs-3
                              md-input-container.md-block.md-input-small
                                label(for="weight")
                                  |Peso
                                input(name="weight", placeholder="en cms", data-ng-model="home.shipping.package.weight", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'box'")
                            .col-xs-3
                              md-input-container.md-block.md-input-small
                                label(for="length")
                                  |Largo
                                input(name="length",placeholder="en cms", data-ng-model="home.shipping.package.length", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'box'")
                            .col-xs-3
                              md-input-container.md-block.md-input-small
                                label(for="width")
                                  |Ancho
                                input(name="width",placeholder="en cms", data-ng-model="home.shipping.package.width", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'box'")
                            .col-xs-3
                              md-input-container.md-block.md-input-small
                                label(for="height")
                                  |Alto
                                input(name="height",placeholder="en cms", data-ng-model="home.shipping.package.height", data-ng-pattern="shell.regex.decimal",data-ng-required="home.shipping.type == 'box'")
                          div(data-ng-show="home.shippingForm.$submitted && (home.shippingForm.weight.$invalid || home.shippingForm.length.$invalid ||home.shippingForm.height.$invalid || home.shippingForm.width.$invalid)")
                            .message
                              |Peso, alto, ancho y largo requeridos en formato decimal. Ej 1.5, 2, 0.5
                    .align-center.margin-top-2
                      md-button.md-raised.md-primary(type="submit")
                        |Cotizar
#float-section.background-container
  #menu
  .section-container.blue
    .section-container.orange
      |Hola
    .section-container.yellow
  .section-container.yellow
    |Hey