.select-box.left
  ul
    li(data-ng-repeat="item in vm.options", data-ng-click="vm.selectItem(item)")
      span.main
        |{{item.zip}} - {{item.county}}
      span
        |{{item.city}} - {{item.state}}