.select-box.left
  ul
    li(data-ng-show="vm.loading")
      .signal-container
        .signal
    li.select-item(data-ng-repeat="item in vm.options", data-ng-click="vm.selectItem(item)")
      .absolute-item
      span.main
        |{{item.zip}}
      div
        span(data-ng-if="item.city")
          |{{item.city}}&nbsp;-&nbsp;
        span.capitalize
          |{{item.state}}
        span.capitalize(data-ng-if="!item.city")
          |&nbsp;-&nbsp;{{vm.country.name}}