.select-box.left
  ul
    li(data-ng-repeat="item in vm.options", data-ng-click="vm.selectItem(item)")
      span.main
        |{{item.CP}} - {{item.asentamiento}}
      span
        |{{item.municipio}} - {{item.estado}}