.dashboard-content
  .container-fluid
    .row        
      .col-xs-6
        .section-space-left
          .form-container
            div
              .form-title
                |Tarjeta de Crédito
              card-form()