.dashboard-content
  .container-fluid
    .row        
      .col-xs-6
        .section-space-right
          .form-container(data-ng-show="paymentMethod.list.length < 1")
            .align-center
              h1
                |Aun no tienes tarjetas guardadas.
              
              .add-dashboard
                i.fa.fa-plus-circle(data-ng-click="paymentMethod.showForm(true)")
                h3(data-ng-click="paymentMethod.showForm(true)")
                  |¡Agrega la primera!
          .board-element(data-ng-repeat="item in paymentMethod.list")
            .board-list
              |{{item.brand}}
            .board-list
              |**** **** **** {{item.last4}}
            .board-actions
              i.fa.fa-trash(confirm-message, data-ng-click="showModal()", data-question='¿Borrar Dirección?', data-confirm="paymentMethod.delete(item, $index)")
      .col-xs-6
        .section-space-left
          .form-container
            .add-dashboard(data-ng-hide="paymentMethod.form")
              i.fa.fa-plus-circle(data-ng-click="paymentMethod.showForm(true)")
              h3(data-ng-click="paymentMethod.showForm(true)")
                |Agregar Tarjeta
            div(data-ng-show="paymentMethod.form")
              .form-title
                |Agregar Tarjeta.
              card-form( data-labels="paymentMethod.labels", data-send-form="paymentMethod.send(response)", data-show-loading="shell.showLoading()", data-hide-loading="shell.hideLoading()")