.dashboard-content
  .container-fluid
    .row        
      .col-xs-6
        .section-space-left
          .form-container
            div
              .form-title
                |Tarjeta de Crédito
              form(name="cardForm", novalidate, data-ng-submit="paymentMethod.update()")
                card-form( data-labels="paymentMethod.labels")
                .align-center
                  md-button.md-raised.md-primary(type="submit", data-ng-bind="paymentMethod.labels.form.save")