.dashboard-header
  .dashboard-header-content
    .dash-section-title(data-ng-bind="shell.dashboard.title")
    .dash-section-subtitle(data-ng-bind="shell.dashboard.subtitle")
.dash-name-section
  .big-text-welcome
    |¡Hola {{shell.setName}}!
  .small-text-welcome
    a(ui-sref="logout")
      |Cerrar Sesión
.dashboard-content
  .container-fluid
    .row        
      .col-xs-6
        .section-space-right
          .form-container(data-ng-show="paymentMethod.list.length < 1")
            .align-center
              h1
                |Aun no tienes tarjetas guardadas.
              
              .add-dashboard
                i.fa.fa-plus-circle(data-ng-click="paymentMethod.showForm(true)")
                h3(data-ng-click="paymentMethod.showForm(true)")
                  |¡Agrega la primera!
          .board-element(data-ng-repeat="item in paymentMethod.list")
            .card-item
              h3
                |{{item.name}}
              i.big.fa.fa-cc-mastercard(data-ng-if="item.brand == 'MASTERCARD'")
              i.big.fa.fa-cc-visa(data-ng-if="item.brand == 'VISA'")
              i.big.fa.fa-cc-amex(data-ng-if="item.brand == 'AMEX'")
              i.fa.fa-circle
              i.fa.fa-circle
              i.fa.fa-circle
              i.fa.fa-circle
              |&nbsp;
              i.fa.fa-circle
              i.fa.fa-circle
              i.fa.fa-circle
              i.fa.fa-circle
              |&nbsp;
              i.fa.fa-circle
              i.fa.fa-circle
              i.fa.fa-circle
              i.fa.fa-circle
              |&nbsp;
              span
                |{{item.termination}}
            .board-actions
              i.fa.fa-trash(data-ng-click="paymentMethod.delete(item, $index)")
      .col-xs-6
        .section-space-left
          .form-container
            .add-dashboard(data-ng-hide="paymentMethod.form")
              i.fa.fa-plus-circle(data-ng-click="paymentMethod.showForm(true)")
              h3(data-ng-click="paymentMethod.showForm(true)")
                |Agregar Tarjeta
            div(data-ng-show="paymentMethod.form")
              .form-title
                |Agregar Tarjeta.
              card-form( data-labels="paymentMethod.labels", data-send-form="paymentMethod.send(response)", data-show-loading="shell.showLoading()", data-hide-loading="shell.hideLoading()")