.dashboard-content
  .container-fluid
    .row        
      .col-xs-6
        .section-space-left
          .form-container
            div
              .form-title
                |Tarjeta de Crédito
              card-form( data-labels="paymentMethod.labels", data-send-form="paymentMethod.send(response)", data-user="paymentMethod.user")