.menu-container
  .menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
.privacy-container
  .logo-color
  div(data-ng-include="'app/privacy/privacy.template.html'")
div(data-ng-include="'app/templates/footer.template.html'")