.menu-container
  .menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
.pages-section
  .container-fluid
    .row
      .col-sm-12
        register-form-alt
div(data-ng-include="'app/templates/footer.template.html'")