form(name="addressForm", data-ng-submit="send()", novalidate)
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="country",data-ng-bind="shell.labels.address.form.country")
      input(name="country", data-ng-model="newAddress.country", required)
      div(ng-messages="addressForm.country.$error")
        div(ng-message="required",data-ng-bind="shell.labels.form.errors.required")
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="street",data-ng-bind="shell.labels.address.form.street")
      input(name="street", data-ng-model="newAddress.street", required)
      div(ng-messages="addressForm.street.$error")
        div(ng-message="required",data-ng-bind="shell.labels.form.errors.required")
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="number",data-ng-bind="shell.labels.address.form.number")
      input(name="number", data-ng-model="newAddress.number", required="")
      div(ng-messages="addressForm.number.$error")
        div(ng-message="required",data-ng-bind="shell.labels.form.errors.required")
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="apt",data-ng-bind="shell.labels.address.form.apt")
      input(name="apt", data-ng-model="newAddress.apt", required="")
      div(ng-messages="addressForm.apt.$error")
        div(ng-message="required",data-ng-bind="shell.labels.form.errors.required")
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="zip",data-ng-bind="shell.labels.address.form.zip")
      input(name="zip", data-ng-model="newAddress.zip", required="")
      div(ng-messages="addressForm.zip.$error")
        div(ng-message="required",data-ng-bind="shell.labels.form.errors.required")
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="county",data-ng-bind="shell.labels.address.form.county")
      input(name="county", data-ng-model="newAddress.county", required="")
      div(ng-messages="addressForm.county.$error")
        div(ng-message="required",data-ng-bind="shell.labels.form.errors.required")
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="city",data-ng-bind="shell.labels.address.form.city")
      input(name="city", data-ng-model="newAddress.city", required="")
      div(ng-messages="addressForm.city.$error")
        div(ng-message="required",data-ng-bind="shell.labels.form.errors.required")
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="state",data-ng-bind="shell.labels.address.form.state")
      input(name="state", data-ng-model="newAddress.state", required="")
      div(ng-messages="addressForm.state.$error")
        div(ng-message="required",data-ng-bind="shell.labels.form.errors.required")
  .align-center
    md-button.md-raised(data-ng-click="hideForm()", data-ng-bind="shell.labels.address.form.cancel",aria-label="shell.labels.address.form.cancel")
    md-button.md-raised.md-primary(type="submit",data-ng-bind="shell.labels.address.form.save",data-aria-label="shell.labels.save",aria-label="shell.labels.address.form.save")