form(name="addressForm", data-ng-submit="send()", novalidate)
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="name",data-ng-bind="labels.address.form.name")
      input(name="name", data-ng-model="newAddress.name",ng-maxlength="30",required)
      div(ng-messages="addressForm.name.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
        div(ng-message="maxlength")
          |Máximo 30 caracteres.
      md-icon
        div(data-balloon-length="medium" data-balloon="Escriba el Nombre y Apellido." data-balloon-pos="right")
          i.fa.fa-info-circle
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="company",data-ng-bind="labels.address.form.company")
      input(name="company", data-ng-model="newAddress.company", ng-maxlength="30")
      div(ng-messages="addressForm.company.$error")
        div(ng-message="maxlength")
          |Máximo 30 caracteres.
      md-icon
        div(data-balloon-length="medium" data-balloon="Nombre de la empresa." data-balloon-pos="right")
          i.fa.fa-info-circle
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="phone",data-ng-bind="labels.address.form.phone")
      input(name="phone", data-ng-model="newAddress.phone", required, data-ng-pattern="regex.mobile")
      div(ng-messages="addressForm.phone.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
        div(ng-message="pattern",data-ng-bind="labels.address.errors.pattern")
      md-icon
        div(data-balloon-length="medium" data-balloon="Agregar el número telefónico a 10 dígitos" data-balloon-pos="right")
          i.fa.fa-info-circle
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="email",data-ng-bind="labels.address.form.email")
      input(name="email", data-ng-model="newAddress.email", type="email")
      div(ng-messages="addressForm.email.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
        div(ng-message="invalid",data-ng-bind="labels.address.errors.pattern")
      md-icon
        div(data-balloon-length="medium" data-balloon="El correo que ingresas lo utilizamos para realizar confirmaciones, entregas de envío y notificaciones importantes." data-balloon-pos="right")
          i.fa.fa-info-circle
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="street",data-ng-bind="labels.address.form.street")
      input(name="street", data-ng-model="newAddress.street", required)
      div(ng-messages="addressForm.street.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
      md-icon
        div(data-balloon-length="medium" data-balloon="Ingresa el nombre de la calle sin número" data-balloon-pos="right")
          i.fa.fa-info-circle
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="number",data-ng-bind="labels.address.form.number")
      input(name="number", data-ng-model="newAddress.number", required="")
      div(ng-messages="addressForm.number.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
      md-icon
        div(data-balloon-length="medium" data-balloon="Favor de verificar que el número es el correcto" data-balloon-pos="right")
          i.fa.fa-info-circle
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="apt",data-ng-bind="labels.address.form.apt")
      input(name="apt", data-ng-model="newAddress.apt")
      div(ng-messages="addressForm.apt.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
      md-icon
        div(data-balloon-length="medium" data-balloon="En caso que cuente con un número interior, especificarlo" data-balloon-pos="right")
          i.fa.fa-info-circle
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="reference")
        |Referencia
      input(name="reference", data-ng-model="newAddress.reference", placeholder="Ej. Fachada color naranja")
      div(ng-messages="addressForm.reference.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
      md-icon
        div(data-balloon-length="medium" data-balloon="Esto será de ayuda para la paquetería" data-balloon-pos="right")
          i.fa.fa-info-circle
  .country-zip(layout-xs-sm="row",data-ng-if="type == 'checkout' ")
    .row
      .col-xs-6
        div
          |País
        div
          span.flag-icon.flag-icon-squared.icon-xl(class="flag-icon-{{newAddress.country.code}}")
          span.address-country
            |{{newAddress.country.code}}
      .col-xs-6
        div
          |Código Postal
        span.address-country
          |{{newAddress.zip}}
      .col-xs-12
        .change-zip
          span(data-ng-click="showZipMessage()")
            |Modificar Código Postal
  div(layout-xs-sm="row", data-ng-if="type != 'checkout' ")
    .container-fluid
      .row
        .col-xs-3
          select-country(data-countries="countries", data-country="newAddress.country")
        .col-xs-9
          md-input-container.md-block
            label(for="zip",data-ng-bind="labels.address.form.zip")
            input(name="zip", data-ng-model="newAddress.zip", required="")
            div(ng-messages="addressForm.zip.$error")
              div(ng-message="required",data-ng-bind="labels.address.errors.required")
            //- select-cities(data-cities="cities", data-selected="newAddress.data", data-search="newAddress.zip", data-country="country")
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="county",data-ng-bind="labels.address.form.county")
      input(name="county", data-ng-model="newAddress.county", required="")
      div(ng-messages="addressForm.county.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
      //- md-icon
        div(data-balloon-length="medium" data-balloon="Now that's a super big text we have over here right? Lorem ipsum dolor sit I'm done." data-balloon-pos="right")
          i.fa.fa-info-circle
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="city",data-ng-bind="labels.address.form.city")
      input(name="city", data-ng-model="newAddress.city", required="")
      div(ng-messages="addressForm.city.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
      //- md-icon
        div(data-balloon-length="medium")
          i.fa.fa-info-circle
  div(layout-xs-sm="row")
    md-input-container.md-block
      label(for="state",data-ng-bind="labels.address.form.state")
      input(name="state", data-ng-model="newAddress.state", required="")
      div(ng-messages="addressForm.state.$error")
        div(ng-message="required",data-ng-bind="labels.address.errors.required")
      //- md-icon
        div(data-balloon-length="medium" data-balloon="Now that's a super big text we have over here right? Lorem ipsum dolor sit I'm done." data-balloon-pos="right")
          i.fa.fa-info-circle
  .align-center(data-ng-if="type =='checkout'")
    md-button.md-raised.md-primary(type="submit",data-ng-bind="labels.address.form.continue",aria-label="labels.address.form.continue")
  .align-center(data-ng-if="type =='save'")
    md-button.md-raised(data-ng-click="hideForm()", data-ng-bind="labels.address.form.cancel",aria-label="labels.address.form.cancel")
    md-button.md-raised.md-primary(type="submit",data-ng-bind="labels.address.form.save",aria-label="labels.address.form.save")