.footer
  a.logo-complete-link.center(ui-sref="home")
  .margin-top-2
    .container-fluid
      .row
        .col-sm-4.footer-separator
          .padding-footer
        .col-sm-4.footer-separator
          .padding-footer
        .col-sm-4.footer-separator
          .padding-footer