.footer
  a.logo-complete-link.center(ui-sref="home")
  .margin-top-2
    .container-fluid
      .row
        .col-sm-4.footer-separator
          .padding-footer
            //- .footer-title
              |PAQUETE.MX
            //- .footer-item
              |Calle Norte 176 681, Pensador Mexicano, 15510 Ciudad de México, CDMX
            .footer-title
              |Mi cuenta
            .footer-item
              a(ui-sref="#")
                |Iniciar Sesión
            .footer-item
              a(ui-sref="#")
                |Mis Envios
            .footer-item
              a(ui-sref="#")
                |Mi Perfil
            .footer-title
              |Privacidad
            .footer-item
              a(ui-sref="privacy")
                |Aviso de Privacidad
            .footer-title
              |Términos y Condiciones
            .footer-item
              a(ui-sref="#")
                |Leer Terminos y Condiciones de Uso
        .col-sm-4.footer-separator
          .padding-footer
            .footer-title
              |Servicios
            .footer-item
              a(ui-sref="home")
                |Cotizar mi envio
            .footer-item
              a(ui-sref="dashboard.shippings")
                |Rastrear mi paquete.
            //- .footer-item
              a(ui-sref="#")
                |¿Comó funciona?
            //- .footer-item
              a(ui-sref="#")
                |Preguntas Frecuentes
            .footer-title
              |Soluciones
            .footer-item
              a(ui-sref="home-section({section:'eCommerce'})",ui-sref-opts="{reload: true}")
                |¿Tienes un eCommerce?
            .footer-title
              |Pagos
            .footer-item
              //- a(ui-sref="#")
                |Seguridad en pagos
            .footer-item
              a(ui-sref="home-section({section:'payments'})",ui-sref-opts="{reload: true}")
                |¿Comó puedo pagar?
        .col-sm-4.footer-separator
          .padding-footer
            .footer-title
              |Contactanos
            .footer-item
              a(ui-sref="#")
                |hola@paquete.mx
            .footer-title
              |Siguenos
            .footer-item
              a(href="https://facebook.com/pqtmex" target="_blank")
                i.fa.fa-facebook
                |@pqtmex
            .footer-item
              a(href="https://twitter.com/pqtmex" target="_blank")
                i.fa.fa-twitter
                |@pqtmex
            .footer-item
              a(href="https://instagram.com/pqtmex" target="_blank")
                i.fa.fa-instagram
                |@pqtmex
            //- .footer-item
              a(href="https://linkedin.com/pqtmex" target="_blank")
                i.fa.fa-linkedin
                |@pqtmex
      .padding-footer
        .align-center.margin-top-2.accent
          |Paquete MX. Todos los Derechos Reservador 2018
        .align-center
          |Los logos y marcas son propiedad de sus respectivos dueños.