.menu-logo
  a.logo-link(ui-sref="home")
.navs.mobile
  nav.container-bars(data-ng-click="shell.menuOpen = !shell.menuOpen", data-ng-class="{'active':shell.menuOpen}")
    .menu-bar.bar1
    .menu-bar.bar2
    .menu-bar.bar3
.menu-mobile(data-ng-class="{'active':shell.menuOpen}")
  nav.active
    a(href="home")
      |INICIO
  nav
    a(href="home")
      |COTIZAR
  nav
    a(href="dashboard.shippings")
      |RASTREAR
  nav
    a(href="#")
      |eCOMMERCE
  nav
    a(href="#")
      |MÉTODOS DE PAGO
  //- nav
    a(href="#")
      |PREGUNTAS FRECUENTES
  nav
    a(href="#")
      |SEGURIDAD
  nav
    a(href="#")
      |¿COMÓ FUNCIONA?
  nav
    a(href="#")
      |MI CUENTA
.navs.desktop
  nav.active(ui-sref="dashboard.shippings")
    a
      |MI CUENTA
  //- nav
    a(href="#")
      |¿COMÓ FUNCIONA?
  //- nav
    a(href="#")
      |RASTREAR
  //- nav
    a(href="#")
      |COTIZAR
  nav(ui-sref="home")
    |INICIO
  nav(ui-sref="home")
    |¡COTIZAR DE NUEVO!