.menu-logo
  img(data-ng-src="common/images/paquete-text.png")
.navs
  nav
    a(href="#")
      |MI CUENTA
  nav
    a(href="#")
      |¿COMÓ FUNCIONA?
  nav
    a(href="#")
      |RASTREAR
  nav
    a(href="#")
      |COTIZAR
  nav.active
    a(href="#")
      |INICIO