@import "colors";

.dashboard-menu
  background-color: #f2f2f2
  height: 100vh
  border-right: 2px solid $primary-color
  position: fixed
  left: 0
  top: 0
  box-sizing: border-box
.dashboard-logo
  padding: 20px 0
  text-align: center
  img
    width: 100px
.dashboard-items
  nav
    position: relative
    font-size: 2rem
    font-weight: bold
    font-family: 'Arial' !important
    // border-bottom: solid 1px #999
    cursor: pointer
    box-sizing: border-box
    color: rgba(0,0,0,0.6)
    &:first-child
      // border-top: solid 1px #999
    &:hover
      background-color: rgba(0,0,0,0.1)
    span, a
      position: relative
      z-index: 2
      display: inline-block
      padding: 5px 25px
    .selected-bar
      position: absolute
      left: 0
      z-index: 1
      width: 0
      height: 100%
      background-color: $primary-color
      &.active
        width: 15px
    &.active
      background-color: rgba(0,0,0,0.2)
      color: rgba(0,0,0,0.5)
.dashboard-header
  overflow: auto
  border-bottom: 2px solid #f2f2f2
  position: fixed
  background-color: #FFF
  width: 100%
  z-index: 2
  height: 130px
  box-sizing: border-box
  .dashboard-header-content
    position: relative
    padding: 15px 30px
    width: 100%
    box-sizing: border-box
  .dash-section-title
    font-size: 5rem
    font-weight: 700
    font-family: 'Roboto'
    color: rgba(0,0,0,0.7)
  .dash-section-subtitle
    font-size: 2rem
    font-weight: 300
    font-family: 'Roboto'
    color: rgba(0,0,0,0.7)
  // color: #FFF
  // background-color: $primary-color
.dashboard-content
  padding: 160px 30px
  background-color: #f7f7f7
  // background-color: #FFF

.board-element
  margin-bottom: 20px
  padding: 15px
  border: 2px solid #f2f2f2
  border-radius: 10px
  color: #666
  h2
    // color: rgba(0,0,0,0.9);
    color: $primary-color
    margin: 0
.board-list
  font-size: 2rem

.add-dashboard
  cursor: pointer
  text-align: center
  color: $primary-color
  font-family: 'Roboto'
  &:hover
    color: $accent-color
  i
    font-size: 6rem
  
.form-title
  text-align: center
  margin-bottom: 30px
  color: $primary-color
  font-family: 'Roboto'
  font-weight: 400
  font-size: 3rem
  line-height: 1em

.card-icons
  i
    font-size: 7rem
    margin-right: 20px
    &.fa-cc-visa
      color: $visa-color
    &.fa-cc-amex
      color: $amex-color
    &.fa-cc-mastercard
      color: $mastercard-color

.board-actions
  color: #CCC
  font-size: 2rem
  text-align: right
  cursor: pointer
  i
    margin-left: 10px
    &:hover
     color: $primary-color

.form-container
  padding: 15px
  border: 2px solid rgba(0,0,0,0.12)
  border-radius: 10px
  .confirm-title
    font-size: 2.3rem
    font-weight: bold
  h1
    margin: 0 0 20px 0

table.dashboard-table
  td, th
    padding: 10px

.small-image
  text-align: center
  img
    max-width: 150px
    width: 100%

.shipping-info
  padding-bottom: 20px
  border-bottom: solid 2px rgba(0,0,0,0.2)

#side-content
  padding-left: 140px
  height: 100vh

#side-menu
  z-index: 9999
  position: fixed
  top: 0
  left: 0
  width: 140px
  height: 100vh
  background-color: $primary-color
  .item-side
    text-align: center
    color: #FFF
    cursor: pointer
    padding: 10px
    font-family: 'Quicksand'
    font-weight: 700
    border-bottom: 1px solid #FFF
    i
      font-size: 3rem
    &:hover, &.active
      background-color: #FFF
      color: $primary-color

.back-button
  cursor: pointer
  i
    color: #CCC
    &:hover
      color: $primary-color

.dash-name-section
  font-family: 'Roboto'
  // color: rgba(0,0,0,0.7)
  position: fixed
  right: 50px;
  z-index: 2
  top: 23px
  .big-text-welcome
    font-weight: 700
    font-size: 3.5rem
    line-height: 1em
    color: $primary-color
  .small-text-welcome
    color: $gray-disabled
    text-align: right
    font-size: 1.5rem
    text-decoration: underline

.dash-submenu
  padding: 10px 0 
  nav
    float: right
    font-family: 'Roboto'
    font-size: 2rem
    padding-left: 10px

.drop-box
  width: 100%
  border: 3px $gray-disabled dashed
  padding: 10px
  cursor: pointer
  &.dragover
    background-color: $gray-disabled
  .drag-title
    font-size: 2rem
    font-weight: bold
    text-align: center

i.fa.fa-download
  padding: 5px 5px

.hover-accent:hover
  color: $primary-color

table.table.table-responsive.hover
  tbody
    tr:hover
      background-color: $primary-color
      color: #FFF
      cursor: pointer
      td.accent
        color: #FFF
      td.account
        background-color: #f2f2f2
        color: $primary-color

.tracking-status
  .row
    padding-top: 10px
    padding-bottom: 10px
  .mark
    background-color: #f7f7f7

.tracking-status.in-progress
  .mark
    display: inline-block
    width: 20px
    height: 20px
    margin-right: 20px
    border-radius: 50%
    border: 1px solid orange
  .mark.completed
    background-color: orange


  .mid-status
    position: relative
    .mark
      &::after
        position: absolute
        content: ''
        display: inline-block
        background-color: orange
        width: 2px
        height: 30px
        margin-left: 5px
        bottom: 34px
    .mark.completed
      background-color: orange
      &::before
        position: absolute
        content: ''
        display: inline-block
        background-color: orange
        width: 10px
        height: 50px
        margin-left: 1px
        bottom: 25px

  .final-status
    position: relative
    .mark
      &::after
        position: absolute
        content: ''
        display: inline-block
        background-color: orange
        width: 2px
        height: 30px
        margin-left: 5px
        bottom: 34px
    .mark.completed
      background-color: orange
      &::before
        position: absolute
        content: ''
        display: inline-block
        background-color: orange
        width: 10px
        height: 50px
        margin-left: 1px
        bottom: 25px


.tracking-status.delivered
  .mark
    display: inline-block
    width: 20px
    height: 20px
    margin-right: 20px
    border-radius: 50%
    border: 1px solid #01b710
  .mark.completed
    background-color: #01b710

  .mid-status
    position: relative
    .mark
      &::after
        position: absolute
        content: ''
        display: inline-block
        background-color: #01b710
        width: 2px
        height: 30px
        margin-left: 5px
        bottom: 34px
    .mark.completed
      background-color: #01b710
      &::before
        position: absolute
        content: ''
        display: inline-block
        background-color: #01b710
        width: 10px
        height: 50px
        margin-left: 1px
        bottom: 25px

  .final-status
    position: relative
    .mark
      &::after
        position: absolute
        content: ''
        display: inline-block
        background-color: #01b710
        width: 2px
        height: 30px
        margin-left: 5px
        bottom: 34px
    .mark.completed
      background-color: #01b710
      &::before
        position: absolute
        content: ''
        display: inline-block
        background-color: #01b710
        width: 10px
        height: 50px
        margin-left: 1px
        bottom: 25px

/*  Responsive Options  */
.show-on-mobile
  opacity: 0
.menu-toggle
  position: absolute
  width: 50px
  height: 50px
  right: 0
  top: 10px
  padding-left: 55px
  padding-top: 10px;
  
  span
    padding: 8px;

    img
      width: 20px
      height: 20px

@media screen and (max-width: 800px)
  /*  General responsive options  */
  h1
    font-size: 20px
  h2
    font-size: 18px
  h3
    span
      font-size: 14px
  .show-on-mobile
    opacity: 1
  .hide-on-mobile
    display: none

  #side-content
    .dashboard-header
      padding-left: 30px
      height: 90px
      .dashboard-header-content
        .dash-section-title
          font-size: 1.4em;
      .mobile-halfed
        width: 200px

    .dash-name-section
      opacity: 0
      .big-text-welcome
        font-size: 1.2em;

    .dashboard-content
      padding: 92px 30px
      
      .shipping-info
        .tracking-status
          span
            b
              font-size: 0.8em;
            span
              font-size: 0.8em;

      table
        th
          font-size: 0.8em
        td
          font-size: 0.8em
  #side-menu
    height: 200vh
    transition: 0.2s linear all;
  #side-menu.closed
    transition: 0.2s linear all;
    margin-left: -140px
  #side-menu.closed + #side-content
    transition: 0.2s linear all;
    padding-left: 0

    .dash-name-section
      opacity: 1

