@import "colors";

.dashboard-menu
  background-color: #f2f2f2
  height: 100vh
  border-right: 2px solid $primary-color
  position: fixed
  left: 0
  top: 0
  box-sizing: border-box
.dashboard-logo
  padding: 20px 0
  text-align: center
  img
    width: 70%
.dashboard-items
  nav
    position: relative
    font-size: 2rem
    font-weight: bold
    font-family: 'Arial' !important
    // border-bottom: solid 1px #999
    cursor: pointer
    box-sizing: border-box
    color: rgba(0,0,0,0.6)
    &:first-child
      // border-top: solid 1px #999
    &:hover
      background-color: rgba(0,0,0,0.1)
    span, a
      position: relative
      z-index: 2
      display: inline-block
      padding: 5px 25px
    .selected-bar
      position: absolute
      left: 0
      z-index: 1
      width: 0
      height: 100%
      background-color: $primary-color
      &.active
        width: 15px
    &.active
      background-color: rgba(0,0,0,0.2)
      color: rgba(0,0,0,0.5)
.dashboard-header
  overflow: auto
  border-bottom: 2px solid #f2f2f2
  padding: 15px 30px
  // background-color: #f2f2f2
  .dash-section-title
    font-size: 5rem
    font-weight: 700
    font-family: 'Roboto'
    color: rgba(0,0,0,0.7)
  .dash-section-subtitle
    font-size: 2rem
    font-weight: 300
    font-family: 'Roboto'
    color: rgba(0,0,0,0.7)
  // color: #FFF
  // background-color: $primary-color
.dashboard-content
  padding: 30px 30px
  background-color: #FFF

.board-element
  margin-bottom: 20px
  padding: 15px
  border: 2px solid #f2f2f2
  border-radius: 10px
  color: #666
  h2
    // color: rgba(0,0,0,0.9);
    color: $primary-color
    margin: 0
.board-list
  font-size: 2rem

.add-dashboard
  cursor: pointer
  text-align: center
  color: $primary-color
  font-family: 'Roboto'
  &:hover
    color: $accent-color
  i
    font-size: 6rem
  
.form-title
  text-align: center
  margin-bottom: 30px
  color: $primary-color
  font-family: 'Roboto'
  font-size: 3rem
  line-height: 1em

.board-actions
  color: #CCC
  font-size: 2rem
  text-align: right
  cursor: pointer
  i
    margin-left: 10px
    &:hover
     color: $primary-color

.form-container
  padding: 15px
  border: 2px solid #f2f2f2
  border-radius: 10px