@import 'colors'
body
  margin: 0
  padding: 0
  background-color: #f7f7f7 !important

*
  -webkit-overflow-scrolling: touch;
  outline: none

a, a:active, a:hover, a:visited
  color: inherit
  text-decoration: none

.no-margin
  margin: 0

.align-center
  text-align: center

.align-right
  text-align: right

.height-100
  height: 100%
  overflow: auto

.anchor-section
  cursor: pointer
  font-size: 1.5rem
  text-decoration: underline
  color: $gray-disabled
  &:hover
   color: $accent-color

.margin-auto
  margin: 0 auto
.margin-top-1
  margin-top: 1rem
.margin-top-2
  margin-top: 2rem
.margin-bottom-2
  margin-bottom: 2rem
.margin-top-3
  margin-top: 3rem
.margin-top-4
  margin-top: 4rem

.margin-bottom-1
  margin-bottom: 1rem

.margin-bottom-2
  margin-bottom: 2rem

.margin-bottom-3
  margin-bottom: 3rem

.center-block
  float: none
  display: block
  margin-left: auto
  margin-right: auto

[class*="col-"]
  padding: 0

.padding-top-bottom
  padding: 20px 0
.padding-side
  padding: 0px 20px
.padding-left
  padding: 20px 10px 20px 20px
.padding-right
  padding: 20px 20px 10px 20px
.container-fluid
  padding: 0
  margin: 0

.row
  margin: 0 !important;

.message
  color: rgb(221,44,0)
  font-size: 14px

md-input-container.md-input-small
  .md-errors-spacer
    min-height: 10px
    height: 10px

.blend
  // mix-blend-mode: difference
  &.black
    // color: $primary-color
    color: rgba(0,0,0,0.70)
    // text-shadow: 2px 1px rgba(0,0,0,0.70);

a.accent
  color: $primary-color
  &:hover
    text-decoration: underline

.accent
  color: $primary-color
.secondary-accent
  color: $accent-color
.disabled-color
  color: $gray-disabled
.light
  font-weight: 300
.bold
  font-weight: 700
.relative
  position: relative
.medium-font
  font-size: 2rem
/*select*/
.select-box
  background-color: rgba(0,0,0,0.8)
  color: #FFF
  // min-width: 300px
  // width: 400%
  width: 300%
  max-height: 300px
  overflow: auto
  position: absolute
  left: 0
  display: inline-block
  z-index: 2
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  &.left
    margin-top: 5px
    width: 150%
    left: -50%
  ul
    list-style: none
    margin: 0
    padding: 0
    font-family: 'Roboto'
    font-weight: 700
    li.select-item
      padding: 10px
      border-bottom: 2px solid #FFF
      cursor: pointer
      position: relative
      .absolute-item
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
      &:last-child
        border-bottom: 0
      &:hover
        background-color: $primary-color
        span.main
          color: #FFF
      span
        &.main
          display: block
          font-size: 1.7rem
          color: $accent-color
/*select*/

.country-container
  position: relative
.country-data
  font-family: 'Roboto'
  font-size: 1.8rem
  font-weight: 700
  padding: 10px 10px 5px 10px
  cursor: pointer
  i
    color: $primary-color
  &:hover
    background-color: $primary-color
    border-radius: 5px
    color: #FFF
    i
      color: #FFF
.flag-icon
  margin-right: 5px
span.country-code
  text-transform: uppercase
span.country-name
  white-space: nowrap
  text-overflow: ellipsis
  display: inline-block
  width: 100%
  text-transform: uppercase
  overflow: hidden; 

.capitalize
  text-transform: capitalize

.pointer
  cursor: pointer

.logo-link
  display: block
  width: 167px
  height: 50px
  background: url("images/logo-text.png") no-repeat
  background-size: cover
  &.white
    background-position: 100% 0
  &.center
    margin: 0 auto
.logo-complete-link
  display: block
  width: 131px
  height: 114px
  background: url("images/logo-white.png") no-repeat
  background-size: cover
  &.white
    background-position: 100% 0
  &.center
    margin: 0 auto

.uppercase
  text-transform: uppercase

.section-space-right
  padding-right: 15px;

.section-space-left
  padding-left: 15px;

.error
  color: red !important

.success
  color: green
.success-checkout
  text-align: center
  i
    color: green
    font-size: 14rem

iframe
  position: absolute
  top: -100px

.md-primary
  font-size: 1.5rem
  // padding: 20px 10px
  color: #FFF !important
  font-family: 'Roboto' 
  font-weight: 700 

table.info-table
  td,th
    padding: 20px 20px 0 0

.col-centered
    float: none
    margin: 0 auto

.navs.mobile
  top: 18px
  right: 10px
  position: absolute
  padding-right: 10px

.menu-mobile
  position: fixed
  right: -300px
  top: 0
  background-color: $primary-color
  color: #FFF
  font-family: 'Roboto'
  font-weight: 700
  font-size: 1.8rem
  width: 300px
  height: 105vh
  z-index: 1
  transition: right 0.4s
  // display: none
  &.active
    // display: block
    right: 0
  nav
    padding: 5px 20px
    &:hover
      background-color: #FFF
      color: $primary-color


/*media query defaults*/
.navs.mobile
  display: none
/*media query defaults*/


.opacity-privacy
  position: fixed;
  width: 100%
  height: 100%
  background-color: rgba(255,255,255,0.9)
  top: 0
  left: 0 
  z-index: 10000000000
  overflow: scroll
.privacy-container
  width: 70%
  margin: 0 auto
  overflow: auto
  padding-top: 20px
  padding-bottom: 50px
.close-privacy
  position: absolute
  right: 20px
  top: 20px
  font-size: 5rem
  cursor: pointer
  color: #CCC
  &:hover
    color: $primary-color