/*MENU*/

@media screen and (max-width: 320px)
  .page-attribute
    h1
      text-align: center
      font-size: 3rem
    h2
      font-size: 2rem
      line-height: 1.3em
  
@media screen and (max-width: 768px)
  .padding-footer
    text-align: center
@media screen and (max-width: 950px)
  .menu-tabs
    .navs.desktop
      display: none
    .navs.mobile
      display: block
    .menu-logo
      float: none
      padding: 0
      margin-top: 13px
      .logo-link
        margin: 0 auto

/*MENU*/