.dashboard-header
  .dashboard-header-content
    .dash-section-title
      span.back-button(ui-sref="dashboard.shippings")
        i.fa.fa-arrow-circle-left
        |&nbsp;
      span(data-ng-bind="shell.dashboard.title")
    .dash-section-subtitle
      span.uppercase
        |{{shipping.data.carrier}}
      span
        |&nbsp;-&nbsp;{{shipping.data.trackingNumber}}
      span
        |&nbsp;-&nbsp;{{shipping.labels[shipping.data.status]}}
.dash-name-section
  .big-text-welcome
    |¡Hola {{shell.setName}}!
  .small-text-welcome
    a(ui-sref="logout")
      |Cerrar Sesión
.dashboard-content
  h1.accent.align-center
      |&nbsp;{{shipping.data.trackingNumber}}
  .container-fluid
    .shipping-info
      .row
        .col-xs-4
          h2.accent
            |Origen
          .section-space-right
            .board-list
              |{{shipping.data.service.from.street}}, {{shipping.data.service.from.number}}&nbsp;
              span(data-ng-if="shipping.data.service.from.apt")
                | - {{shipping.data.service.from.apt}}
            .board-list
              |{{shipping.data.service.from.county}}
              span(data-ng-if="shipping.data.service.from.city")
                |, {{shipping.data.service.from.city}}
              span
                |, CP. {{shipping.data.service.from.zip}}
            .board-list
              |{{shipping.data.service.from.state}}
              span.uppercase
                |, {{shipping.data.service.from.country.name}}
        .col-xs-4
          .align-center
            .small-image(data-ng-if="shipping.data.status == 'delivered'")
              img(ng-src="common/images/delivered.png")
            .small-image(data-ng-if="shipping.data.status == 'label_created'")
              img(ng-src="common/images/label_created.png")
            .small-image(data-ng-if="shipping.data.status != 'label_created' && shipping.data.status != 'delivered'")
              img(ng-src="common/images/in_transit.png")
            h1.disabled-color(data-ng-class="{'success': shipping.data.status =='delivered'}")
              |{{shipping.labels[shipping.data.status]}}
            div(data-ng-if="shipping.data.signedBy")
              |Recibido Por
              h3.uppercase
                |{{shipping.data.signedBy}}

            div(data-ng-if="shipping.data.status == 'label_created'")
              md-button.md-raised.md-primary(href="{{shell.downloadLabel(shipping.data.trackingNumber)}}", download)
                |Imprimir Etiqueta
        .col-xs-4
          h2.accent
            |Destino
          .board-list
            |{{shipping.data.service.to.street}}, {{shipping.data.service.to.number}}&nbsp;
            span(data-ng-if="shipping.data.service.to.apt")
              | - {{shipping.data.service.to.apt}}
          .board-list
            |{{shipping.data.service.to.county}}
            span(data-ng-if="shipping.data.service.to.city")
              |, {{shipping.data.service.to.city}}
            span
              |, CP. {{shipping.data.service.to.zip}}
          .board-list
            |{{shipping.data.service.to.state}}
            span.uppercase
              |, {{shipping.data.service.to.country.name}}
    .shipping-info(data-ng-if="shipping.data.status == 'label_created'")
      h1.accent
        |Etiqueta y Recolección
      div(data-ng-if="shipping.data.status == 'label_created'")
        ul
          li
            |Descarga e imprime tu etiqueta 
            span.accent.bold
              |2 veces 
            |&nbsp;( por cada paquete ).
          li
            |Pega una de las copias en tu paquete o paquetes.
          li
            |Si llevas tus paquetes a mostrador una copia sera sellada como acuse de recepción.
        md-button.md-raised.md-primary(href="{{shell.downloadLabel(shipping.data.trackingNumber)}}", download)
          |Imprimir Etiqueta
        div(data-ng-if="!shipping.data.pickupConfirmation ")
          h2.disabled-color
            span.bold
              |Entrega 
            |&nbsp;tu paquete en mostrador        
          .padding-left-2
            span
              |¿Donde entregar?
            a.accent.underline(href="https://www.ups.com/dropoff?loc=es_MX", target="_blank", data-ng-if="shipping.data.service.service.service == 'ups'")
              |&nbsp;Buscar puntos de entrega 
              span.uppercase.bold.accent
                |{{shipping.data.service.service.service}}
            a.accent.underline(href="http://www.fedex.com/locate/index.html?locale=es_MX", target="_blank", data-ng-if="shipping.data.service.service.service == 'fedex'")
              |&nbsp;Buscar puntos de entrega 
              span.uppercase.bold.accent
                |{{shipping.data.service.service.service}}
          h2.disabled-color
            |o
            span.bold
              |&nbsp;Agenda
            |&nbsp;recolección en domicilio
          
          .row
            .col-xs-12.col-sm-6
              .padding-left-2
                h4
                  |Fecha
                form(name="shipping.pickupForm", novalidate="", data-ng-submit="shipping.sendPickUp()")
                  md-datepicker(name="pickupDate",md-open-on-focus, ng-model="shipping.pickup.date", md-placeholder="Día", md-min-date="shipping.today", required)
                  h4
                    |Horario
                  md-radio-group(name="pickupSchedule",ng-model="shipping.pickup.schedule")
                    md-radio-button.md-primary(value="08:00-19:00")
                      |8:00 horas - 19:00 horas (Horario Abierto)
                    md-radio-button.md-primary(value="09:00-19:00")
                      |09:00 horas - 19:00 horas (Horario Abierto)
                    md-radio-button.md-primary(value="10:00-19:00")
                      |10:00 horas - 19:00 horas (Horario Abierto)
                    md-radio-button.md-primary(value="11:00-19:00")
                      |11:00 horas - 19:00 horas (Horario Abierto)
                    md-radio-button.md-primary(value="12:00-19:00")
                      |12:00 horas - 19:00 horas (Horario Abierto)
                    h3.disabled-color
                      span
                        |{{shipping.pickup.date | amDateFormat:'ddd LL'}}
                      span(data-ng-if="shipping.pickup.schedule == '08:00-19:00'")
                        |&nbsp; entre 8:00 y 19:00 Horas.
                      span(data-ng-if="shipping.pickup.schedule == '09:00-19:00'")
                        |&nbsp; entre 9:00 y 19:00 Horas.
                      span(data-ng-if="shipping.pickup.schedule == '10:00-19:00'")
                        |&nbsp; entre 10:00 y 19:00 Horas.
                      span(data-ng-if="shipping.pickup.schedule == '11:00-19:00'")
                        |&nbsp; entre 11:00 y 19:00 Horas.
                      span(data-ng-if="shipping.pickup.schedule == '12:00-19:00'")
                        |&nbsp; entre 12:00 y 19:00 Horas.
                  md-button.md-raised.md-primary(type='submit')
                    |Solicitar Recolección
      div(data-ng-if="shipping.data.pickupConfirmation")
        h1.accent
          |Recolección
        h3.disabled-color
          |Confirmación: {{shipping.data.pickupConfirmation}}
        md-button.md-raised.md-primary(data-ng-click="shipping.cancelPickup()")
          |Cancelar Recolección
    .shipping-info
      h1.accent
        |Actualizaciones
      .row.tracking-status(data-ng-class="{'delivered': shipping.tracking.delivered.date != '', 'in-progress': shipping.tracking.delivered.date == '', }", data-ng-if="shipping.tracking")
        .row.initial-status
          .mark(data-ng-class="{'completed': shipping.tracking.created.date != '' }")
          span
            b
              |Creado&nbsp;&nbsp;&nbsp;
            span
              |[{{shipping.tracking.created.location == '' ? 'SIN UBICACIÓN' : shipping.tracking.created.location }}]&nbsp;&nbsp;&nbsp;
            span
              |{{shipping.tracking.created.date}} - {{shipping.tracking.created.time}} hrs.&nbsp;&nbsp;&nbsp;
        .row.mid-status
          .mark(data-ng-class="{'completed': shipping.tracking.in_transit.date != '' }")
          span
            b
              |En tránsito&nbsp;&nbsp;&nbsp;
            span
              |[{{shipping.tracking.in_transit.location == '' ? 'SIN UBICACIÓN' : shipping.tracking.in_transit.location }}]&nbsp;&nbsp;&nbsp;
            span
              |{{shipping.tracking.in_transit.date}} - {{shipping.tracking.in_transit.time}} hrs.&nbsp;&nbsp;&nbsp;
        .row.mid-status
          .mark(data-ng-class="{'completed': shipping.tracking.in_facilities.date != '' }")
          span
            b
              |En instalaciones de paquetería&nbsp;&nbsp;&nbsp;
            span
              |[{{shipping.tracking.in_facilities.location == '' ? 'SIN UBICACIÓN' : shipping.tracking.in_facilities.location }}]&nbsp;&nbsp;&nbsp;
            span
              |{{shipping.tracking.in_facilities.date}} - {{shipping.tracking.in_facilities.time}} hrs.&nbsp;&nbsp;&nbsp;
        .row.mid-status
          .mark(data-ng-class="{'completed': shipping.tracking.out_of_delivery.date != '' }")
          span
            b
              |En ruta de entrega&nbsp;&nbsp;&nbsp;
            span
              |[{{shipping.tracking.out_of_delivery.location == '' ? 'SIN UBICACIÓN' : shipping.tracking.out_of_delivery.location }}]&nbsp;&nbsp;&nbsp;
            span
              |{{shipping.tracking.out_of_delivery.date}} - {{shipping.tracking.out_of_delivery.time}} hrs.&nbsp;&nbsp;&nbsp;
        .row.final-status
          .mark(data-ng-class="{'completed': shipping.tracking.delivered.date != '' }")
          span
            b
              |Entregado&nbsp;&nbsp;&nbsp;
            span
              |[{{shipping.tracking.delivered.location == '' ? 'SIN UBICACIÓN' : shipping.tracking.delivered.location }}]&nbsp;&nbsp;&nbsp;
            span
              |{{shipping.tracking.delivered.date}} - {{shipping.tracking.delivered.time}} hrs.&nbsp;&nbsp;&nbsp;
      h3.disabled-color(data-ng-if="!shipping.tracking")
        |No hay actualizaciones disponibles

      h1.accent
        |Paquetes
      h3.disabled-color(data-ng-if="shipping.packages.length < 1")
        |No hay paquetes en este envio.
      table.info-table(data-ng-if="shipping.packages.length > 0")
        thead
          tr
            th
              |#
            th
              |Peso
            th
              |Largo
            th
              |Ancho
            th
              |Alto
        tbody(data-ng-repeat="item in shipping.packages")
          tr
            td
              |{{$index+1 }}
            td
              |{{item.weight}} Kgs.
            td
              |{{item.length}} cms.
            td
              |{{item.width}} cms.
            td
              |{{item.height}} cms.
    .shipping-info
      h1
        span.accent
          |Pago y Facturación: 
      h1
        span.disabled-color
          |Monto:
        span.success
          |&nbsp;{{shipping.data.paymentAmount | currency}} MXN
      h3
        span.accent
          |Pagado con:
      .card-item(data-ng-if="shipping.data.charge.brand == 'PQT'")
        h3.disabled-color
          |Cuenta Empresarial
      .card-item(data-ng-if="shipping.data.charge.brand !== 'PQT'")
        i.big.fa.fa-cc-mastercard(data-ng-if="shipping.data.charge.brand == 'MASTERCARD'")
        i.big.fa.fa-cc-visa(data-ng-if="shipping.data.charge.brand == 'VISA'")
        i.big.fa.fa-cc-amex(data-ng-if="shipping.data.charge.brand == 'AMEX'")
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        |&nbsp;
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        |&nbsp;
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        |&nbsp;
        span.termination-font
          |{{shipping.data.charge.termination}}
      h3
        span.accent
          |Comprobante Fiscal:
      .row
        .col-xs-9
          table.table.table-responsive
            thead
              th
                |Folio
              th
                |UUID
              th
                |Monto
              th
                |Por Pagar
              th
                |Status
              th
                |Liquidada
              th
                |Archivos
            tbody(data-ng-repeat="item in shipping.invoices")
              td.bold.accent
                |{{item.invoiceNo}}
              td
                |{{item.UUID}}
              td
                |{{item.amount | currency}}
              td
                |{{item.dueAmount | currency}}
              td
                span.error(data-ng-if="item.cancelled")
                  |CANCELADA
                span.success(data-ng-if="!item.cancelled")
                  |ACTIVA
              td
                span.success(data-ng-if="item.paid")
                  |SI
                span.error(data-ng-if="!item.paid")
                  |NO
              td
                a.hover-accent(ng-href="{{shell.download(item.UUID, 'pdf')}}")
                  i.fa.fa-download
                  |PDF
                a.hover-accent(ng-href="{{shell.download(item.UUID, 'xml')}}")
                  i.fa.fa-download
                  |XML
    .shipping-info
      h3
        span.accent
          |Cargos de Sobrepeso
      h3.disabled-color(data-ng-if="shipping.overWeight.length < 1")
        |No hay cargos de sobrepeso.
      .row(data-ng-if="shipping.overWeight.length > 0")
        .col-xs-9
          table.table.table-responsive
            thead
              th
                |Folio
              th
                |UUID
              th
                |Monto
              th
                |Status
              th
                |Archivos
            tbody(data-ng-repeat="item in shipping.overWeight")
              td.bold.accent
                |{{item.invoiceNo}}
              td
                |{{item.UUID}}
              td
                |{{item.amount | currency}}
              td
                span.error(data-ng-if="item.cancelled")
                  |CANCELADA
                span.success(data-ng-if="!item.cancelled")
                  |ACTIVA
              td
                div
                  a.hover-accent(ng-href="{{shell.download(item.UUID, 'pdf')}}")
                    i.fa.fa-download
                    |PDF
                div
                  a.hover-accent(ng-href="{{shell.download(item.UUID, 'xml')}}")
                    i.fa.fa-download
                    |XML
    .shipping-info
      div(data-ng-if="shipping.payments.length > 0")
        h3
          span.accent
            |Complementos de Pago:
        .row
          .col-xs-9
            table.table.table-responsive
              thead
                th
                  |Folio
                th
                  |UUID
                th
                  |Monto
                th
                  |Status
                th
                  |Archivos
              tbody(data-ng-repeat="item in shipping.payments")
                td.bold.accent
                  |{{item.invoiceNo}}
                td
                  |{{item.UUID}}
                td
                  |{{item.amount | currency}}
                td
                  span.error(data-ng-if="item.cancelled")
                    |CANCELADA
                  span.success(data-ng-if="!item.cancelled")
                    |ACTIVA
                td
                  div
                    a.hover-accent(ng-href="{{shell.download(item.UUID, 'pdf')}}")
                      i.fa.fa-download
                      |PDF
                  div
                    a.hover-accent(ng-href="{{shell.download(item.UUID, 'xml')}}")
                      i.fa.fa-download
                      |XML
    .shipping-info
      div(data-ng-if="shipping.outcomes.length > 0")
        h3
          span.accent
            |Notas de Crédito:
        .row
          .col-xs-9
            table.table.table-responsive
              thead
                th
                  |Folio
                th
                  |UUID
                th
                  |Monto
                th
                  |Status
                th
                  |Archivos
              tbody(data-ng-repeat="item in shipping.outcomes")
                td.bold.accent
                  |{{item.invoiceNo}}
                td
                  |{{item.UUID}}
                td
                  |{{item.amount | currency}}
                td
                  span.error(data-ng-if="item.cancelled")
                    |CANCELADA
                  span.success(data-ng-if="!item.cancelled")
                    |ACTIVA
                td
                  div
                    a.hover-accent(ng-href="{{shell.download(item.UUID, 'pdf')}}")
                      i.fa.fa-download
                      |PDF
                  div
                    a.hover-accent(ng-href="{{shell.download(item.UUID, 'xml')}}")
                      i.fa.fa-download
                      |XML