.dashboard-header
  .dashboard-header-content
    .dash-section-title(data-ng-bind="shell.dashboard.title")
    .dash-section-subtitle(data-ng-bind="shell.dashboard.subtitle")
.dash-name-section
  .big-text-welcome
    |¡Hola {{shell.currentUser.name}}!
  .small-text-welcome
    a(ui-sref="logout")
      |Cerrar Sesión
.dashboard-content
  h1.accent
    |Envios en curso
  h2(data-ng-if="shippings.inTransit.length < 1")
    |No hay envios en curso.
  table.dashboard-table(data-ng-if="shippings.inTransit.length > 0")
    thead
      tr
        th
          |Número de rastreo
        th
          |Carrier
        th
          |Servicio
        th
          |Status
        th
          |Fecha de creación
        th
          |Ultima Actualización
    tbody
      tr(data-ng-repeat="item in shippings.inTransit")
        td.accent.bold.medium-font.pointera(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.trackingNumber}}
        td.pointer(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.carrier}}
        td.pointer(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.service.service.name}}
        td.success.pointera(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{shell.labels.shipping[item.status]}}
        td.uppercase.pointer(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.createdAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}
        td.uppercase.pointer(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.updatedAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}
  h1.accent
    |Envios finalizados
  h2(data-ng-if="shippings.delivered.length < 1")
    |No hay envios finalizados.
  table.dashboard-table(data-ng-if="shippings.delivered.length > 0")
    thead
      tr
        th
          |Número de rastreo
        th
          |Carrier
        th
          |Servicio
        th
          |Status
        th
          |Fecha de creación
        th
          |Ultima Actualización
    tbody
      tr(data-ng-repeat="item in shippings.delivered")
        td.accent.bold.medium-font.pointer
          a(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
            |{{item.trackingNumber}}
        td.pointer
          |{{item.carrier}}
        td.pointer
          |{{item.service.service.name}}
        td.success.pointer
          |{{shell.labels.shipping[item.status]}}
        td.uppercase.pointer
          |{{item.createdAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}
        td.uppercase.pointer
          |{{item.updatedAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}