.dashboard-header
  .dashboard-header-content
    .dash-section-title(data-ng-bind="shell.dashboard.title")
    .dash-section-subtitle.hide-on-mobile(data-ng-bind="shell.dashboard.subtitle")
.dash-name-section
  .big-text-welcome
    |¡Hola {{shell.setName}}!
  .small-text-welcome
    a(ui-sref="logout")
      |Cerrar Sesión
.dashboard-content
  h1.accent
    |Envios en curso
  h2(data-ng-if="shippings.inTransit.length < 1")
    |No hay envios en curso.
  h1.accent.underline.align-center(data-ng-if="shippings.inTransit.length < 1")
    a(ui-sref="home")
      |¡Cotiza ahora mismo!
  table.table.table-responsive.table-striped.hover(data-ng-if="shippings.inTransit.length > 0")
    thead
      tr
        th
          |Número de rastreo
        th
          |Carrier
        th
          |Servicio
        th.hide-on-mobile
          |Status
        th.hide-on-mobile
          |Pagada
        th.hide-on-mobile
          |Fecha de creación
        th.hide-on-mobile
          |Ultima Actualización
    tbody
      tr(data-ng-repeat="item in shippings.inTransit")
        td.accent.bold.medium-font.pointer(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.trackingNumber}}
        td.pointer(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.carrier}}
        td.pointer(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.service.service.name}}
        td.pointer.hide-on-mobile(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{shell.labels.shipping[item.status]}}
        td.pointer.hide-on-mobile(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          span.success(data-ng-if="item.paid")
            |SI
          span.error(data-ng-if="!item.paid")
            |NO
        td.uppercase.pointer.hide-on-mobile(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.createdAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}
        td.uppercase.pointer.hide-on-mobile(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
          |{{item.updatedAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}
  h1.accent
    |Envios finalizados
  h2(data-ng-if="shippings.delivered.length < 1")
    |No hay envios finalizados.
  table.dashboard-table(data-ng-if="shippings.delivered.length > 0")
    thead
      tr
        th
          |Número de rastreo
        th
          |Carrier
        th
          |Servicio
        th.hide-on-mobile
          |Status
        th.hide-on-mobile
          |Fecha de creación
        th.hide-on-mobile
          |Ultima Actualización
    tbody
      tr(data-ng-repeat="item in shippings.delivered")
        td.accent.bold.medium-font.pointer
          a(ui-sref="dashboard.shipping({trackId:item.trackingNumber})")
            |{{item.trackingNumber}}
        td.pointer
          |{{item.carrier}}
        td.pointer
          |{{item.service.service.name}}
        td.success.pointer.hide-on-mobile
          |{{shell.labels.sh.hide-on-mobileipping[item.status]}}
        td.uppercase.pointer.hide-on-mobile
          |{{item.createdAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}
        td.uppercase.pointer.hide-on-mobile
          |{{item.updatedAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}