.resume-content
  div
    a(ui-sref="home")
      |¡Cotizar de nuevo!
.menu-container
  .menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
//- .resume-content
  //- div
    img(data-ng-src="common/images/logo-blanco.png")
  //- div
    a(ui-sref="home")
      |¡Cotizar de nuevo!
.pages
  .checkout-content
    .container-fluid
      .align-center(data-ng-if="checkout.connecting")
        .logo-color
        div(data-ng-include="'app/templates/spinner.template.html'")
        h1
          |Estamos obteniendo tu guia y etiquetas.
        h2
          |No cierres la página hasta obtener una respuesta.
      .row(data-ng-if="checkout.response")
        .col-xs-12.col-sm-6
          .section-space-right
            .logo-color
            h1.align-center.accent
              |¡Gracias por usar Paquete.MX!
            h2.disabled-color.align-center
              |¿Cómo hago mi envío?
            div
              ul
                li
                  |Descarga e imprime tu etiqueta 
                  span.accent.bold
                    |2 veces 
                  |&nbsp;( por cada paquete ).
                li
                  |Pega una de las copias en tu paquete o paquetes.
                li
                  |Si llevas tus paquetes a mostrador una copia sera sellada como acuse de recepción.
                li
                  |Puedes dar seguimiento a tu envío desde nuestro
                  a.accent.bold(ui-sref="dashboard.shippings")
                    |&nbsp;administrador.
              
            .align-center.margin-bottom-2
              md-button.md-raised.md-primary(href="http://54.245.38.66?trackingNumber={{checkout.trackingNumber}}", download)
                |Descargar Etiqueta
            h2.disabled-color
              |¿Dónde 
              span.bold
                |entregar
              |?
            a.accent.underline(href="https://www.ups.com/dropoff?loc=es_MX", target="_blank", data-ng-show="checkout.shipping.service.service == 'ups' ")
              |&nbsp;Buscar puntos de entrega 
              span.uppercase.bold.accent
                |{{checkout.shipping.service.service}}
            a.accent.underline(href="http://www.fedex.com/locate/index.html?locale=es_MX", target="_blank", data-ng-if="shipping.data.service.service.service == 'fedex'")
              |&nbsp;Buscar puntos de entrega 
              span.uppercase.bold.accent
                |{{checkout.shipping.service.service}}
            h2.disabled-color
              |o
              span.bold
                |&nbsp;Agenda
              |&nbsp;recolección en domicilio
            .align-center(data-ng-if="checkout.pickupConfirmation")
              h3.accent
                |Tu recolección fue solicitada.
              h3.disabled-color
                |Confirmación: {{checkout.pickupConfirmation}}
              md-button.md-raised.md-primary(ui-sref="home")
                |HACER OTRO ENVÍO
            div(data-ng-if="!checkout.pickupConfirmation")
              h4
                |Fecha
              form(name="checkout.pickupForm", novalidate="", data-ng-submit="checkout.sendPickUp()")
                md-datepicker(name="pickupDate",md-open-on-focus, ng-model="checkout.pickup.date", md-placeholder="Día", md-min-date="checkout.today", required)
                h4
                  |Horario
                md-radio-group(name="pickupSchedule",ng-model="checkout.pickup.schedule")
                  md-radio-button.md-primary(value="08:00-19:00")
                    |8:00 horas - 19:00 horas (Horario Abierto)
                  md-radio-button.md-primary(value="09:00-19:00")
                    |09:00 horas - 19:00 horas (Horario Abierto)
                  md-radio-button.md-primary(value="10:00-19:00")
                    |10:00 horas - 19:00 horas (Horario Abierto)
                  md-radio-button.md-primary(value="11:00-19:00")
                    |11:00 horas - 19:00 horas (Horario Abierto)
                  md-radio-button.md-primary(value="12:00-19:00")
                    |12:00 horas - 19:00 horas (Horario Abierto)
                md-button.md-raised.md-primary(type='submit')
                  |Solicitar Recolección
        .col-xs-12.col-sm-6
            .form-container
              .success-checkout
                i.fa.fa-check-circle
              .row
                .col-xs-12
                  .confirm-title.accent.margin-top-1
                    |Origen
                  div
                    .board-list
                      |{{checkout.shipping.from.street}}, {{checkout.shipping.from.number}}&nbsp;
                      span(data-ng-if="checkout.from.apt")
                        | - {{checkout.shipping..from.apt}}
                    .board-list
                      |{{checkout.shipping.from.county}}
                      span(data-ng-if="checkout.from.city")
                        |, {{checkout.shipping.from.city}}
                      span
                        |, {{checkout.shipping.from.zip}}
                    .board-list
                      |{{checkout.shipping.from.state}}
                      span.uppercase
                        |, {{checkout.shipping.from.country.name}}
                .col-xs-12
                  .confirm-title.accent.margin-top-1
                    |Destino
                  div
                    .board-list
                      |{{checkout.shipping.to.street}}, {{checkout.shipping.to.number}}&nbsp;
                      span(data-ng-if="checkout.to.apt")
                        | - {{checkout.shipping.to.apt}}
                    .board-list
                      |{{checkout.shipping.to.county}}
                      span(data-ng-if="checkout.to.city")
                        |, {{checkout.shipping.to.city}}
                      span
                        |, {{checkout.shipping.to.zip}}
                    .board-list
                      |{{checkout.shipping.to.state}}
                      span.uppercase
                        |, {{checkout.shipping.to.country.name}}
                .col-xs-12
                  .confirm-title.accent.margin-top-1
                    |Método de Pago
                  div
                    .card-item(data-ng-if="checkout.payment == 'account'")
                      .board-list
                        |Cargo a cuenta empresarial
                    .card-item(data-ng-if="checkout.card")
                      div
                        .payment-name
                          |{{checkout.card.name}}
                      div
                        i.big.fa.fa-cc-mastercard(data-ng-if="checkout.card.brand == 'MASTERCARD'")
                        i.big.fa.fa-cc-visa(data-ng-if="checkout.card.brand == 'VISA'")
                        i.big.fa.fa-cc-amex(data-ng-if="checkout.card.brand == 'AMEX'")
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        |&nbsp;
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        |&nbsp;
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        |&nbsp;
                        span.last4
                          |{{checkout.card.termination}}
                .col-xs-12
                  .confirm-title.accent.margin-top-1
                    |Guia y Etiqueta
                  div
                    .board-list(data-ng-repeat="item in checkout.labels")
                      h3.secondary-accent.align-center
                        |{{item.TrackingNumber}}
                    .board-list.align-center.margin-top-2
                      md-button.md-raised.md-primary(href="http://54.245.38.66?trackingNumber={{checkout.trackingNumber}}", download)
                        |Descargar Etiqueta
                      md-button.md-raised(ui-sref="home")
                        |Ir a mi cuenta
      .row(data-ng-hide="checkout.response || checkout.connecting")
        .col-xs-12.col-sm-6
          .section-space-right
            .form-container(data-ng-show="checkout.step=='confirm'")
              h1.accent.align-center
                |¡Confirma la información!
              div
                .container-fluid
                  .row
                    .col-xs-12
                      //- .section-space-right
                      .confirm-title.accent
                        |Origen
                      div(data-ng-if="checkout.shipping.from")
                        .board-list
                          |{{checkout.shipping.from.street}}, {{checkout.shipping.from.number}}&nbsp;
                          span(data-ng-if="checkout.shipping.from.apt")
                            | - {{checkout.shipping.from.apt}}
                        .board-list
                          |{{checkout.shipping.from.county}}
                          span(data-ng-if="checkout.shipping.from.city")
                            |, {{checkout.shipping.from.city}}
                          span
                            |, CP. {{checkout.shipping.from.zip}}
                        .board-list
                          |{{checkout.shipping.from.state}}
                          span.uppercase
                            |, {{checkout.shipping.from.country.name}}
                      .align-right
                        .anchor-section(data-ng-click="checkout.changeSection('from')")
                          |Modificar
                    .col-xs-12
                      //- .section-space-left
                      .confirm-title.accent
                        |Destino
                      div(data-ng-if="checkout.shipping.to")
                        .board-list
                          |{{checkout.shipping.to.street}}, {{checkout.shipping.to.number}}&nbsp;
                          span(data-ng-if="checkout.shipping.to.apt")
                            | - {{checkout.shipping.to.apt}}
                        .board-list
                          |{{checkout.shipping.to.county}}
                          span(data-ng-if="checkout.shipping.to.city")
                            |, {{checkout.shipping.to.city}}
                          span
                            |, CP. {{checkout.shipping.to.zip}}
                        .board-list
                          |{{checkout.shipping.to.state}}
                          span.uppercase
                            |, {{checkout.shipping.to.country.name}}
                      .align-right
                        .anchor-section(data-ng-click="checkout.changeSection('to')")
                          |Modificar
                    .col-xs-12
                      .confirm-title.accent
                        |Método de Pago
                      .card-item(data-ng-if="checkout.payment == 'account'")
                        .board-list
                          |Cargo a cuenta empresarial
                      .card-item(data-ng-if="checkout.card")
                        div
                          .payment-name
                            |{{checkout.card.name}}
                        div
                          i.big.fa.fa-cc-mastercard(data-ng-if="checkout.card.brand == 'MASTERCARD'")
                          i.big.fa.fa-cc-visa(data-ng-if="checkout.card.brand == 'VISA'")
                          i.big.fa.fa-cc-amex(data-ng-if="checkout.card.brand == 'AMEX'")
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          |&nbsp;
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          |&nbsp;
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          |&nbsp;
                          span.last4
                            |{{checkout.card.termination}}
                      .align-right
                        .anchor-section(data-ng-click="checkout.changeSection('payment')")
                          |Modificar
                    //- .col-xs-12
                      .confirm-title.accent
                        |Servicio Seleccionado
                      .service-name-checkout.uppercase
                        |{{checkout.shipping.service.service}} / {{checkout.shipping.service.name}}
                    //- .col-xs-12
                      .board-list.align-center.margin-top2
                        h1
                          |Total a Pagar:
                          span.secondary-accent
                            |&nbsp;{{checkout.shipping.service.total | currency}} MXN

                      //- div
                        .board-list
                          .item-logo(data-ng-class="{'vertical':checkout.shipping.service.service == 'ups'}")
                            img(data-ng-src="common/images/{{item.service}}.png")
                          span
                            |{{checkout.shipping.service.service}} {{checkout.shipping.service.name}}
                        |{{checkout.shipping.service}}
                div
                  .row
                    .col-xs-2
                      md-switch(ng-model="checkout.invoice",aria-label="Requiero Factura", data-ng-change="checkout.invoiceRequired()")
                    .col-xs-10
                      .padding-top-1
                        |Requiero Factura Fiscal
                  .row
                    .col-xs-2
                      md-switch(ng-model="checkout.acceptTerms",aria-label="Acepto Terminos")
                    .col-xs-10
                      |He Leído, entiendo y ACEPTO los
                      a.accent.bold(ui-sref="conditions")
                        |&nbsp; Términos y Condiciones
                      |,
                      a.accent.bold(ui-sref="privacy")
                        |&nbsp;Política de Privacidad
                      |, y estoy enterado de los 
                      a.accent.bold(uis-ref="denied")
                        |articulos prohibidos
                      |&nbsp;para envío.
                  .align-center
                    md-button.md-raised.md-primary(data-ng-click="checkout.order()")
                      |Confirmar y pagar
            .form-container(data-ng-show="checkout.step=='selectPayment'")
              h1.accent.align-center
                |¿Como deseas pagar?
              .align-center
                h3
                  |Quiero que el monto se cargue a mi cuenta Empresarial
                i.fa.fa-upload.big-icon
              .align-center
                md-button.md-raised.md-primary(data-ng-click="checkout.goToConfirm()")
                  |Cargar a mi cuenta
              .align-center
                h3
                  |Quiero pagar con Tarjeta de Crédito o Débito
                i.fa.fa-credit-card.big-icon
              .align-center
                md-button.md-raised.md-primary(data-ng-click="checkout.goToPayment()")
                  |Tarjeta Crédito o Débito
            .form-container(data-ng-show="checkout.step=='payment'")
              div(data-ng-hide="checkout.cardForm")
                h1.accent.align-center(data-ng-show="checkout.paymentMethods.length > 0")
                  |Selecciona Tarjeta
                h1.accent.align-center(data-ng-show="checkout.paymentMethods.length < 1")
                  |No tienes tarjetas registradas
                div
                  div.card-select(data-ng-repeat="item in checkout.paymentMethods", data-ng-click="checkout.selectCard(item)")
                    div
                      .payment-name
                        |{{item.name}}
                    div
                      i.big.fa.fa-cc-mastercard(data-ng-if="item.brand == 'MASTERCARD'")
                      i.big.fa.fa-cc-visa(data-ng-if="item.brand == 'VISA'")
                      i.big.fa.fa-cc-amex(data-ng-if="item.brand == 'AMEX'")
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      |&nbsp;
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      |&nbsp;
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      i.fa.fa-circle
                      |&nbsp;
                      span.last4
                        |{{item.termination}}
                .add-dashboard(data-ng-hide="checkout.cardForm")
                  i.fa.fa-plus-circle(data-ng-click="checkout.cardForm = true")
                  h2(data-ng-click="checkout.cardForm = true")
                    |¡Agregar tarjeta!
              div(data-ng-show="checkout.cardForm")
                h1.accent.align-center
                  |Agregar Tarjeta
                .margin-top-4
                  card-form( data-show-loading="shell.showLoading()", data-hide-Loading="shell.hideLoading()",data-labels="checkout.labels.payment", data-send-form="checkout.paymentMethod(response)",data-cancel-form="checkout.cancelPayment()")

            .form-container(data-ng-show="checkout.step=='login'")
              h3.align-center
                |¿Ya tienes cuenta?
              h1.accent.align-center
                |Inicia Sesión
              login-form
              h3.align-center
                |¿No tienes cuenta?
              h1.accent.align-center
                |¡Registrate!
              register-form
            .form-container(data-ng-show="checkout.step=='from'")
              h1.accent.align-center
                i.fa.fa-map-marker.margin-right-1
                |Dirección de Origen
              .margin-top-4
                address-form(data-type="checkout",data-labels="shell.labels.from",data-countries="shell.countries",data-send-form="checkout.fromAddress(response)", data-current-address="checkout.shipping.from")
            .form-container(data-ng-show="checkout.step=='contentDescription'")
              h1.accent.align-center
                i.fa.fa-envelope-open-o.margin-right-1
                |¿Qué envías?
              .margin-top-4
                //- h3.disabled-color
                  |Describe la mercancía que envías.
                form(name="shippingDesc", data-ng-submit="checkout.shippingDesc()", novalidate)
                  md-input-container.md-block
                    label(for="content")
                      |Breve descripción del contenido tu envío
                    textarea(autofocus,name="content", data-ng-model="checkout.shipping.content", required)
                    div(ng-messages="shippingDesc.content.$error")
                      div(ng-message="requied")
                        |Es requerido.
                  h4.disabled-color
                    |Verifica que no enviés materiales y/o productos prohibidos, algunos de ellos son:
                  ul
                    li
                      |Municiones
                    li
                      |Letras bancarias, billetes o moneda (que no sean monedas metálicas)
                    li
                      |Cadáveres, restos cremados o exhumados
                    li
                      |Fuegos Artificiales
                    li
                      |Desechos peligrosos
                    li
                      |Diamantes industriales
                    li
                      |Marfil
                    li
                      |Marihuana, incluyendo marihuana para uso medicinal
                    li
                      |Timbres postales
                    li
                      |Envíos prohibidos por ley
                  .align-center
                    a.accent.bold(ui-sref="denied", target="_blank")
                      |Ver la lista completa
                  .align-center.margin-top-2
                    md-button.md-raised.md-primary(type="submit")
                      |Continuar

            .form-container(data-ng-show="checkout.step=='to'")
              h1.accent.align-center
                |Dirección de Destino
                i.fa.fa-flag-checkered.margin-left-1
              .margin-top-4
                address-form(data-type="checkout",data-labels="shell.labels.to", data-countries="shell.countries",data-send-form="checkout.toAddress(response)",data-current-address="checkout.shipping.to")
        .col-xs-12.col-sm-6
          .logo-color-small
          .row
            .col-xs-12.col-sm-8.center-block
              .checkout-header.hvr-bounce-to-right.active
                h3.align-center
                  |Resumen de mi Orden
              table.confirm-order
                tr
                  td
                    h3.disabled-color
                      |Origen
                  td.disabled-color
                    h2.accent
                      span.flag-icon(class="flag-icon-{{checkout.shipping.from.country.code}}")
                      span
                        |{{checkout.shipping.from.zip}}
                    div
                      |{{checkout.shipping.from.county}}
                    div
                      |{{checkout.shipping.from.city}}

                tr
                  td
                    h3.disabled-color
                      |Destino
                  td.disabled-color
                    h2.accent
                      span.flag-icon(class="flag-icon-{{checkout.shipping.to.country.code}}")
                      span
                        |{{checkout.shipping.to.zip}}
                    div
                      |{{checkout.shipping.to.county}}
                    div
                      |{{checkout.shipping.to.state}}
                tr
                  td
                    img(data-ng-src="common/images/{{checkout.shipping.service.service}}.png", data-ng-class="{'ups':checkout.shipping.service.service == 'ups', 'fedex':checkout.shipping.service.service == 'fedex'}")
                  td
                    h2.accent
                      |{{checkout.shipping.service.name}}
                tr
                  td(colspan="2")
                    h4
                      |Entrega estimada: {{checkout.shipping.service.delivery  | amDateFormat:'DD-MMM-YY, HH:mm:ss'}} 
                    |*Fecha y hora aproximada depende de factores como fecha de envío, condiciones climaticas. 
                tr.border-top
                  td.align-right
                    h4.disabled-color
                      |Subtotal
                  td.align-right
                    h3
                      |{{checkout.shipping.service.subtotal |currency}} MXN
                tr
                  td.align-right
                    h4.disabled-color
                      |IVA(16%)
                  td.align-right
                    h3
                      |{{checkout.shipping.service.iva |currency}} MXN
                tr(data-ng-show="checkout.shipping.service.cardComision")
                  td.align-right
                    h4.disabled-color
                      |Comisión
                      span
                        |&nbsp;{{checkout.card.brand}}
                  td.align-right
                    h3
                      |{{checkout.shipping.service.cardComision |currency}} MXN 
                tr
                  td.align-right
                    h3
                      |Total a pagar
                  td.align-right
                    h2.secondary-accent
                      |{{checkout.shipping.service.total |currency}} MXN
              .align-center(data-ng-show="checkout.step == 'confirm'")
                div
                  .row
                    .col-xs-2
                      md-switch(ng-model="checkout.invoice",aria-label="Requiero Factura", data-ng-change="checkout.invoiceRequired()")
                    .col-xs-10
                      .padding-top-1
                        |Requiero Factura Fiscal
                  .row
                    .col-xs-2
                      md-switch(ng-model="checkout.acceptTerms",aria-label="Acepto Terminos")
                    .col-xs-10
                      |He Leído, entiendo y ACEPTO los
                      a.accent.bold(ui-sref="conditions")
                        |&nbsp; Términos y Condiciones
                      |,
                      a.accent.bold(ui-sref="privacy")
                        |&nbsp;Política de Privacidad
                      |, y estoy enterado de los 
                      a.accent.bold(uis-ref="denied")
                        |articulos prohibidos
                      |&nbsp;para envío.
                  .align-center
                    md-button.md-raised.md-primary(data-ng-click="checkout.order()")
                      |Confirmar y pagar
div(data-ng-include="'app/templates/footer.template.html'")