.menu-container
  .menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
.pages
  .dashboard-content
    .container-fluid
      .align-center(data-ng-if="checkout.connecting")
        .logo-color
        div(data-ng-include="'app/templates/spinner.template.html'")
        h1
          |Estamos obteniendo tu guia y etiquetas.
        h2
          |No cierres la página hasta obtener una respuesta.
      .row(data-ng-if="checkout.response")
        .col-xs-6
          .section-space-right
            .logo-color
            h1.align-center.accent
              |¡Gracias por usar Paquete.MX!
            h3.secondary-accent.align-center
              |Recuerda que entre mas envies mas descuentos obtienes.
            .align-center
              md-button.md-raised.md-primary(href="http://54.245.38.66?trackingNumber={{checkout.trackingNumber}}", download)
                |Descargar Etiqueta
            .align-center
              md-button.md-raised
                |Programar Recolección

        .col-xs-6
            .form-container
              .success-checkout
                i.fa.fa-check-circle
                
              .row
                .col-xs-6
                  h2.accent.align-center
                    |Origen
                  div.align-center
                    .board-list
                      |{{checkout.shipping.from.street}}, {{checkout.shipping.from.number}}&nbsp;
                      span(data-ng-if="checkout.from.apt")
                        | - {{checkout.shipping..from.apt}}
                    .board-list
                      |{{checkout.shipping.from.county}}
                      span(data-ng-if="checkout.from.city")
                        |, {{checkout.shipping.from.city}}
                      span
                        |, {{checkout.shipping.from.zip}}
                    .board-list
                      |{{checkout.shipping.from.state}}
                      span.uppercase
                        |, {{checkout.shipping.from.country.name}}
                .col-xs-6
                  h2.accent.align-center
                    |Destino
                  div.align-center
                    .board-list
                      |{{checkout.shipping.to.street}}, {{checkout.shipping.to.number}}&nbsp;
                      span(data-ng-if="checkout.to.apt")
                        | - {{checkout.shipping.to.apt}}
                    .board-list
                      |{{checkout.shipping.to.county}}
                      span(data-ng-if="checkout.to.city")
                        |, {{checkout.shipping.to.city}}
                      span
                        |, {{checkout.shipping.to.zip}}
                    .board-list
                      |{{checkout.shipping.to.state}}
                      span.uppercase
                        |, {{checkout.shipping.to.country.name}}
                .col-xs-6
                  h2.accent.align-center
                    |Método de Pago
                  div.align-center
                    .card-item(data-ng-if="checkout.card")
                      div
                        h3
                          |{{checkout.card.name}}
                      div
                        i.big.fa.fa-cc-mastercard(data-ng-if="checkout.card.brand == 'MC'")
                        i.big.fa.fa-cc-visa(data-ng-if="checkout.card.brand == 'VISA'")
                        i.big.fa.fa-cc-amex(data-ng-if="checkout.card.brand == 'AMERICAN_EXPRESS'")
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        |&nbsp;
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        |&nbsp;
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        i.fa.fa-circle
                        |&nbsp;
                        span
                          |{{checkout.card.last4}}
                .col-xs-6
                  h2.accent.align-center
                    |Guia y Etiqueta
                  div.align-center
                    .board-list(data-ng-repeat="item in checkout.labels")
                      |{{item.TrackingNumber}}
                    .board-list
                      md-button.md-raised.md-primary(href="http://54.245.38.66?trackingNumber={{checkout.trackingNumber}}", download)
                        |Descargar Etiqueta
      .row(data-ng-hide="checkout.response || checkout.connecting")
        .col-xs-6
          .section-space-right
            .form-container(data-ng-show="checkout.step=='confirm'")
              h1.accent.align-center
                |¡Confirma la información!
              div

                .container-fluid
                  .row
                    .col-xs-6
                      .section-space-right
                        h2
                          |Origen
                        div(data-ng-if="checkout.shipping.from")
                          .board-list
                            |{{checkout.shipping.from.street}}, {{checkout.shipping.from.number}}&nbsp;
                            span(data-ng-if="checkout.shipping.from.apt")
                              | - {{checkout.shipping.from.apt}}
                          .board-list
                            |{{checkout.shipping.from.county}}
                            span(data-ng-if="checkout.shipping.from.city")
                              |, {{checkout.shipping.from.city}}
                            span
                              |, CP. {{checkout.shipping.from.zip}}
                          .board-list
                            |{{checkout.shipping.from.state}}
                            span.uppercase
                              |, {{checkout.shipping.from.country.name}}
                        .align-right
                          .anchor-section(data-ng-click="checkout.changeSection('from')")
                            |Modificar
                    .col-xs-6
                      .section-space-left
                        h2
                          |Destino
                        div(data-ng-if="checkout.shipping.to")
                          .board-list
                            |{{checkout.shipping.to.street}}, {{checkout.shipping.to.number}}&nbsp;
                            span(data-ng-if="checkout.shipping.to.apt")
                              | - {{checkout.shipping.to.apt}}
                          .board-list
                            |{{checkout.shipping.to.county}}
                            span(data-ng-if="checkout.shipping.to.city")
                              |, {{checkout.shipping.to.city}}
                            span
                              |, CP. {{checkout.shipping.to.zip}}
                          .board-list
                            |{{checkout.shipping.to.state}}
                            span.uppercase
                              |, {{checkout.shipping.to.country.name}}
                        .align-right
                          .anchor-section(data-ng-click="checkout.changeSection('to')")
                            |Modificar
                    .col-xs-12
                      h2
                        |Método de Pago
                      .card-item(data-ng-if="checkout.card")
                        div
                          h3
                            |{{checkout.card.name}}
                        div
                          i.big.fa.fa-cc-mastercard(data-ng-if="checkout.card.brand == 'MC'")
                          i.big.fa.fa-cc-visa(data-ng-if="checkout.card.brand == 'VISA'")
                          i.big.fa.fa-cc-amex(data-ng-if="checkout.card.brand == 'AMERICAN_EXPRESS'")
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          |&nbsp;
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          |&nbsp;
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          i.fa.fa-circle
                          |&nbsp;
                          span
                            |{{checkout.card.last4}}
                      .align-right
                        .anchor-section(data-ng-click="checkout.changeSection('payment')")
                          |Modificar
                    .col-xs-12
                      h2
                        |Servicio Seleccionado
                      .container-fluid
                        .row
                          .col-xs-4
                            .item-logo(data-ng-class="{'vertical':checkout.shipping.service.service == 'ups'}")
                              img(data-ng-src="common/images/{{checkout.shipping.service.service}}.png")
                          .col-xs-4
                            .board-list
                              |{{checkout.shipping.service.billingWeight}}
                          .col-xs-4
                            .board-list
                              |{{checkout.shipping.service.name}}
                    .col-xs-12
                      .board-list.align-center
                        h1
                          |Total a Pagar:
                          span.secondary-accent
                            |&nbsp;{{checkout.shipping.service.total | currency}} MXN

                      //- div
                        .board-list
                          .item-logo(data-ng-class="{'vertical':checkout.shipping.service.service == 'ups'}")
                            img(data-ng-src="common/images/{{item.service}}.png")
                          span
                            |{{checkout.shipping.service.service}} {{checkout.shipping.service.name}}
                        |{{checkout.shipping.service}}
                .align-center
                  md-button.md-raised.md-primary(data-ng-click="checkout.order()")
                    |Confirmar y pagar
            .form-container(data-ng-show="checkout.step=='payment'")
              h1.accent.align-center
                |Selecciona Tarjeta
              div
                div.card-select(data-ng-repeat="item in checkout.paymentMethods", data-ng-click="checkout.selectCard(item)")
                  div
                    h3
                      |{{item.name}}
                  div
                    i.big.fa.fa-cc-mastercard(data-ng-if="item.brand == 'MC'")
                    i.big.fa.fa-cc-visa(data-ng-if="item.brand == 'VISA'")
                    i.big.fa.fa-cc-amex(data-ng-if="item.brand == 'AMERICAN_EXPRESS'")
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    |&nbsp;
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    |&nbsp;
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    i.fa.fa-circle
                    |&nbsp;
                    span
                      |{{item.last4}}
                .add-dashboard(data-ng-hide="checkout.cardForm")
                  i.fa.fa-plus-circle(data-ng-click="checkout.cardForm = true")
                  h2(data-ng-click="checkout.cardForm = true")
                    |¡Agregar tarjeta!
              div(data-ng-show="checkout.cardForm")
                card-form( data-labels="checkout.labels.payment", data-send-form="checkout.paymentMethod(response)")

            .form-container(data-ng-show="checkout.step=='login'")
              login-form
            .form-container(data-ng-show="checkout.step=='from'")
              h1.accent.align-center
                |Dirección de Origen
              address-form(data-type="checkout",data-labels="shell.labels", data-countries="shell.countries",data-send-form="checkout.fromAddress(response)", data-current-address="checkout.shipping.from")
            .form-container(data-ng-show="checkout.step=='to'")
              h1.accent.align-center
                |Dirección de Destino
              address-form(data-type="checkout",data-labels="shell.labels", data-countries="shell.countries",data-send-form="checkout.toAddress(response)",data-current-address="checkout.shipping.to")
        .col-xs-6
          .logo-color-small
          .checkout-header.hvr-bounce-to-right(data-ng-class="{'active':checkout.step =='from'}")
            h3
              |Selecciona el origen.
          .checkout-info(data-ng-show="checkout.step =='from'")
            .container-fluid
              .row
                .col-xs-3
                  img(data-ng-src="common/images/origen.png")
                .col-xs-9
                  .padding-side
                    h4.disabled-color
                      |Selecciona la dirección de envió, recuerda que si ya tienes cuenta puedes guardarlas para fácil acceso.
                    h3.secondary-accent
                      |¡Al final podrás solicitar tu recolección!
          .checkout-header.hvr-bounce-to-right(data-ng-class="{'active':checkout.step =='to'}")
            h3
              |Selecciona el destino.
          .checkout-info(data-ng-show="checkout.step =='to'")
            .container-fluid
              .row
                .col-xs-9
                  .padding-side
                    h4.disabled-color
                      |Selecciona la dirección de destino y quien es el destinatario.
                    h3.secondary-accent
                      |¡Guarda tus direcciones y destinatarios frecuentes desde tu cuenta!
                .col-xs-3
                  img(data-ng-src="common/images/destino.png")
          .checkout-header.hvr-bounce-to-right.hvr-bounce-to-right(data-ng-class="{'active':checkout.step =='payment'}")
            h3
              |Selecciona el método de Pago.
          .checkout-info(data-ng-show="checkout.step =='payment'")
            .card-icons
              i.fa.fa-cc-visa
              i.fa.fa-cc-amex
              i.fa.fa-cc-mastercard
            .padding-side
              h3.secondary-accent
                |¡Aceptamos tarjetas de Crédito y Débito!
              h4.disabled-color
                |Tarjetas de crédito nacionales e internacionales, expedidas por 
                span.secondary-accent
                  |VISA
                |,&nbsp;
                span.secondary-accent
                  |AMERICAN EXPRESS
                |&nbsp;o&nbsp;
                span.secondary-accent
                  |MASTERCARD.
              h4.disabled-color
                |Tarjetas de debido de 
                span.secondary-accent
                  |Banamex
                |,&nbsp;
                span
                  |HSBC
                |,&nbsp;
                span.secondary-accent
                  |Inbursa 
                |&nbsp;y&nbsp; 
                span.secondary-accent
                  |Santander
                |.
          .checkout-header.hvr-bounce-to-right.hvr-bounce-to-right(data-ng-class="{'active':checkout.step =='confirm'}")
            h3
              |Confirma y ¡Envia!
          //- .section-space-left
            .form-container
              h1.accent
                |Servicio Seleccionado
              div
                .container-fluid
                  .row
                    //- .col-xs-6
                      .section-space-right
                        h2
                          |Origen
                        div(data-ng-if="!checkout.from")
                          |Debes ingresar la dirección de origen.
                        div(data-ng-if="checkout.from")
                          .board-list
                            |{{checkout.from.street}}, {{checkout.from.number}}&nbsp;
                            span(data-ng-if="checkout.from.apt")
                              | - {{checkout.from.apt}}
                          .board-list
                            |{{checkout.from.county}}
                            span(data-ng-if="checkout.from.city")
                              |, {{checkout.from.city}}
                            span
                              |, {{checkout.from.zip}}
                          .board-list
                            |{{checkout.from.state}}
                            span.uppercase
                              |, {{checkout.from.country.name}}
                    //- .col-xs-6
                      .section-space-left
                        h2
                          |Destino
                        div(data-ng-if="!checkout.to")
                          |Debes ingresar la dirección de destino.
                        div(data-ng-if="checkout.to")
                          .board-list
                            |{{checkout.to.street}}, {{checkout.to.number}}&nbsp;
                            span(data-ng-if="checkout.to.apt")
                              | - {{checkout.to.apt}}
                          .board-list
                            |{{checkout.to.county}}
                            span(data-ng-if="checkout.to.city")
                              |, {{checkout.to.city}}
                            span
                              |, {{checkout.to.zip}}
                          .board-list
                            |{{checkout.to.state}}
                            span.uppercase
                              |, {{checkout.to.country.name}}
                    //- .col-xs-12
                      h2
                        |Método de Pago
                      div(data-ng-if="!checkout.card")
                        |Selecciona una tarjeta para realizar tu pago.
                      div(data-ng-if="checkout.card")
                        .board-list
                          |{{checkout.card.name}} 
                        .board-list
                          |{{checkout.card.brand}}
                        .board-list
                          |{{checkout.card.last4}}