.menu-container
  .menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
.pages
  .dashboard-content
    .container-fluid
      .row
        .col-xs-6
          .section-space-right
            .form-container(data-ng-show="checkout.step=='confirm'")
              md-button.md-raised(data-ng-click="checkout.order()")
                |Ordenar
            .form-container(data-ng-show="checkout.step=='payment'")
              h1.accent.align-center
                |Agrega tu Tarjeta
              div
                div.card-select(data-ng-repeat="item in checkout.paymentMethods", data-ng-click="checkout.selectCard(item)")
                  div
                    |{{item.name}}
                  div
                    |{{item.brand}}
                  div
                    |{{item.last4}}
                .add-dashboard(data-ng-hide="checkout.cardForm")
                  i.fa.fa-plus-circle(data-ng-click="checkout.cardForm = true")
                  h3(data-ng-click="checkout.cardForm = true")
                    |¡Agregar tarjeta!
              div(data-ng-show="checkout.cardForm")
                card-form( data-labels="checkout.labels.payment", data-send-form="checkout.paymentMethod(response)")

            .form-container(data-ng-show="checkout.step=='login'")
              login-form
            .form-container(data-ng-show="checkout.step=='from'")
              .form-title
                |¿Cual es el origen?
              address-form(data-type="checkout",data-labels="shell.labels", data-countries="shell.countries",data-send-form="checkout.fromAddress(response)", data-current-address="checkout.shipping.from")
            .form-container(data-ng-show="checkout.step=='to'")
              .form-title
                |Dirección de Destino
              address-form(data-type="checkout",data-labels="shell.labels", data-countries="shell.countries",data-send-form="checkout.toAddress(response)",data-current-address="checkout.shipping.to")
        .col-xs-6
          .checkout-header.hvr-bounce-to-right(data-ng-class="{'active':checkout.step =='from'}")
            h3
              |Selecciona el origen.
          .checkout-info(data-ng-show="checkout.step =='from'")
            .container-fluid
              .row
                .col-xs-3
                  img(data-ng-src="common/images/origen.png")
                .col-xs-9
                  .padding-side
                    h4
                      |Selecciona la dirección de envio y en donde se realizara la recolección.
          .checkout-header.hvr-bounce-to-right(data-ng-class="{'active':checkout.step =='to'}")
            h3
              |Selecciona el destino.
          .checkout-info(data-ng-show="checkout.step =='to'")
            .container-fluid
              .row
                .col-xs-9
                  .padding-side
                    h4
                      |Selecciona la dirección de destino y quien es el destinatario.
                .col-xs-3
                  img(data-ng-src="common/images/destino.png")
          .checkout-header.hvr-bounce-to-right.hvr-bounce-to-right(data-ng-class="{'active':checkout.step =='payment'}")
            h3
              |Selecciona el método de Pago.
          .checkout-header.hvr-bounce-to-right.hvr-bounce-to-right(data-ng-class="{'active':checkout.step =='confirm'}")
            h3
              |Confirma y ¡Envia!.
          //- .section-space-left
            .form-container
              h1.accent
                |Servicio Seleccionado
              div
                .container-fluid
                  .row
                    //- .col-xs-6
                      .section-space-right
                        h2
                          |Origen
                        div(data-ng-if="!checkout.from")
                          |Debes ingresar la dirección de origen.
                        div(data-ng-if="checkout.from")
                          .board-list
                            |{{checkout.from.street}}, {{checkout.from.number}}&nbsp;
                            span(data-ng-if="checkout.from.apt")
                              | - {{checkout.from.apt}}
                          .board-list
                            |{{checkout.from.county}}
                            span(data-ng-if="checkout.from.city")
                              |, {{checkout.from.city}}
                            span
                              |, {{checkout.from.zip}}
                          .board-list
                            |{{checkout.from.state}}
                            span.uppercase
                              |, {{checkout.from.country.name}}
                    //- .col-xs-6
                      .section-space-left
                        h2
                          |Destino
                        div(data-ng-if="!checkout.to")
                          |Debes ingresar la dirección de destino.
                        div(data-ng-if="checkout.to")
                          .board-list
                            |{{checkout.to.street}}, {{checkout.to.number}}&nbsp;
                            span(data-ng-if="checkout.to.apt")
                              | - {{checkout.to.apt}}
                          .board-list
                            |{{checkout.to.county}}
                            span(data-ng-if="checkout.to.city")
                              |, {{checkout.to.city}}
                            span
                              |, {{checkout.to.zip}}
                          .board-list
                            |{{checkout.to.state}}
                            span.uppercase
                              |, {{checkout.to.country.name}}
                    //- .col-xs-12
                      h2
                        |Método de Pago
                      div(data-ng-if="!checkout.card")
                        |Selecciona una tarjeta para realizar tu pago.
                      div(data-ng-if="checkout.card")
                        .board-list
                          |{{checkout.card.name}} 
                        .board-list
                          |{{checkout.card.brand}}
                        .board-list
                          |{{checkout.card.last4}}