.dashboard-header
  .dashboard-header-content
    .dash-section-title(data-ng-bind="shell.dashboard.title")
    .dash-section-subtitle(data-ng-bind="shell.dashboard.subtitle")
.dashboard-content
  h1(data-ng-if="payments.list.length < 1")
    |No hay pagos registrados.
  table.dashboard-table(data-ng-if="payments.list.length  > 0")
    thead
      tr
        th
          |Número de rastreo
        th
          |Monto
        th
          |Fecha de pago
        th
          |Método de Pago
    thbody
      tr(data-ng-repeat="item in payments.list")
        td
          |{{item.trackingNumber}}
        td
          |{{item.amount | currency}}
        td
          |{{item.createdAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}
        td
          |{{item.charge.brand}} **** **** **** {{item.charge.last4}}