.dashboard-header
  .dashboard-header-content
    .dash-section-title(data-ng-bind="shell.dashboard.title")
    .dash-section-subtitle(data-ng-bind="shell.dashboard.subtitle")
.dash-name-section
  .big-text-welcome
    |¡Hola {{shell.currentUser.name}}!
  .small-text-welcome
    a(ui-sref="logout")
      |Cerrar Sesión
.dashboard-content
  h1(data-ng-if="payments.list.length < 1")
    |No hay pagos registrados.
  table.table.table-responsive.table-striped(data-ng-if="payments.list.length  > 0")
    thead
      tr
        th
          |Número de rastreo
        th
          |Monto
        th
          |Fecha de pago
        th
          |Método de Pago
        th
          |Pagado
    thbody
      tr(data-ng-repeat="item in payments.list")
        td
          a.accent.medium-font.bold(ui-sref="dashboard.shipping({trackId: item.trackingNumber})")
            |{{item.trackingNumber}}
        td.bold
          |{{item.amount | currency}}
        td
          |{{item.createdAt | amDateFormat:'DD-MMM-YY, HH:mm:ss'}}
        td(data-ng-if="item.charge.brand == 'PQT'")
          |Cargo a cuenta Empresarial
        td(data-ng-if="item.charge.brand != 'PQT'")
          i.medium-font.fa.fa-cc-mastercard(data-ng-if="item.charge.brand == 'MASTERCARD'")
          i.medium-font.fa.fa-cc-visa(data-ng-if="item.charge.brand == 'VISA'")
          i.medium-font.fa.fa-cc-amex(data-ng-if="item.charge.brand == 'AMEX'")
          |&nbsp;**** **** **** {{item.charge.termination}}
        td
          span.success(data-ng-if="item.paid")
            |SI
          span.error(data-ng-if="!item.paid")
            |NO