doctype html
html(data-ng-app="app", data-ng-controller="Shell as shell")
  head
    base(href="/")
    title
      |Paquete MX
    link(rel="shortcut icon" type="image/png" href="common/images/favicon.png")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(charset="utf-8")
    //- styles
    link(rel="stylesheet" href="bower_components/angular-material/angular-material.css")
    link(rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="bower_components/flag-icon-css/css/flag-icon.min.css")
    link(rel="stylesheet" href="common/styles/loading.css")
    link(rel="stylesheet" href="common/styles/home.css")
    link(rel="stylesheet" href="common/styles/main.css")
    link(rel="stylesheet" href="common/styles/media-query.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet")


  body
    .initial-load(data-ng-class="{'loaded':shell.loaded}")
      .logo-color
    .loading-opacity(data-ng-show="shell.loading")
      div(data-ng-include="'app/templates/spinner.template.html'")
    ui-view

    //- Libraries
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/lodash/lodash.js")
    script(src="bower_components/restangular/dist/restangular.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="bower_components/angular-local-storage/dist/angular-local-storage.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-aria/angular-aria.js")
    script(src="bower_components/angular-messages/angular-messages.js")
    script(src="bower_components/angular-material/angular-material.js")
    script(src="bower_components/jquery/dist/jquery.js")



    //- Core
    script(src="app/app.module.js")
    script(src="app/initialize.js")
    script(src="app/core/core.module.js")
    script(src="app/config.js")

    //- Modules
    script(src="app/core/modules/storage.module.js")

    //- Apis
    script(src="app/core/api/user.api.js")
    script(src="app/core/api/paquete.api.js")
    script(src="app/core/api/rate.api.js")

    //- Factories
    script(src="app/core/factories/template/template.factory.js")
    script(src="app/core/factories/parse/parse.factory.js")

    //-Services
    script(src="app/core/factories/parse/parse.factory.js")
    script(src="app/core/services/storage.service.js")
    script(src="common/js/development.headers.js")

    //-Scripts
    script(src="common/js/defiant.js")

    //- Controllers
    script(src="app/shell/shell.controller.js")
    script(src="app/home/home.controller.js")
    script(src="app/login/login.controller.js")
    script(src="app/forgot/forgot.controller.js")
    //-Controllers Dahsboard
    script(src="app/dashboard/start/start.controller.js")
    script(src="app/dashboard/address/addresses.controller.js")

    //- Directives
    script(src="app/directives/auth/login/login.directive.js")
    script(src="app/directives/auth/register/register.directive.js")
    script(src="app/directives/auth/passwordMatch/passwordMatch.directive.js")
    script(src="app/directives/select-cities/selectCities.directive.js")
    script(src="app/directives/selectCountry/selectCountry.directive.js")