.dashboard-header
  .dashboard-header-content
    .dash-section-title(data-ng-bind="shell.dashboard.title")
    .dash-section-subtitle(data-ng-bind="shell.dashboard.subtitle")
.dash-name-section
  .big-text-welcome
    |¡Hola {{shell.setName}}!
  .small-text-welcome
    a(ui-sref="logout")
      |Cerrar Sesión
.dashboard-content
  .container-fluid
    .row
      .col-xs-6
        .section-space-right
          .form-container
            h1.accent.align-center
              |Mis Datos de Cuenta
            form(name="account.profile", novalidate="", data-ng-submit="account.updateProfile()")
              div(layout-xs-sm="row")
                md-input-container.md-block
                  label(for="name", data-ng-bind="account.labels.form.name")
                  input(name="name", data-ng-model="account.user.name", required="")
                  div(ng-messages="account.account.name.$error")
                    div(ng-message="required",data-ng-bind="account.labels.errors.required")
                md-input-container.md-block
                  label(for="lastname", data-ng-bind="account.labels.form.lastname")
                  input(name="lastname", data-ng-model="account.user.lastname", required="")
                  div(ng-messages="account.account.lastname.$error")
                    div(ng-message="required",data-ng-bind="account.labels.errors.required")
                md-input-container.md-block
                  label(for="username", data-ng-bind="account.labels.form.email")
                  input(name="username", type="email", data-ng-model="account.user.username", required="")
                  div(ng-messages="account.account.username.$error")
                    div(ng-message="required",data-ng-bind="account.labels.errors.required")
                md-input-container.md-block
                  label(for="phone", data-ng-bind="account.labels.form.mobile")
                  input(name="phone", data-ng-model="account.user.phone", required="", data-ng-pattern="account.mobilePattern")
                  div(ng-messages="account.account.phone.$error")
                    div(ng-message="required",data-ng-bind="account.labels.errors.required")
                    div(ng-message="pattern",data-ng-bind="account.labels.form.mobileInvalid")
              .align-center
                md-button.md-raised.md-primary(type="submit",data-ng-bind="account.labels.form.save",aria-label="account.labels.form.save")
      .col-xs-6
        .section-space-right
          .form-container
            h1.accent.align-center
              |Cambiar Contraseña
            form(name="account.password", data-ng-submit="account.updatePassword()", novalidate="")
              div(layout-xs-sm="row")
                md-input-container.md-block
                  label(for="oldPassword",data-ng-bind="account.labels.form.oldPassword")
                  input(name="oldPassword",type="password", data-ng-model="account.oldPassword", required="")
                  div(ng-messages="passwordForm.oldPassword.$error")
                    div(ng-message="required")
                      |Es requerido
                md-input-container.md-block
                  label(for="password", data-ng-bind="account.labels.form.newPassword")
                  input.pure-input-1#password(name="password", type="password" data-ng-model="account.newPassword", required="", password-match="passwordMatch")
                  div(ng-messages="passwordForm.password.$error")
                    div(ng-message="required")
                      |Es requerido
                    div(ng-message="match",data-ng-bind="account.labels.form.newPasswordNoMatch")
                md-input-container.md-block
                  label(for="confirmPassword", data-ng-bind="account.labels.form.confirmPassword")
                  input.pure-input-1(name="confirmPassword", type="password", data-ng-model="passwordMatch", required="")
                  div(ng-messages="passwordForm.password.$error")
                    div(ng-message="required")     
                      |Es requerido
              .align-center
                md-button.md-raised.md-primary(type="submit",data-ng-bind="account.labels.form.update",aria-label="account.labels.form.update")
    .row
      .col-xs-6
        .section-space-right
          .form-container.margin-top-2
            h1.accent.align-center
              |Mis datos de Facturación
            form(name="account.taxForm", novalidate="", data-ng-submit="account.updateTaxes()")
              div(layout-xs-sm="row")
                md-input-container.md-block.no-margin
                  label
                    |Requiero Factura Fiscal
                  md-switch.md-primary.margin-top-2(ng-model="account.taxes.invoice",aria-label="Requiero Factura")
                    span(data-ng-if="account.taxes.invoice")
                      |Sí
                    span(data-ng-if="!account.taxes.invoice")
                      |No
                md-input-container.md-block
                  label(for="taxId", data-ng-bind="account.labels.form.taxId")
                  input(name="taxId", data-ng-model="account.taxes.taxId", required="")
                  div(ng-messages="account.taxForm.name.$error")
                    div(ng-message="required",data-ng-bind="account.labels.errors.required")
                md-input-container.md-block
                  label(for="taxName", data-ng-bind="account.labels.form.taxName")
                  input(name="taxName", data-ng-model="account.taxes.taxName", required="")
                  div(ng-messages="account.taxForm.taxName.$error")
                    div(ng-message="required",data-ng-bind="account.labels.errors.required")
                md-input-container.md-block.margin-bottom-2
                  label(for="taxUse")
                    |Uso de CFDI:
                  md-select(data-ng-model="account.taxes.taxUse")
                    md-option(data-ng-repeat="item in account.taxUses track by item.code", value="{{item.code}}")
                      |{{item.name}}
              .align-center
                md-button.md-raised.md-primary(type="submit",data-ng-bind="account.labels.form.save",aria-label="account.labels.form.save")