.menu-container
  .menu.menu-tabs.clearfix
    div(data-ng-include="'app/templates/menu.template.html'")
.container-fluid
  .row
    .pages
      .col-xs-10.col-sm-11.center-block
        .pages-image
          .pages-main
            .logo-color
            .main-title
              h1
                |¿Te preocupa la seguridad?
              h2
                |¡A nosotros tambien! Es por eso que implementamos las mejores medidas para mantener tu información a salvo.
              .margin-top-3
                img(data-ng-src="common/images/seguridad.png")
          .page-attribute
            .container-fluid
              .row
                .col-xs-12.col-sm-6
                  h1
                    |Cifrado de datos
                  h2
                    |Cada bit de información es cifrado mediante el protocolo 
                    span.accent.bold
                      |&nbsp;SSL
                    |&nbsp;para garantizar la 
                    span.accent.bold
                      |integridad
                    |&nbsp;de los datos y las
                    span.accent.bold
                      |&nbsp;transacciones

                .col-xs-12.col-sm-6
                  .page-image-section
                    img(data-ng-src="common/images/cards.png")
          .page-attribute
            .container-fluid
              .row
                .col-xs-12.col-sm-6.pull-right
                  h1
                    |Tokenización de Tarjetas
                  h2
                    |Todas las tarjetas son 
                    span.accent.bold
                      |cifradas 
                    |&nbsp;automáticamente y convertidas en token alfanumerico.
                    span.accent.bold
                      |&nbsp;NO 
                    |&nbsp;almacenamos tu información bancaria en nuestros servidores.
                .col-xs-12.col-sm-6.pull-right
                  .page-image-section
                    img(data-ng-src="common/images/cards.png")
          .page-attribute
            .container-fluid
              .row
                .col-xs-12.col-sm-6
                  h1
                    |Infraestructura Solida
                  h2
                    |Operamos con centros de datos de primer nivel que cuentan con los mejores estándares de seguridad y redundancia de la industria.
                .col-xs-12.col-sm-6
                  .page-image-section
                    img(data-ng-src="common/images/oxxo.png")
          .page-attribute
            .container-fluid
              .row
                .col-xs-12.col-sm-6.pull-right
                  h1
                    |¡No tienes que salir a sitios externos!
                  h2
                    span.accent.bold
                      |TODAS
                    |&nbsp;las transacciones se realizán desde nuestro sitio web de 
                    span.accent.bold
                      |Paquete.mx 
                    |&nbsp;No seras redirigido a ningun portal externo.
                .col-xs-12.col-sm-6.pull-right
                  .page-image-section
                    img(data-ng-src="common/images/cards.png")
          .page-final-text
            .logo-text
            h2
              |La manera más 
              span.accent
                |SEGURA
              |&nbsp;de hacer tus envios.
div(data-ng-include="'app/templates/footer.template.html'")