.dashboard-header
  .dash-section-title
    |Mis Direcciones
  .dash-section-subtitle
    |Agrega o modifica las direcciones que más usas.
.dashboard-content
  .container-fluid
    .row
      .col-xs-6
        address-form()