.dashboard-content
  .container-fluid
    .row        
      .col-xs-6
        .section-space-left
          .form-container
            div
              .form-title
                |Actualizar Dirección
              address-form(data-labels="shell.labels", data-countries="shell.countries",data-cancel="address.cancel()",data-send-form="address.send(response)",data-loading="shell.showLoading()", data-current-address="address.data")
      .col-xs-6
        .section-space-left
          .form-container
            md-button.md-raised(data-ng-click="address.delete()")
              |Eliminar